[2020-05-22 19:14] bscheideldyrt commented on #862
No, just seeing consistent crash reports in Sentry.  We've never been able to reproduce this issue in our testing.  Here's a more complete stack trace, but that's all I have.  We've seen about 50 crashes from this one in the past week.

Can you provide any context as to what getContentPadding is doing so that we have more info to try and reproduce?

[code]

[2020-05-23 05:55] ilsuocero commented on #862
I move forward making many tests.
The configuration that is working is this one:

`          <MapboxGL.Camera
            ref={ref => this.camera = ref}
            zoomLevel={this.state.zoom}
            centerCoordinate={this.state.coordinates}
          />`

and for positioning the camera:

`this.camera.setCamera({
            centerCoordinate: this.state.coordinates,
            zoomLevel: thi

[2020-05-23 09:55] fcandi opened #884 "Component unmount and mount again when using with Stack-Navigation / React Navigation"
**Describe the bug**
I am using the component together with Stack-Navigation to open a Detail Screen when pressing on the Map. When I navigate to the seconds screen, the Component dismounts, mounts again and is loading all styles and sources, resetting everything.

**To Reproduce**
I tested several ways, also with a single Button on thee screen with the Map. Every Change of the screen will unmount

[2020-05-23 09:58] mfazekas commented on #884
@fcandi pls fill out the form - it's not clear what the issue is and how to reproduce it

[2020-05-23 10:03] fcandi commented on #884
Sorry, for some reason I posted the form with some keyboard stroke, now its edited. Thanks for replying sooo fast ;)

[2020-05-23 18:25] baijii commented on #869
This is kind of blocking for me as well. The problem does not occur with `renderMode="normal"`

Maybe it's somehing there:
https://github.com/react-native-mapbox-gl/maps/blob/master/android/rctmgl/src/main/java/com/mapbox/rctmgl/components/location/RCTMGLNativeUserLocation.java#L61

[code]

I tried copying the PermissionsManager-Lines to the other method to have that early return. But it didn't wo

[2020-05-24 15:06] kamiranoff commented on #882
`MarkerView` is in the latest version. We thought it was missing too but only the types are missing.
As stated in this [issue](https://github.com/react-native-mapbox-gl/maps/issues/829)

[2020-05-25 07:49] peterleng commented on #228
It still happened in 8.0.0, any suggestion?

[2020-05-25 08:13] peterleng opened #885 "Crash when set a iconImage in SymbolLayer on iOS platform, and it is not every time"
🚨🚨🚨
* A crash happened when load the Mapbox, but this is not every time, just occasionally
* iOS platform

🚨🚨🚨

**Describe the bug**
Code is below like that, and open app load Mapbox, some time crash.

Example:
[code]

**Expected behavior**
[code]

**Versions (please complete the following information):**
 - Platform: iOS
 - Device: iPhone11
 - Emulator/ Simulator: no
 - OS: iOS13.4.1
 - react-nat

[2020-05-25 08:56] mfazekas commented on #885
@peterleng thanks to the report.
Please also include the exception message with the stack trace.

Also note that the sample you've included is not complete. No symbol source, no images - we don't even know if `Images` are assets, or urls?!
So it's not something we can effectively use to reproduce the issue.

Also please try with the latest version 8.1.0 or master

[2020-05-25 09:07] peterleng commented on #885
@mfazekas The images all are the local files. And all loaded before use them use `MapboxGL.Images`, in above codes.
![image](https://user-images.githubusercontent.com/7566681/82797462-b154ae80-9ea9-11ea-9b8a-f077e28647ed.png)

And the source is like this:
![image](https://user-images.githubusercontent.com/7566681/82797651-f842a400-9ea9-11ea-8d80-ca2e54ee519e.png)

[2020-05-25 09:58] mfazekas commented on #885
@peterleng thanks for the clarifications.

It's still not something i can run to try to reproduce and fix the issue.
This comment bellow for example contains a complete sample one can run:
https://github.com/react-native-mapbox-gl/maps/issues/774#issuecomment-609802802
Such minimal but complete reproduction would be great.

Also the posted stacktrace doesn't really match the code.
The error would

[2020-05-25 14:29] SergueyPutilin opened #886 "Shapesource clusterProperties"
Hi!
From an issue that I found in this repository, it seems like you guys are working on it. If so, do you know when you are going to release it?
Thanks!

[2020-05-25 16:13] Julious1994 opened #887 "App crashes on using PointAnnotation in loop with below error"
**Describe the bug**
When i am using Point annonation in loop or conditional way to render point then many times it crashes an app.
1. Crashes an app
2. Point annotation loads image on second time. Even refresh prop use also do nothing.

![LongScreenshot_2020-05-18-23-12-06](https://user-images.githubusercontent.com/16513909/82828920-b6c4ef80-9ecf-11ea-8d08-fc206246e532.png)

**To Reproduce**
This

[2020-05-25 16:44] mfazekas commented on #887
@Julious1994 thanks for the report. From the stack trace it looks the crash is happening at removal of PointAnnotation. But kind of doesn't make sense as we should have a mapView there.

Or maye the PointAnnotation gets removed before tha map was set up fully?! So we haven't really added it to the map yet?!

https://github.com/react-native-mapbox-gl/maps/blob/d6dd26340b539a5b7e0634e4658dd4a5f572c7

[2020-05-25 17:23] Julious1994 commented on #887
@mfazekas Thanks for reply.
Is there any work around solution?

[2020-05-25 18:30] mfazekas commented on #887
@Julious1994 can you repro in a standalone example?!

I cannot run you example as it uses `_centers` etc. Can you just put dummy data, so i can repro the issue too?!

[2020-05-25 18:39] alex-mironov opened #888 "Help needed - is it ok to change contentInset?"
After reading the documentation I still do not fully understand if changing `contentInset` property is fine or it's intended for initial offsets only.

What I'm trying to achieve is to open the details view at the bottom after tapping on the pin. At the same time, I'd like to re-center map view excluding the space taken by details view.

Is `contentInset` is designed for such use cases?

Appreciat

[2020-05-25 19:02] sarahberraadi commented on #565
what about MapBoxShowDirection with reactjs

[2020-05-25 20:37] xander18 commented on #565
https://docs.mapbox.com/help/tutorials/use-mapbox-gl-js-with-react/

if you have issue to make it i can try to help you

[2020-05-26 04:19] peterleng commented on #885
I fixed this issue.
Maybe this is because I have used some local image require in the Layer component but not been init in the MapboxGL.Image. I change all the images init in the MapboxGL.Image before use them in the Layers, then this issue is gone.

[2020-05-26 04:19] #885 closed

[2020-05-26 05:56] #888 closed

[2020-05-26 05:58] mfazekas commented on #886
See #693

[2020-05-26 05:58] #886 closed

[2020-05-26 09:57] chamilacnb opened #889 "I get this when run the example project"
![image](https://user-images.githubusercontent.com/60600065/82887276-67c99980-9f65-11ea-96c1-eded88728232.png)

[2020-05-26 09:59] chamilacnb commented on #889
Cleaned the cache and all but didn't helped

[2020-05-26 10:58] chamilacnb opened #890 "How to add color to <MapboxGL.PointAnnotation />"

[2020-05-26 11:17] #890 closed

[2020-05-26 12:15] sullix opened #891 "Pitch not compatible with following the user location"
**Describe the bug**

When I put the attributes in order to follow the user location (followUserLocation to true, and followUserMode to FollowWithCourse/FollowWithHeading)  together with a pitch (even the value `0`), the follow does not work.

**To Reproduce**

[code]

When the line `pitch={this.state.isTrackingRoute ? 50 : 0}` is commented, the "follow" is working as expected. Whereas, when it's

[2020-05-26 12:16] mfazekas commented on #889
@chamilacnb thanks for the report.

I'm trying to track down this issue as it happens in our CI env too.

[code]

https://travis-ci.org/github/react-native-mapbox-gl/maps/jobs/688497563

Can you share some info about your environment?! Is this android?! On what OS?! What npm version?!
Can your run
`npx react-native info` and post the output here?!

[2020-05-26 12:19] chamilacnb commented on #889
Sure will update that, I have a small problem, I need to implement clustering using this package, will you be able to share some doc to start on that

[2020-05-26 19:00] bscheideldyrt commented on #862
@ilsuocero Were you able to reproduce the issue consistently?  I haven't been able to so it's unclear how to verify any potential fix.  What you are doing now looks very similar to what we were doing when we were hitting the issue.

And it's still not clear why `getContentPadding` is blowing up.

[2020-05-26 19:08] bscheideldyrt commented on #862
https://github.com/mapbox/mapbox-gl-native-android/issues/400

[2020-05-27 08:08] chamilacnb commented on #889
Its Android
No changes to the code, repo as it is,
System:
    OS: macOS 10.15.4
    CPU: (8) x64 Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz
    Memory: 304.83 MB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 13.7.0 - /usr/local/bin/node
    Yarn: 1.21.1 - /usr/local/bin/yarn
    npm: 6.14.5 - ~/Documents/WorkDir/OutDoor_POC_Sample_mapbox/example/node_modules/.bin/npm
    Watchman:

[2020-05-27 08:38] JordanProtin commented on #887
Hi !

I get the same issue by using PointAnnotation in loop

[2020-05-27 11:23] #889 closed

[2020-05-27 15:33] heron2014 commented on #621
A little hack to solve the black flash, set opacity state to 0 and on onDidFinishLoadingMap set it to 1

[code]

Not the proper solution but it fixes temporarily

[2020-05-27 17:02] Glassig opened #893 "Markerview is visible outside of map view"
**Describe the bug**
The Markerview component renders outside of map. If the map doesn't cover the entire screen, the Markerview can still be seen when the map is moved so the dot is outside the visible map.
I have checked on a physical device, and the problem remains.

**To Reproduce**
Create a map that isn't fullscreen, and then add a Markerview component that has some styling.

_(A sidenote: I

[2020-05-28 08:50] shashank1501 commented on #469
I'm having the same issue on Android, React Native 0.62.2, Mapbox-gl 8.1.0-beta.1.
![Screenshot_2020-05-28-14-13-24](https://user-images.githubusercontent.com/60471796/83120134-40ea9f00-a0ee-11ea-881a-c50b8e37ee8d.png)

[2020-05-28 08:58] shashank1501 commented on #469
I am experiencing a similar issue with Point Annotations on Android, react Native 0.62.2,mapbox-gl 8.1.0-beta.1
![Screenshot_2020-05-28-14-13-24](https://user-images.githubusercontent.com/60471796/83120957-59a78480-a0ef-11ea-8837-f14375e80cd1.png)
`<MapboxGL.MapView style={{flex: 1}}>
          <MapboxGL.Camera centerCoordinate={[77.56, 28.67]} zoomLevel={10} />
          <MapboxGL.PointAnnotation

[2020-05-28 14:15] Julious1994 commented on #887
[code]

@mfazekas
Sorry for late reply.
Ask me if anything else you need

Thanks

[2020-05-28 15:21] SergueyPutilin opened #894 "Multiple ALL and/or ANY expressions in case expressions causes crash"
**Describe the bug**
I am trying to make a case expressions that uses multiple all expressions in a lineLayer, but I noticed that having more than 1 "all" or "any" expression in a case expression causes my app to crash without an error.

**To Reproduce**
here is a an example of the expression
[code]
**Expected behavior**
I think this expression should work, because this works in on the website equ

[2020-05-28 20:30] martis347 opened #895 "SymbolLayer component image flickering/fading after coordinate change"
**Describe the bug**
Image in `SymbolLayer` component flickers (has a visible change in opacity) when `ShapeSource` shape prop changes into a different value.
This happens only when MapView is zoomed in. If I zoom out up to a specific level - flickering stops.
That can be seen in the attached gif.

**To Reproduce**
[code]

**Expected behavior**
`SymbolLayer` component should move smoothly without

[2020-05-28 22:07] JordanProtin commented on #887
If it's necessary, I can also make different tests to help ! I get the same issue in my project.

[2020-05-29 09:50] baijii opened #896 "UserLocation lags behind in followUserMode="compass" when moving"
In my app I want to have a pedestrian route to follow. If I am walking quite fast, the UserLocation is just updating stepwise (some meters, wait half a second, some meters again…). This is especially annoying as soon as I switch the app to background, walk 200 meters and open the app again. Now it takes me several seconds until the users annotation is at its actual location.

This is only happenin

[2020-05-29 09:51] baijii commented on #857
With the newly `renderMode="native"` this bug is obsolete, as it now have the proper native heading indicator.

[2020-05-30 10:35] dancherb opened #897 "Unable to set a worldview (to change displayed borders)"
Hello - I'm struggling from the documentation to see how to set a worldview for the map. I'm using a Mapbox map from a style URL, derived from one of the basic style templates.

Ideally, I'd like to change the country boundaries and labels based on whether a user is in India or the US. As a fallback, I'd be happy to set a fixed worldview (in this case IN) - e.g. from Mapbox Studio for the style it

[2020-05-31 05:44] mahipalsingh7 opened #898 "MapboxGL.MarkerView is not available in Typescript : Property 'MarkerView' does not exist on type 'typeof MapboxGL'.ts(2339)"
I'm getting error  **Property 'MarkerView' does not exist on type 'typeof MapboxGL'.ts(2339)** in my react-native project , i'm using Typescript.
I have also tried `npm install @types/react-native-mapbox-gl/maps` but i think lib not support typescript. Please help i'm stuck due to MarkerView

react-native: 0.62.2,
"@react-native-mapbox-gl/maps": "^8.1.0-beta.1",

[2020-05-31 18:35] #897 closed

[2020-05-31 18:41] dancherb commented on #897
Hello robot. I'll check out Gitter but I'm a bit weirded out that you can only log in via GitHub (will this also bother any organizations I'm affiliated with?) and GitLab (why does this need read/write access to my projects?)

[2020-05-31 19:03] dancherb commented on #897
Would still appreciate some input here, can consider this post as an issue with the documentation for worldview and similar filters even if it's not re-opened.

[2020-06-01 06:03] mfazekas commented on #897
@dancherb We have the ability to set filter for layers created in RNMBGL. So if you add those layers yourself it should work.

https://docs.mapbox.com/help/tutorials/get-started-mapbox-boundaries/

We don't have a way to refer to existing layers at the moment AFAIK, in future that could work like this:

[code]

[2020-06-01 07:23] Return-1 opened #900 "Cannot find feature ( potentially feature request )"
I am not sure where to submit feature requests so i will be starting out here.

Unless this is implemented and i have missed it, is there anything on the roadmap relating to static maps? Loading an the entire mapbox map for display purposes ( on a list ) is somewhat heavy.

If this is not in the roadmap i believe the suggested approach would be to use something like SnapshotManager in the backgrou

[2020-06-01 10:55] kamiranoff commented on #898
you can still use MarkerView. Just the types are missing.

[2020-06-01 16:35] nasmuris commented on #869
Just  started to examine the issue and I'm having troubles with the `LocationComponentManager` being updated from both `RCTMGLNativeUserLocation` and `RCTMGLCamera`
from my point of view the userLocation related props (`followUserLocation`, `followUserMode`, `followZoomLevel`, `followPitch`, `followHeading`) should be part of `UserLocation` component, not the `Camera` itself as I can see those com

[2020-06-01 21:02] sauhardar commented on #274
I tried to use a PointAnnotation component on Android as a marker but soon realized it is not interactive. Since I need an interactive component (on which has `onPress` functionality, I reverted to using MarkerView. However, I realized that MarkerView has very poor performance on Android. While moving around the map, the component seems to lag. Any replacement component that is also interactive? @

[2020-06-02 11:07] Taakn commented on #756
Just for the record, if coordinates is empty app crashes as well

[code]

[2020-06-02 14:33] nastyakitsune opened #901 "Offline Manager Pack Size"
Hi, guys, thanks for your work!

Not issue, but a question: is there any way to get offline pack size before its downloading to deal with device storage free space? Some packs seem to be large, so it would be useful to know that pack can not be stored on disk.

[2020-06-02 14:44] #901 closed

[2020-06-02 15:11] sauhardar commented on #565
@SherozeAli @xander18 , do you understand what this `index 1, code 0` error is or where it's coming from? I've encountered it before, but I'm not sure about why that comes up—stackoverflow is no use here. Seems like it's an Android-only issue too.

[2020-06-02 15:35] sauhardar commented on #245
How is this done?

[2020-06-02 17:52] xander18 commented on #565
its an android issue i'll fix it gimme 5min its just a android config issue my example was only for ios that why you've got this error sry

[2020-06-02 17:54] sauhardar commented on #565
@xander18 , I have some questions about markers, do you think I can email you?

[2020-06-02 18:00] xander18 commented on #565
https://discord.gg/Bc8D7Q

[2020-06-02 18:06] xander18 commented on #565
join me on this discord faster https://discord.gg/Bc8D7Q

Le mar. 2 juin 2020 à 19:54, Sauharda Rajbhandari <notifications@github.com>
a écrit :

--

Al Akkad Youssef

LD: 07 81 94 74 07

Site Web : http://youssef-alakkad.com/

Twitter : https://twitter.com/LittleYouss

Linkedin : http://www.linkedin.com/pub/youssef-al-akkad/82/222/139

[2020-06-02 23:42] MichalPaszkiewicz opened #902 "Library does not expose “ClearAmbientCache” and “SetAmbientCache” methods"
As far as I can see, these methods are available normally in MapBox and we require them to have more detailed control of our cache...

https://docs.mapbox.com/android/maps/overview/cache-management/

[2020-06-03 04:34] #900 closed

[2020-06-03 15:41] sauhardar commented on #17
@mfazekas, how is a custom location component used to display the user's location and direction?

[2020-06-03 16:30] JordanProtin commented on #887
up ! @mfazekas
@Julious1994 do you still have this bug ?

[2020-06-03 17:47] mfazekas commented on #898
SHould be fixed by #849

[2020-06-03 17:53] sauhardar commented on #266
@horva , is this functional for Android to or just iOS?

[2020-06-03 18:02] mfazekas commented on #887
@JordanProtin yes please,  if you can submit an example that i can run without putting the parts together that would be awesome.

Something like https://github.com/react-native-mapbox-gl/maps/blob/master/example/src/examples/BugReportExample.js

[2020-06-04 05:54] martis347 commented on #895
Yep, this is run on my actual device, Huawei Mate 20 with android 10.

[2020-06-04 08:08] JordanProtin commented on #887
@mfazekas for sure !

This is a [single example component](https://gist.github.com/JordanProtin/b42c73d990e9c3c38663f636fb16b754) that represents this bug.
Please note I get this bug randomly, it doesn't happen all the time, and I don't know why.

Thank you for your help !

[2020-06-04 11:22] ferdicus commented on #17
@sauhardar, pass in for example a `SymbolLayer` with an image source of your choosing and it will get rendered instead of the blue dot

[2020-06-04 17:35] Julious1994 commented on #887
Yes @JordanProtin still getting issue.

[2020-06-04 18:23] Beamanator commented on #353
I'm using v7.0.8, and this solved this exact crash for me: https://github.com/mapbox/mapbox-gl-native/issues/14428#issuecomment-585883399

[2020-06-04 22:48] sauhardar commented on #857
@baijii , `renderMode="native"` is throwing an error for me on Android?

[2020-06-04 22:55] sauhardar commented on #857
@baijii Do you know why `renderMode="native"` prop may not be working for me on my UserLocation component? I'm on `"@react-native-mapbox-gl/maps": "^8.1.0-beta.1"`

[2020-06-05 02:30] sauhardar commented on #595
Is there a way to customize the compass?

[2020-06-05 07:50] baijii commented on #857
@sauhardar Not working in general? If it is only on Android, it may be this: https://github.com/react-native-mapbox-gl/maps/issues/869

[2020-06-05 22:17] sauhardar commented on #437
Is `renderMode={'custom'}` not a prop of `UserLocation` yet? I'm on `"@react-native-mapbox-gl/maps": "^8.1.0-beta.1",` and it doesn't seem to be a valid prop.

[2020-06-06 04:06] sauhardar commented on #857
@baijii not working at all

[2020-06-06 06:41] mfazekas commented on #437
@sauhardar we've removed renderMode is now either `native` or `normal`
`custom` was same as `normal`, so we've removed it.

To custom location icon just supply a children to `UserLocation` in `normal` render mode

[2020-06-06 08:23] baijii commented on #857
@sauhardar Yes, I know. I have the same problem. For iOS this is no problem, but for Android I won't get it to work. The reason for this is: #869

[2020-06-06 16:34] angelos3lex opened #906 "java.lang.RuntimeException: Duplicate class com.mapbox.mapboxsdk.plugins.annotation."
**Versions:**
 - Platform: [Android]
 - Emulator/ Simulator: [yes]
 - react-native-mapbox-gl Version [8.1.0-beta.1]
 - React Native Version [0.61.5]

I'm trying to install this lib alongside with `mapbox-android-navigation-ui:0.34.0`
In my RN project, i have implemented a manual bridge so that i can use the mapbox navigation. But, on another view, i need to display the mapbox maps that are offered

[2020-06-06 16:59] sauhardar commented on #437
@mfazekas , but renderMode is not a valid prop for `UserLocation`?

[2020-06-06 17:21] angelos3lex commented on #906
Changing

[code]

to

[code]
did the trick for me.

[2020-06-06 17:21] #906 closed

[2020-06-06 20:02] mfazekas commented on #437
@sauhardar it should be there on 8.1 beta.

[2020-06-06 21:16] RichardLindhout commented on #437
Maybe Typescript issue?

[2020-06-07 08:53] baijii commented on #869
@nasmuris This could also be the source of many issues I have. So does the `followPitch` and `followZoomLevel` only sometimes apply (kind of a race condition, I guess). Also observing and setting the trackingMode via `onUserTrackingModeChange` could lead in an infinity loop of resetting the trackingModes.

[2020-06-08 03:14] markmoomoo commented on #560
<MapboxGL.UserLocation ref={(location) => {console.log({location})}} />
then you can get corrent location and use the ref of camera method this.camera.moveTo([lng, lat])

[2020-06-08 04:41] lukemcgregor opened #907 "Black tiles when using custom styleURL"
**Describe the bug**
When I have a map with a custom style url and some dynamically updating content I get black tiles on some android devices (including the sim).

![ezgif-6-dfb828a5ce3e](https://user-images.githubusercontent.com/1284608/83993543-d36d2700-a9a7-11ea-8c09-9475be27f844.gif)

**To Reproduce**
Ive put together a repro case to play with here https://github.com/lukemcgregor/mapbox-sdf-s

[2020-06-08 07:27] tinmar33 commented on #437
<img width="158" alt="image" src="https://user-images.githubusercontent.com/7252474/84003289-15777800-a96a-11ea-8932-64bb8f71c6d7.png">
@mfazekas Is the arrow direction a native feature or i need to use the @ethaqnix solution to display it ?

[2020-06-08 07:27] mfazekas commented on #907
Based on gitter my undestranding is that https://github.com/mapbox/mapbox-gl-native/issues/14604 fixes the issue

[2020-06-08 07:27] #907 closed

[2020-06-08 10:36] lukemcgregor commented on #806
Not stale, still an issue

[2020-06-08 12:45] JordanProtin commented on #887
Hi @mfazekas !

I'm sorry to ask you a quickly response.
Could you checks out my script and this bug ?

Best regards.

[2020-06-08 15:48] mfazekas commented on #887
@JordanProtin I built the example, needed some minor modifications - remove svg, and added missing `this.`.

But it's not crashing for me. What should i do to repro the crash?!

[code]

[2020-06-08 18:51] bboure commented on #293
@mfazekas  Like @kylebarron I am not using Mapbox but another provider, and I am getting the same error.
I should not need to provide a Mapbox API key.
on IOS it works fine.

For now a workaround is to call
[code]

HOwever, this causes an request to mapbox with a 401 error.
The rest works fine.

[2020-06-08 19:02] mfazekas commented on #293
@bboure can you try `MapboxGL.setAccessToken(null)` that should work with no req to mapbox

[2020-06-08 19:43] #887 closed

[2020-06-08 19:44] mfazekas commented on #887
@JordanProtin i could not repro the issue with example. I've made a potential fix - see #908. Can you try with current master to see if it fixes the issue?!

[2020-06-08 20:58] sauhardar commented on #437
@mfazekas I'm using 8.1 beta, and I'm having issues. Giving UserLocation the prop `renderMode="normal"` with a child component of SymbolLayer does not work for me on Android. Actually, the app just crashes almost instantly.

[2020-06-08 21:38] JordanProtin commented on #887
@mfazekas Thank you for your quickly feedback !
I'm sorry about the missing `this.` ...

Yes, I suspected this result.. As I could say, I get this bug randomly, therefore it's very difficult for me to reproduce and identify the cause. But I just get the same error message that @Julious1994 has posted in my production logs by using Crashlytics.

But I can say that bug often occurs shortly after the

[2020-06-08 21:50] bboure commented on #293
@mfazekas thanks for you help. Using null seems to work.

However, it gives a [TS error](https://github.com/react-native-mapbox-gl/maps/blob/master/index.d.ts#L114) because the accessToken is not nullable.

[code]
works too.

It might be useful to put that somewhere in the doc.

On a side note, the reason because `setAccessToken` is required on Android, is because otherwise [getInstance()](https:/

[2020-06-09 10:20] flo5324 opened #909 "Attempt to invoke virtual method 'offscreenAnnotationViewContainer()' on a null object reference RCTMGLPointAnnotation.removeFromMap"
**Describe the bug**
This crash happens in my release build. It seems to be a silent crash that doesn't affect react native. But this bug occurs quite a lot.
The app consist of a map displaying PointAnnotation for locations and routes.
The locations are generated from a map() on an array. Markers can be removed or added with filters.

This bug seems to happen more ofter on Samsung and Huawei devic

[2020-06-09 10:37] flo5324 commented on #909
I just discovered that this might be fixed with #908
I'll switch to this version but this looks promising

[2020-06-09 12:51] Appkidd commented on #895
Also experiencing this on iOS.

[2020-06-09 13:23] Appkidd opened #910 "SymbolLayer fading out when zooming out of map"
**Describe the bug**
SymbolLayer is flickering/fading when zooming out (in sync with text labels on the map).

**To Reproduce**
Zoom out of the map.

[code]

**Expected behavior**
The SymbolLayer should not be flickering.

**Screenshots**
![Demo gif](https://i.stack.imgur.com/BJcD4.gif)

**Versions (please complete the following information):**
 - Platform: iOS
 - Device: iPhone 8
 - Emulator/ Sim

[2020-06-09 13:51] Appkidd commented on #910
Downgrading SDK to mapbox-gl-native-ios@5.8.0 fixes the issue.

[2020-06-09 13:51] #910 closed

[2020-06-09 14:23] #770 closed

[2020-06-09 15:15] mfazekas commented on #909
Should be fixed by  #908

[2020-06-09 15:15] #909 closed

[2020-06-09 15:23] #693 closed

[2020-06-09 16:41] ricardonogues commented on #235
@GituBojan Hi,
Have you found any solution to this?

[2020-06-09 21:08] Ben-WD opened #912 "Typescript: Problems with Typings for Expressin"
**Describe the bug**
VSCode complains about a type error, but everything is working as expected.

**To Reproduce**
Create a typescript component:

[code]

Error:
[code]

**Expected behavior**
No type errors should be shown since everything is working

**Versions (please complete the following information):**
 - Platform: iOS
 - react-native-mapbox-gl Version: 8.0.0
 - React Native Version 0.62.2

[2020-06-10 04:02] peterleng commented on #896
I have the same problem. How do you solve it?

[2020-06-11 06:47] awind commented on #807
Maybe this will help you https://stackoverflow.com/questions/58397237/react-native-mapbox-issue/62318576#62318576

[2020-06-11 06:54] awind commented on #359
In my case, the native module package is not added properly.

In the install example, it is needed to add the `RCTMGLPackage` in the override of `getPackages` function, but I have a `ReactInstanceManager` instance in MainActivity which added the package list when init.

In this case, it's needed to add `RCTMGLPackage` when init `ReactInstanceManager`.

[code]

[2020-06-11 08:15] simonmitchell opened #913 "A simple 'has' filter on MapboxGL.FillLayer is causing the app to crash"
**Describe the bug**
When adding a simple `has` filter onto a `MapboxGL.FillLayer` (Or `LineLayer`) when a tile appears for the `VectorSource` we are using, there is a crash in the native mbgl library.

**To Reproduce**
Steps to reproduce the behavior.

When adding a map with a given `mvt` based `VectorSource` and applying a filter based on one of the properties on the tiles, the iOS app crashes.

[2020-06-11 09:29] mfazekas commented on #913
@simonmitchell thanks for the report, when priting out the exception i see
`"feature referenced out of range key"`

Xcode add symbolic breakpoint for c++ exceptions and execute debugger action:
po ((std::exception*)$arg1)->what()

Sound like coming from here:
https://github.com/mapbox/vector-tile/blob/master/include/mapbox/vector_tile.hpp#L170

Not sure what it has to do with filter presence

[2020-06-11 11:05] simonmitchell commented on #913
@mfazekas thanks for the quick response! Is this something I need to flag in the upstream repo then as it seems the issue lies there?

I've actually managed to now find the issue with another tile server we're using! I'll see if the breakpoint gives the same exception!

[2020-06-11 11:31] mfazekas commented on #913
@simonmitchell ideally yes,  it needs to be reproed in ObjC and reported upstream. There not much we can do here. ReactNativeMapboxGL is ReactNative akd JS/ObjC and it uses MapboxGL-IOS which is ObjC which uses MapboxGL which is C++. The C++ layer has exception, ideally it should probagate to ObjC layer, then we would have  chance to propagate to JS layer.

[2020-06-11 11:44] simonmitchell commented on #913
Okay, great, I'll see what I can do about that! We've found a possible work around for now on Android at least, which is most of our user-base.

[2020-06-11 15:03] xseignard opened #914 "Programmatically bring to front a MarkerView"
**Describe the bug**
I need to keep in sync an horizontal FlatList and it's corresponding MarkerView on a map. So a good idea would be to be able to programmatically bring to front the MarkerView when scrolling from the FlatList

I tried to add some `bringToFront`/`bringToBack` to RNMGL MarkerView successfully to android, but I'm struggling with the ios version.

So far I tried the following appro

[2020-06-11 15:16] AlphaGolf33 opened #915 "UserLocation stops update when an other UserLocation is unmounted"
**Describe the bug**
When an `UserLocation` is unmounted, the others `UserLocation` stop updating

**To Reproduce**
Create two components like
[code]
When one component is unmonted, the user location icon stop moving on the other component.

**Expected behavior**
The user location icon should keep follow user position.

**Versions**
 - Platform: Android + iOS
 - Device: Samsung Galaxy Note 4 + iPh

[2020-06-11 18:08] mfazekas commented on #914
@xseignard thanks for the report. Can you also post a simple and single standalone component that reproduces the issue?!

[2020-06-11 18:12] mfazekas commented on #915
@AlphaGolf33 thanks for the bugreport.

Yeah I guess on solution would be to make start and stop could be reference counted in `LocationManager`

The other is to add an auto/start stop default to `LocationManager` where it's started if there is listeners and it's stopped if there are no listeners any more.

[2020-06-11 18:25] mahipalsingh7 opened #916 "Polygon is not draggable"
I drawn a polygon using **MapboxGL.ShapeSource** and added **MapboxGLView.PointAnnotation** on every point to make points draggable.

But i'm facing issues

1. When i finish the draw of Polygon , i'm not able to move or drag the complete polygon
2. Points of Polygon are draggable in iOS but not working in Android (only first point is draggable rest are not working)

can anyone please help me how c

[2020-06-11 21:09] psusmars commented on #617
@dancherb Would you be able to clarify the "absolute ordering" you did to resolve the issue? I'm having a similar problem with my application

[2020-06-11 21:13] dancherb commented on #617
@psusmars I just had to ensure that the coloured overlay was in fact rendering above the map before it disappeared, instead of under it (which would have no effect). Maybe make it bright pink while you're figuring the absolute ordering out to get it on top (i.e. zIndex and order of absolutely positioned components).

[2020-06-12 07:44] xseignard commented on #914
Hi @mfazekas sure I could, but since it's more a feature request than an issue, I don't know what example I can provide.
I can open a PR with some android code but would definitely need help/guidance for the iOS part. Would that be better ?

[2020-06-12 08:12] mfazekas commented on #914
@xseignard as a first step i was more thinking on  a JS/RN component that reproduces the issue.

Something like this:
https://github.com/react-native-mapbox-gl/maps/pull/812#issue-401860003

The problem sounds clear, but sometimes details matter so a concrete code to repro the issue would be great.

[2020-06-12 08:41] Return-1 commented on #617
Is there a ticket we can follow somewhere after all : ) ?

Thanks a bunch, current workaround with overlay works as well but a bit messy

[2020-06-12 12:46] xseignard commented on #914
Re, so here is the code:
[code]

So the 2 `Marker` are pretty close.
As show below they overlap and zIndexes are random accross app reload.
![IMG_0001](https://user-images.githubusercontent.com/515603/84503911-57325680-acbb-11ea-97d5-a6060b43c597.PNG)
![IMG_0002](https://user-images.githubusercontent.com/515603/84503926-5d283780-acbb-11ea-86db-c4d94866bb2d.PNG)

So being able to programmatically b

[2020-06-12 16:37] jennmueng opened #917 "Camera.fitBounds does not work with bounds that cross the pacific/date line"
**Describe the bug**
When trying to use `fitBounds` with bounds that cross the pacific (for a flight line) the map focuses on the opposite side (over the the atlantic).

Using the solution provided here:
https://github.com/mapbox/mapbox-gl-js/issues/2415
Where adding 180 or 360 to the longitude does not work and the camera just does nothing.

**To Reproduce**
Steps to reproduce the behavior.

Call

[2020-06-12 16:50] bscheideldyrt opened #918 "New unhandled exception on 8.1.0 RC: Expected NUMBER but was BEGIN_ARRAY at path $.coordinates[0]"
**Describe the bug**
We're seeing a new unhandled exception in Mapbox geojson on Android on the latest release.  Seems to occur only when a phone is waking up and foregrounding the app.

[code]

**To Reproduce**
Steps to reproduce the behavior.

No reliable way to reproduce at this time.

**Expected behavior**
No crash.

**Versions (please complete the following information):**
 - Platform: Androi

[2020-06-12 18:03] mfazekas commented on #918
@bscheideldyrt thanks for the report,

The issue might come from here:

https://github.com/react-native-mapbox-gl/maps/blob/master/android/rctmgl/src/main/java/com/mapbox/rctmgl/components/camera/CameraStop.java#L135

Do you pass `centerCoordinate` to some camera operation?! Are you sure it's always valid?! Mesage suggest that instead of centerCoordinate={[-74.126410, 40.797968]} it was called wit

[2020-06-12 18:03] #918 closed

[2020-06-13 04:59] mfazekas commented on #914
On ios i can just use the standard way to reorder views, zIndex

[code]

[2020-06-13 07:47] xseignard commented on #914
It's not working, I can still reproduce the random `zIndexes` with the following code:

[code]

Please see video https://imgur.com/gH2OjrO

[2020-06-13 19:49] mfazekas commented on #914
@xseignard that is because we set zPosition on point annotations.
See
https://github.com/react-native-mapbox-gl/maps/blob/master/ios/RCTMGL/RCTMGLPointAnnotation.m#L136

If you replace it with
[code]

then setting zIndex on initial render should work as well

[2020-06-14 13:27] xseignard commented on #914
Thanks, this indeed works on the small exemple.
But not on my use case...
On the following video you can see that it's working ok, and stops working as soon as I apply some filter that adds or remove markers (see the marker on top of the callout at the end of the video)
https://imgur.com/a/dV79BbW

Been struggling with that for more than a month now, and completely lost on what's wrong.

[2020-06-14 13:44] mfazekas commented on #914
@xseignard Note that zPosition only works between siblings. Not sure if you can have MarkerViews as nonsiblings, with RNMBGL, but probably worth a check.
You can modify the example to be more like your rw code, or simplify your rw code to be more like your example.

By sybling i mean that this works:
[code]

this doesnt:

[code]

[2020-06-14 15:24] mfazekas commented on #912
@Ben-WD Thanks for the report.

I don't think it's a bug.
Since you declare `iconImage: ['get', 'icon']` without types,  typescript infers it's type. to be `string[]`

But for iconImage we expect `iconImage: [ExpressionName, ...ExpressionField[]];` and typescript cannot convert `string[]` to ` [ExpressionName, ...ExpressionField[]]`.

I'm not a TS expert, but one way to solve this:

[code]

[2020-06-14 15:25] #912 closed

[2020-06-14 15:29] mfazekas commented on #894
@SergueyPutilin can you try with latest version?! `8.1.0.rc1`?!

[2020-06-14 16:28] xseignard commented on #914
So I tried to recreate something similar to my use case:
[code]

[2020-06-14 16:40] xseignard commented on #914
Here is some result:
- I don't know why the callouts ain't disappearing
- but the intersting thing is that "Langworth" is the current `selected` marker AND below other even with a higher `zIndex`
![IMG_9831A3527917-1](https://user-images.githubusercontent.com/515603/84598869-0a42b180-ae6e-11ea-852c-3b0d953411d5.jpeg)

[2020-06-14 19:47] mfazekas commented on #894
Code to reproduce:
[code]

[2020-06-14 20:08] mattijsf commented on #894
I actually came across this one when implemention the `Style` component. I think it is an upstream problem with the JSON expression parser.

I haven't followed up at the time. I had a workaround and forgot about it.

[2020-06-14 20:32] mfazekas commented on #894
I've filed and upstream bug about this: https://github.com/mapbox/mapbox-gl-native-ios/issues/316

[2020-06-14 20:35] mfazekas commented on #894
Yes, the iOS expressions sound a bit strange to me, first, we convert JSON expression to NSExpression compatible expression, then in the second step they convert the NSExpression to something that the native C++ mapbox layer understands - which I assume is very close to the original JSON.

[2020-06-14 20:36] mfazekas commented on #894
I'm closing this as this we're waiting for upstream fix

[2020-06-14 20:36] #894 closed

[2020-06-15 05:16] mfazekas commented on #917
See #877

[2020-06-15 07:24] mfazekas commented on #914
![image](https://user-images.githubusercontent.com/52435/84628531-1c156a80-aee9-11ea-9aae-c1a575d67721.png)

Interesting that it does render Langworth on top for me.
Which RNMBLG are you using and which Device?! Have you tried on simulator too?!

Also note that MarkerView and PointAnnotation does not support multiple child views. (You can add a Callbout too, but it should be Callout not a plain Vi

[2020-06-15 09:44] mfazekas opened #921 "[Discussion] Typescript"
1. Should we adopt typescript in the library? (pros/cons)
2. What would be a good way to implement typescript?

[2020-06-15 10:01] mfazekas commented on #921
1.) I'm personally in favor of TS. The current `index.d.ts` separation is annoying.

Not sure about implementation. I guess the build process would change as we should transpile to plain js. I assume sourcemaps, etc tooling works fine.

2.) On the transition from js to typescript:  I prefer a gradual approach where we change a single or a few components to TS, then we convert all the components ov

[2020-06-15 10:13] JordanProtin commented on #887
Hi @mfazekas !

So, I make my feedback about your potential fix : I no longer reproduced this bug by using your version.
I can't guarantee that this issue is definitively solved with your potential fix, but I no longer encounter any issues.

Thank you for your work @mfazekas

[2020-06-15 11:40] ferdicus commented on #921
I used TS a bit, this is a hug topic though 😅

Some questions:
* Would it be all transpiled to one singular js file? Or Transpile the plain JS files next to the TS files?
* Would we be able to simply use the `index.d.ts` within our TS files for types declarations in the beginning or is that a no go?

[2020-06-15 12:39] #764 closed

[2020-06-15 12:39] #781 closed

[2020-06-16 11:07] rickklaasboer commented on #893
I'm also having these issues, did you find any workarounds or solutions?

[2020-06-17 06:39] mfazekas commented on #744
@jaltin can you put your progress somewhere, so others interested can pick it up?!

[2020-06-17 07:01] andrei-tofan commented on #744
@mfazekas We've put a bit of work into this, but we decided not to use the sdf feature, nevertheless I will push the code we've done on a branch and share it here.

[2020-06-17 08:29] lukemcgregor commented on #744
Ive been playing with SDF images and the mostly seem to work really well. I have gotten it going buy injecting a sprite url into the mapbox style.

Heres a demo app
https://github.com/lukemcgregor/mapbox-sdf-style

![demo](https://user-images.githubusercontent.com/1284608/84874814-3e6dda80-b0d9-11ea-99d2-7f9ced33f3ab.gif)

[2020-06-17 08:40] ansarikhurshid786 opened #922 "'MGLCustomHeaders.h' file not found"
I am trying add custom header. In android working fine and for ios i tried following docs
https://github.com/react-native-mapbox-gl/maps/blob/master/docs/CustomHttpHeaders.md

Getting error : 'MGLCustomHeaders.h' file not found

AppDelegate.m:
[code]

React native: 0.59.10
"@react-native-mapbox-gl/maps": "^7.0.8"

[2020-06-17 08:49] ansarikhurshid786 commented on #440
I tried same. it is not working for me.
react-native: 0.59.10
"@react-native-mapbox-gl/maps": "^7.0.8",

[2020-06-18 08:04] Glassig commented on #893
Nope. I am hoping that a dev might have some insights.

[2020-06-18 08:23] mfazekas commented on #893
So by definition marker view is not part of the map, but on top of the map.
We can add logic to only display a markerview if the coordinates the are attached to are within the visible map bounds. But that still means some part of marker can render outside of the map, and in some cases that might be desirable and in other cases not.

[2020-06-18 09:28] ansarikhurshid786 commented on #922
@mfazekas please check my error.

[2020-06-18 11:23] mfazekas commented on #922
@ansarikhurshid786 sound like an XCode project config issue, you need to add the folder containing `MGLCustomHeaders.h` to xcode header search path.

[2020-06-18 11:23] #922 closed

[2020-06-18 12:07] ansarikhurshid786 commented on #922
Thanks you reply. i have added following in Framework Search Paths
`$(PROJECT_DIR)/../node_modules/@react-native-mapbox-gl/maps/ios`

As per documentation. Mapbox library working perfectly

[2020-06-18 12:09] PentamapRainer opened #923 "App can not be launched"
**Describe the bug**
Error when running the App: "Native part of Mapbox React Native libraries were not registered properly, double check our native installation guides."

**To Reproduce**
[code]

Example-Code:
[code]
**Expected behavior**
That the App does not crash

**Screenshots**
![Simulator Screen Shot - iPhone 11 - 2020-06-18 at 14 02 06](https://user-images.githubusercontent.com/6825724/850

[2020-06-18 12:16] mfazekas commented on #916
Unlike annotations ShapeSoruce is not draggable. I guess one could implement dragging manually but it's not supported out of the box

[2020-06-18 12:16] #916 closed

[2020-06-18 12:17] mfazekas commented on #923
@PentamapRainer have you checked the native/iOS install guides?!

[2020-06-18 12:17] #923 closed

[2020-06-18 12:23] ansarikhurshid786 commented on #922
I just also tried following :
`$(SRCROOT)/../node_modules/@react-native-mapbox-gl/maps/ios`

In Building setting - header search path

but still getting same issue. can yo please tell if i am wrong anywhere

[2020-06-18 12:24] ansarikhurshid786 commented on #922
i will try to add that folder which MGLCustomHeaders.h file and let you know.

[2020-06-18 12:30] ansarikhurshid786 commented on #922
Thanks for suggestion it's
i have added following :
$(SRCROOT)/../node_modules/@react-native-mapbox-gl/maps/ios/RCTMGL

[2020-06-21 05:00] matheus-gio opened #925 "Typescript Camera"
I'm having problems with camera methods using typescript
`

      <MapboxGL.MapView
        ref={mapViewRef}
        styleURL={MapboxGL.StyleURL.Dark}
        style={{ flex: 1 }}
        attributionEnabled={false}

        <MapboxGL.Camera ref={mapCameraRef} animationDuration={2000} followUserLocation={true} />

        <MapboxGL.UserLocation />

      </MapboxGL.MapView>
`
MapView methods work, b

[2020-06-21 07:17] mfazekas commented on #925
@matheus-gio pls post a full standalone example component and pls detail what's not working means - throws and error, raises an exception, etc..

Will reopen on input

[2020-06-21 07:17] #925 closed

[2020-06-21 08:57] mahipalsingh7 opened #926 "MarkerView in android not showing methods"
Following methods are not available for  **MarkerView** in android but doc specifying **full**
https://github.com/react-native-mapbox-gl/maps/blob/master/docs/Annotations.md

can some help me how can i use **onSelected** & **onDragEnd** in  **MarkerView**

*/
    onSelected: PropTypes.func,

    /**
     * This callback is fired once this annotation is deselected.
     */
    onDeselected: PropTyp

[2020-06-21 16:03] matheus-gio commented on #925
Sorry, my fault, I'll post the component in typescript :

[code]

The MapView method works perfectly, but all Camera methods do not work.

[2020-06-21 19:15] mahipalsingh7 opened #927 "Crash on removing draw"
` E/AndroidRuntime: FATAL EXCEPTION: main
    Process: , PID: 16981
    java.lang.Error: Cannot remove detached source
        at com.mapbox.mapboxsdk.maps.NativeMapView.nativeRemoveSource(Native Method)
        at com.mapbox.mapboxsdk.maps.NativeMapView.removeSource(NativeMapView.java:925)
        at com.mapbox.mapboxsdk.maps.Style.removeSource(Style.java:175)
        at com.mapbox.rctmgl.compone

[2020-06-22 14:36] mattrobmattrob commented on #863
@bscheideldyrt, did you ever come up with a solution to these crashes? These are our #1 crash in our shipping application and 99% of them occur when the application is in the background.

[2020-06-23 23:15] kelvin-dev opened #931 "[Feature request] Support geocoder"
Please help support geocoding APIs for in-map local search
Ref: https://docs.mapbox.com/help/tutorials/local-search-geocoding-api/
Thanks

[2020-06-24 10:51] rcstanciu opened #932 "iOS build error after upgrading from 7.0.9 to 8.0.0 (on New Build System)"
**Describe the bug**
Using the new build system, everything was fine with version 7.0.9. Since upgrading to 8.0.0, I'm receiving the following error when building on iOS:

[code]
Building using the Legacy Build System works fine., but we'd like to continue using the new build system.

These are the contents of `[CP] Embed Pods Frameworks` build phase:
<img width="863" alt="Screenshot 2020-06-24 at

[2020-06-24 18:02] fabriciomirandabr opened #933 "SetAccessToken does not change dynamically"
I have to tokens for different map types, when I use

MapboxGL.setAccessToken(MAXAR_TOKEN)

and try to update token in another map

MapboxGL.setAccessToken(MAPBOX_TOKEN)

the token of the map does not change.

---------

Versions:
 - Platform: Android, iOS
 - Device: Iphone 11, Samsung S10
 - Emulator/ Device: yes|yes
 - OS: IOS 13.1 | Android Pie API 28
 - react-native-mapbox-gl Version 8.0.0
 -

[2020-06-25 03:02] kelvin-dev opened #934 "[Feature request] Support long-press"
Use-case: long press to put callouts and long press to start moving/dragging callouts/markets
Thank you

[2020-06-25 10:33] abdi4 opened #935 "Examples are confusing"
There's no documentation of how the examples work. Some of the code makes no sense without some context which they are lacking.
`const styles = {
  circles: {
    circleRadius: [
      'interpolate',
      ['exponential', 1.5],
      ['zoom'],
      12,
      2,
      22,
      180,
    ],`
This is an example. An array of values with no explanation to what they are?
Also there's data coming from m

[2020-06-25 11:11] ferdicus commented on #935
The examples are ... under construction :)
We're happy for any contributions.

At the moment they are in a state between coding example and visual example of the features (put on a phone an play around with it).

Maybe I can shed some light on the array that you mentioned above:
Those are called `expressions` and are explained in the Changelog for release 7: https://github.com/react-native-mapbox-

[2020-06-25 11:12] #935 closed

[2020-06-25 13:42] mdNazmulHasan commented on #868
How did you detect that error ? @ravisojitrawork and whats the solution ?

[2020-06-25 16:22] Emex4gman commented on #806
Any fix for this yet.  mapbox-android-symbol-layer-1 seems to hide the layer

[2020-06-26 11:29] SergueyPutilin opened #936 "[QUESTION] How to recenter map on region change with followUserMode=true"
Hi!

Is there a way to recenter the map on the user's location onRegionChange when followUserMode is active? The camera stops following the user when I move the map.

[2020-06-26 11:50] #936 closed

[2020-06-26 17:57] bllanos opened #937 "getAccessToken() has a different API on iOS and Android"
**Describe the bug**
On Android, `MapboxGL.getAccessToken()` returns an object with an `accessToken` property. On iOS, the same method returns a string.

**To Reproduce**

Example:
[code]
- On Android, the output is `Token:  {"accessToken": "<TOKEN>"}`
- On iOS, the output is `Token: <TOKEN>`

**Expected behavior**
`token` should be identical across Android and iOS.

**Versions**
 - Platform: Andr

[2020-06-26 18:38] kunal886496 commented on #836
Go away stale[bot] its a lockdown.

On Sat, Jun 27, 2020, 00:01 stale[bot] <notifications@github.com> wrote:

[2020-06-28 04:19] mdNazmulHasan opened #938 "Map is not loading in Release build (Android )"
Describe the bug
Hi all, In my case Map is not displaying in release APK(Marker is showing properly). However debug build is ok.

I also have tested creating different token.

Example:

[code]

Expected behavior
It should display map even though it is in release mode

Screenshots
======= Debug mode =======
![Screenshot_1593317565](https://user-images.githubusercontent.com/10530631/85937751-5b4fac8

[2020-06-28 10:19] mfazekas commented on #938
Thanks for the bugreport. Pls edit the example so that it contains all info (no accesstoken is neccesary), but styleurl is needed.

Have you checked logcat to see if there is any error/issue?!

[2020-06-28 11:38] mdNazmulHasan commented on #938
updated the report with style url, @mfazekas , following error might be the cause behind it
<img width="1239" alt="Screenshot 2020-06-28 at 5 36 49 PM" src="https://user-images.githubusercontent.com/10530631/85946430-0cc10300-b966-11ea-9d12-b57cddd86f5d.png">

[2020-06-28 17:05] mohammadRezaiee commented on #359
I have this problem too. I solved this with add `import com.mapbox.rctmgl.RCTMGLPackage;` and add `packages.add(new RCTMGLPackage());` to `getPackages() {  }` in **MainApplication.java** file. sorry about my bad language but it worked.

[2020-06-29 13:43] mahipalsingh7 opened #939 "Map turned to white screen while phone lock"
Map turned to white screen when i phone locked and unlocked
Steps to Reproduce :  Visit on map screen once map loaded , locked your phone screen and unlocked after few second map while turned to white screen but when user tap on screen it will again back to normal view
Replicate on Device : OnePlus, samsung A51/A31.
[
<img width="395" alt="Screenshot 2020-06-29 at 7 04 47 PM" src="https://user-ima

[2020-06-29 13:55] #939 closed

[2020-06-29 19:18] RichardMathews commented on #469
<MapboxGL.PointAnnotation id={'your-id'} coordinate={[]}>
 <MapboxGL.Callout title='your-title'/>
   <View style={yourStyle}>
      <Text  style={yourStyle}>
          {<Image source={{uri: 'https://api.adorable.io/avatars/400/abott@adorable.io.png'}} style={{width, height}}/>}
       </Text>
   </View>
</MapboxGL.PointAnnotation>

[2020-06-30 09:43] mfazekas commented on #932
Try to remove everything mapbox related, but non cocoapods related. Sorry we don't have exact solutions for those problems.

[2020-06-30 09:43] #932 closed

[2020-06-30 09:44] mfazekas commented on #931
I think that could be a separate project, but if someone implements we'll consider a PR, thanks!

[2020-06-30 09:44] #931 closed

[2020-06-30 09:48] mfazekas commented on #934
We do accept a  PR addressing this! The map itself has `longPress` listener.

[2020-06-30 09:48] #934 closed

[2020-06-30 10:01] mfazekas commented on #933
Are you sure it's not working on iOS?!

https://github.com/mapbox/mapbox-gl-native/blob/macos-v0.5.0/platform/darwin/src/MGLAccountManager.m#L62-L76

On android i can see the issue, but ios should work as is IMO.

[2020-06-30 10:35] mfazekas commented on #937
I'd say the iOS version is the correct one.

Technically the fix is a breaking change. Or we can return a `String` instance with `accessToken` property also set

https://github.com/react-native-mapbox-gl/maps/blob/8f9170e78939dc22fa8135cc1aba26d9af0bbdc4/android/rctmgl/src/main/java/com/mapbox/rctmgl/modules/RCTMGLModule.java#L326-L331

[2020-06-30 10:42] mfazekas commented on #927
crash coming from here:
https://github.com/mapbox/mapbox-gl-native-android/blob/b16d47ce03804bc8b50f6469a48be51b4a580b78/MapboxGLAndroidSDK/src/cpp/style/sources/source.cpp#L174-L185

@mahipalsingh7 the report missing versions and a sample component to reproduce the issue.

[2020-06-30 10:42] #927 closed

[2020-06-30 11:13] mfazekas commented on #841
Example to reproduce the issue:

[code]

[2020-06-30 11:13] mfazekas commented on #841
On ios as a workaround, add:

[code]

example `Podfile`:

[code]

[2020-06-30 11:15] mfazekas commented on #841
Also submitted fix to https://github.com/mapbox/mapbox-gl-native-ios/pull/323

[2020-06-30 11:25] berk145 opened #943 "Mapbox [info] Request failed due to a permanent error: Canceled"
I'm constantly facing with this problem.
Every time when its loading or zooming or panning or do anything always logging this problem. Even sometimes giving it in yellow box. This is the message :

I dont know that to do. I give permissions to work but still the same.
This is the AndroidManifest.xml
[code]

And then i am checking user accepted or not

[code]
if user give the permission i show the

[2020-06-30 11:31] mfazekas commented on #943
This is normal, when zooming. You can supress this with a custom logCallback, if you'd like to.

https://github.com/react-native-mapbox-gl/maps/blob/498b86b01e7956ac3d1319ac4918e2ee49d57333/javascript/utils/Logger.js#L20-L27

[2020-06-30 11:31] #943 closed

[2020-06-30 14:00] christophermark commented on #932
I've been hitting this also, after upgrading to the latest React Native version (0.62.2) with the new build system.

Is this a known incompatibility?

[2020-06-30 14:49] bllanos commented on #937
In the sense of the code interface, changing what the `getAccessToken` function returns is a breaking change, but as I haven't found the interface of the function in documentation pages in this repository, technically the change would not break any documented interface.

With respect to returning a `String`, there could be some unexpected side effects.
[code]

[2020-06-30 17:01] kiritm-nimblechapps opened #944 "Multiple LineLayer Colour doesn't change in the ShapeSource."

[2020-06-30 17:05] #944 closed

[2020-06-30 17:08] kiritmodi2702 opened #945 "Multiple LineLayer Colour doesn't change in the ShapeSource"
Hi,

I have use the MapBox to draw multiple lines with different coordinate, So I use the ShapeSource layer and LineLayer for this, Currently I have take one ShapeSource layer in it. and add two line layer, The line should different color but in map it's display only single color.

**One line layer color should red and other should green.**

Code ::

[code]

MapBox ::

[code]

Output ::

<img widt

[2020-06-30 17:13] christophermark commented on #932
I managed to solve this on my project, though the issue seems unique to Mapbox or at least unique to the some of the file types that Mapbox imports. This is related to a change in Cocoapod configurations new to React Native 0.62.

### The fix
In the tests section of your Podfile, change `inherit! :complete` back to the previous value of `inherit! :search_paths`. This is the previous config from Re

[2020-06-30 18:49] mfazekas commented on #945
It's because LineLayer is rendering both linestring, so first 2 red linesring is rendered, second time 2 green linestring is rendered. You want to use expressions for colors - something like: `lineColor: [get color]`

[2020-06-30 18:49] #945 closed

[2020-07-01 10:02] reinvanimschoot commented on #863
@bscheideldyrt @mattrobmattrob We are having the same issue in our application and no idea how to fix it. Did one of you ever find a fix for this?

[2020-07-01 12:46] kiritmodi2702 commented on #945
[get color] - is not working in react native.

<img width="315" alt="Screenshot 2020-07-01 at 6 14 58 PM" src="https://user-images.githubusercontent.com/10494663/86245312-e9e15980-bbc6-11ea-8290-166186fe74c2.png">

[2020-07-01 12:47] kiritmodi2702 commented on #945
[get color] which is not working

[2020-07-01 13:52] mattrobmattrob commented on #863
These _seems_ to have been solved by an upgrade from `5.8.0` to `5.9.0` in our Carthage configuration of our Mapbox dependency, @reinvanimschoot.

[code]

[2020-07-01 14:10] mattijsf commented on #945
Have a look at https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-get

[2020-07-01 14:56] reinvanimschoot commented on #863
@mattrobmattrob Is that something to be changed in node_modules?

[2020-07-01 15:01] mattrobmattrob commented on #863
In my case, I'm not using `react-native-mapbox-gl` but rather just had a similar crash in the Mapbox SDK. I'm not sure how to pin a specific dependency in the other (npm, React, etc.) context, sorry, @reinvanimschoot.

[2020-07-01 15:20] mdNazmulHasan commented on #938
Issue was resolved. It seems the issue was not in mapbox. Android was blocking custom style url, that's why the map was not loading. Just had to add some network rule for that.

[2020-07-01 15:21] #938 closed

[2020-07-01 20:05] kiritmodi2702 commented on #945
HI,

I do same as link. but not success.

<img width="507" alt="Screenshot 2020-07-02 at 1 33 50 AM" src="https://user-images.githubusercontent.com/10494663/86286490-297a6680-bc04-11ea-8948-5b3b5d4d8229.png">

[2020-07-02 01:42] prinse1545 commented on #383
I am encountering this issue as well...please open it back up

[2020-07-02 03:34] mfazekas commented on #383
@prinse1545 pls add details so we can look into it. Include RN and rn-mapbox versions, the magnitude of leak you observe (MB/refresh), and ideally a standalone component and description how to reproduce it.

[2020-07-02 08:28] Buthrakaur opened #947 "Mapbox billing issue"
**Describe the bug**
We run an app using `<MapboxGL.MapView />` with ~2500 monthly active users which should fit into the Mapbox free plan where 25k users per month are free with unlimited map usage ("Each user may make unlimited Vector Tiles API and Raster Tiles API requests."). The problem is we just received an unexpected invoice for our Mapbox usage mainly because of Vector Tiles API requests

[2020-07-02 18:16] kiritmodi2702 commented on #945
Please can you share code for it.

[2020-07-02 18:16] kiritmodi2702 commented on #945
Please can you share code for it.

[2020-07-03 07:21] mfazekas commented on #947
@Buthrakaur thanks for the report.

I'm not aware of such an issue.

Is my understanding correct that mapbox says that it's free for up to 25K users, with unlimited requests? But because you're using react-native-mapbox-gl the unlimited requests part does not apply?!

react-native-mapbox-gl uses unmodified mapbox-gl-native-ios and mapbx-gl-native-android, i don't think we do any unsupported thing,

[2020-07-03 07:22] mfazekas commented on #937
@bllanos sure i guess it's fine to modify android to call resolve with a `string` instead of object. IMO it's a potential breaking change but it's a rather insignificant one.

[2020-07-04 21:15] karimb1 commented on #910
I confirm this issue is still present in Mapbox-iOS-SDK (5.9.0)

[2020-07-06 06:09] arnaudambro commented on #539
it's not a wontfix bot

[2020-07-06 18:16] RichardLindhout commented on #921
I think it's a good idea. I agree with @mfazekas about the gradual approach. For some people this will make PR's harder but I feel like a lot of people are moving to Typescript lately.

[2020-07-07 06:57] tinmar33 opened #950 "Release 8.x crashes on Android 4"
The release 8.x doesn't support Android 4. The app is crashing immediately.
It's working fine with the 7.0.8 version (i dont have tried with the 7.2.0)

Here's the logcat error:

[code]

**To Reproduce**
Install the 8.x release on a react native app.
Run it with Android 4.x

**Expected behavior**
Running normally

**Versions (please complete the following information):**
 - Platform: Android 4
 -

[2020-07-07 09:15] Buthrakaur commented on #947
@mfazekas

yes

no - they say the unoffical unsupported library we use (= react-native-mapbox-gl :)) is probably causing some ad-hoc calls to Vector Tiles API service which aren't being done via their native iOS/Android SDK libs and this causes the Vector Tiles API requests to go above free limits (there're 250k Vector Tiles API requests free each month).

Thanks - this is what I exactly thought a

[2020-07-07 09:27] Buthrakaur commented on #947
@mfazekas btw do you have an access to a Mapbox account/statistics for a purely Native SDK powered app? I'd be curious if the Vector Tiles API request counter just always displays zero or if it's somehow zero-ed in the billing/invoice.

[2020-07-07 09:31] jderrough commented on #947
@Buthrakaur
I just checked that out as I was following the discussion, the number of requests for the Vector Tiles API is not displayed for my purely native app. I'm currently on the free plan, I have $0 billings each month.

<img width="1326" alt="Capture d’écran 2020-07-07 à 11 29 42" src="https://user-images.githubusercontent.com/1108358/86760107-45876900-c045-11ea-843e-6a834697bef0.png">

[2020-07-07 09:58] Buthrakaur commented on #947
@jderrough thanks a lot for the screenshot! So it looks like there could be 3 possible causes of this issue:
1. they for some reason detect react-native-mapbox-gl usage and intentionally change the billing rules to handicap such customers => is it technically possible they can do this when react-native-mapbox-gl is just build on top of the native SDKs?
2. react-native-mapbox-gl somehow access Mapb

[2020-07-07 10:01] jderrough commented on #947
@Buthrakaur
I'm also using react-native-mapbox-gl in the app I'm playing with.

[2020-07-07 10:59] Buthrakaur commented on #947
@jderrough and do you see Vector Tiles API request count >0 in the stats of this react-native-mapbox-gl powered app too or is it zero as on your "purely native app" screenshot above?

[2020-07-07 14:42] jderrough commented on #947
@Buthrakaur
Sorry I got you confused. When I wrote "purely native app", I was referring to the React Native app I'm playing with. The screenshot is for that app, which is the only one I'm currently using with that Mapbox account. Maybe you get to see new stats if you also use other Mapbox SDKs where these would be relevant...

[2020-07-07 14:59] Buthrakaur commented on #947
@jderrough I see.. so our app is probably using some parts of react-native-mapbox-gl which you don't use and which probably cause these extra requests. There're multiple features we use in our app:
- `MapboxGL.MapView` component to display online/offline map
- `MapboxGL.offlineManager` to download a map region for offline use
- Mapbox Navigation Service via our own React Native iOS/Android native

[2020-07-07 15:24] jderrough commented on #947
@Buthrakaur
I'm only using the `MapboxGL.MapView` component from react-native-mapbox-gl 8.1.0-rc.2. The `MapboxVersionNumber` from the SDK is set to 15256.

[2020-07-07 22:10] sunny-lirr commented on #841
I installed 8.1.0rc2, used the suggested fix on iOS, and tested the example code above. On both platforms, the fit bounds button worked on the first press.

I then pressed the button again without moving the map. On iOS, nothing happened, which seems like the intended behavior. On Android, the map moved up a bit, then an error appeared:

![image](https://user-images.githubusercontent.com/53345676/

[2020-07-08 02:23] #754 closed

[2020-07-08 06:00] mathritter opened #952 "UserLocation Not working at all"
**Describe the bug**
UserLocation won't work

**To Reproduce**
Create new app, install package, run npx react-native run-android, map won't provide user location

Please include a single standalone React Native component. Use [one of our example](https://github.com/react-native-mapbox-gl/maps/blob/master/example/src/examples/BugReportTemplate.js) screens as a starting point.
Please simplify the ex

[2020-07-08 07:02] mathritter commented on #952
After few refreshes with the permission now it works.

[2020-07-08 07:02] #952 closed

[2020-07-08 13:26] Buthrakaur commented on #947
So I asked support once more and it looks like it's completely unrelated to react-native-mapbox-gl library or React Native. It's just about their little bit confusing pricing docs and previous support guy which probably didn't understand their pricing well like me 😄 The Vector Tiles API requests are counted and billed for offline downloads whereas online usage is counted and billed on monthly acti

[2020-07-08 13:26] #947 closed

[2020-07-09 08:03] mzu commented on #513
Is this still relevant? Could this feature be used as a way to force the use of an offline pack, even if there is an internet connection available? Is there already a way prevent requesting tiles if an offline pack is available?

[2020-07-09 14:35] ferdicus commented on #950
Googling this issue results in this issue ticket for react-native:
https://github.com/facebook/react-native/issues/9043

Can you please try the mentioned solutions and report back?
Thanks

[2020-07-09 19:16] cedriclinares commented on #806
This is still an issue for android and the above "fix" of setting belowLayerID={Platform.OS === 'android' ? 'mapbox-android-symbol-layer-1' : undefined} does not work. It makes the line layer disappear

[2020-07-11 15:54] #933 closed

[2020-07-12 09:31] #773 closed

[2020-07-12 16:22] ferdicus commented on #933
@fabriciomirandabr, please add a comment when closing issues.
Others might have similar issues and it could help them.

Thanks

[2020-07-12 19:43] tomdaniel0x01 commented on #344
Bump

[2020-07-13 20:21] cedriclinares opened #956 "camera fitBounds adds padding every time it is called on android"
**Describe the bug**
When calling this.map.fitBounds(ne, sw, padding, duration) the map adds padding everytime it is called ultimately leading to an error "Unable to calculate appropriate zoom level for bounds. Vertical or Horizontal padding is greater than map's height or width"
**To Reproduce**
Steps to reproduce the behavior.
Run page on android
Press button to set bounds multiple times
camera

[2020-07-14 11:34] ferdicus commented on #956
Please clean up the ticket.
Thanks

[2020-07-15 10:18] mjmasn commented on #883
I think one of the issues here is that `@types/geojson` needs to be in dependencies not devDependencies. With that package installed the number of errors reduces significantly.

[code]

[2020-07-15 10:32] mjmasn commented on #883
At a glance (with the disclaimer that I don't really know anything about this lib) most should be fairly easy to fix:

`Promise<GeoJSON.FeatureCollection?>` => `Promise<GeoJSON.FeatureCollection | undefined>`

`GeoJSON.Geometries` => `GeoJSON.GeometryCollection` (possibly?)

`StyleProp` => `StyleProp<ViewStyle>`

With the `Point` one, not sure if the imported Point def is used but it's replaced wi

[2020-07-15 12:41] fabriciomirandabr commented on #933
The token doesn't change for me, I created a custom styleUrl with authorization in Tile URL.

After that, was possible to have different maps with distinct authorization

[2020-07-16 02:15] sunny-lirr commented on #956
This is the result of #941 which tried to fix the padding on fitBounds (#841) but seems to be adding it to existing padding instead of replacing it.

[2020-07-16 15:35] ImToon opened #957 "Application crashes when getting opened by a notification"
**Describe the bug**
I'm receiving notifications on my application, when I click on it, it opens the application and it works correctly on IOS, it doesn't crash.. But on the Android version, sometimes the application crashes when it's opened by the notification (Especially when the application is running in background).

I checked the Android logs and found out this error :

[code]

Based on this

[2020-07-16 16:30] ferdicus commented on #957
For what it's worth, we're also pulling the app back into the foreground based on notifications and haven't had a crash with that procedure...

I'll try to reproduce this tomorrow - we're currently on release `8.0.0`

[2020-07-16 16:37] Gservais commented on #957
We were also using release `8.0.0` but i just tried to update the version to see if it could fix the issue but it's not the case, are you also using `react-native-firebase > 6.0` for your notifications?

[2020-07-16 17:37] virtumonde commented on #371
stalebot go away

[2020-07-17 04:14] systemlevel opened #958 "After Upgrade to 8.1.0-rc.2 from 7.0.6 getting issue onLongPress in MapView"
**Describe the bug**

The onLongPress property of MapView is now giving this error even though nothing is calling makeFeature:

`TypeError: Cannot read property 'makeFeature' of undefined`

Here's my MapView component with properties:

[code]

These events worked fine previous to the upgrade.  Can't put a finger on why this is happening.  All makeFeature functions have been removed from the applic

[2020-07-17 07:31] #597 closed

[2020-07-18 05:02] #737 closed

[2020-07-21 01:43] kunchalakiran opened #959 "MapBox Directions for React Native"
We have been trying to use Mapbox directions , but we don't find answers from the last few days can any one help us with the MapBox directions?
Does it supports sea maps ?

[2020-07-21 08:17] ferdicus commented on #959
Directions are outside the scope of this repo.
This is an open-source repo maintained by volunteer devs - it has no support from mapbox.
It provides a JS layer around the iOS and Android SDKs for Mapbox.

Having said that, this ticket talks about getting directions:
https://github.com/react-native-mapbox-gl/maps/issues/565

For future questions please use our gitter channel or stackoverflow
Ticket

[2020-07-21 08:17] #959 closed

[2020-07-21 13:32] virtumonde opened #960 "onPress not working while MapView is rerendering"
In the following component, I am updating the shape for ShapeSource every second. The problem is that the whole component is rendering, making me unable to interact with the map while it is updating. How this can be solved? Is there something I can use on the side of Mapbox?

[code]

**Expected behavior**
onPress should be triggered

[2020-07-21 14:46] #960 closed

[2020-07-21 16:50] systemlevel commented on #958
Issue no longer happening after loading on new simulator.

[2020-07-21 16:50] #958 closed

[2020-07-22 14:01] Thegrep01 opened #962 "MarkerView display only last nested component"
I faced the issue that when I add MarkerView with nested views it renders only the last component.
I found that in ```RCTMGLMarkerView``` in ```addView``` method I am getting all my components one by one and every time this method triggered. For example, I have one container view and SVG icon then Text and one more SVG, and addView will trigger 3 times and as a marker, I will get only last SVG.

*

[2020-07-22 15:55] ferdicus commented on #962
Please respect the issue template.
I know, to you it might be `Just add MarkerView with container view and 2 nested components`, however anything that makes debugging this easier, even if it's a simple component, that already has all the setup integrated to reproduce your bug helps.

Please consider, that this is a repo maintained by volunteers.

Thanks in advance

[2020-07-22 16:31] mfazekas commented on #962
@Thegrep01 thanks for the report this is a known issue. AFAIK point annotation has the same behaviour. In point annotation case is partly because.

I think that this makes sense, just we need to log an error in case multiple component is passed as a child to MarkerView.

[code]

[2020-07-23 05:34] #879 closed

[2020-07-23 07:38] soumyashisPR commented on #915
Hi @mfazekas Is anyone already working on this bug? Can I take this up?

[2020-07-23 07:42] mfazekas commented on #915
@soumyashisPR It would be great if you could look, i'm not aware of anyone working on it.

[2020-07-23 07:57] soumyashisPR commented on #915
@mfazekas Sure, looking into this.
Thanks.

[2020-07-24 12:36] #883 closed

[2020-07-24 16:09] ferdicus commented on #962
@Thegrep01,

if the issue is:
[code]

is only showing one of the `Component`, see @mfazekas comment.

if the issue is
[code]
Then I'm sorry, I couldn't reproduce this with the `MarkerView` scene in our example app.

Maybe I'm misunderstanding the issue?!

Could you please try to reproduce it in our example app and report back.

Thanks

[2020-07-24 19:00] ferdicus commented on #957
hey @ImToon,
so this is the current setup in our `package.json`:

    "@react-native-firebase/app": "^7.3.1",
    "@react-native-firebase/auth": "^8.1.1",
    "@react-native-firebase/database": "^7.3.1",
    "@react-native-firebase/messaging": "^7.4.1",
    "@react-native-mapbox-gl/maps": "^8.0.0",

I played around with our app a bit, however wasn't successful in causing a crash.
Did it in a debug

[2020-07-25 18:51] hannojg opened #968 "[FEATURE] On POI click"
Hello,

is there a feature like "on POI click"? react-native-maps offer this (Google Maps SDK) and it would be nice to have such functionality also here. Maybe there is already a functionality like this or a very similar one that could be used, and I would be so thankful if you could point them out.
I am aware that there is a `onPress` callback, but using this, we would need to request on every pr

[2020-07-26 07:42] mustafaskyer opened #970 "TypeError: null is not an object (evaluating 'arr[typeof Symbol === "function" ? Symbol.iterator : "@@iterator"]')"
**Describe the bug**
opening Camera lead to this error if location not granted yet, although coords exist
[code]

**To Reproduce**
Steps to reproduce the behaviour.

Example:
[code]

**Expected behaviour**
Expect it works as normal

**Screenshots**
![Simulator Screen Shot - iPhone Xs Max - 2020-07-26 at 10 32 14](https://user-images.githubusercontent.com/15132084/88473969-4a945580-cf2b-11ea-9edb-2

[2020-07-26 08:04] #968 closed

[2020-07-26 10:42] ibraude opened #971 "iOS: Unhandled error when offline"
**Describe the bug**
On iOS, an unhandled error is thrown if there is no network connection.

**To Reproduce**
run on iOS and have device disconnected from the internet.

Example:
[code]

**Expected behavior**
Expected to catch the error like on android

**Screenshots**
![Simulator Screen Shot - iPhone 11 - 2020-07-26 at 13 26 34](https://user-images.githubusercontent.com/48394109/88476931-c058eb0

[2020-07-27 15:26] ferdicus commented on #424
hey @sincraianul, just a heads-up, that you're sharing an `access_token` within your link

[2020-07-28 14:12] filipef101 commented on #469
Still happening indeed

[2020-07-29 08:41] tinmar33 commented on #950
@ferdicus I tried all the solution and it still doesn't works on Android 4

[2020-07-29 12:33] #884 closed

[2020-07-29 20:03] mfazekas commented on #956
I've added a fix with #973.

It can be tested with
[code]

[2020-07-30 10:03] Avadon commented on #895
Has anyone succeed solving this problem?

[2020-07-30 15:52] guhan0 commented on #296
My architecture says: $(ARCHS_STANDARD).
Still I'm facing the same problem. @riangeofandy

[2020-07-31 01:56] tomdaniel0x01 opened #974 "SymbolLayer style `textVariableAnchor` & `textRadialOffset` not typed (was: SymbolLayer style "textVariableAnchor" & "textRadialOffset" are not working)"
`textVariableAnchor` is documented under the docs for SymbolLayer, but it's not defined in the type definitions and does not work when I try using it anyway. I am using v8.0.0 and do not see any evidence of this feature being added to v8.1.0.

Is there any other way to dynamically avoid text collisions for a SymbolLayer without the text overlapping?

[2020-07-31 12:31] nazarTrynko opened #975 "Snapshot"
Is it possible to get a snapshot with all the points and shapes that are rendered on the map? (Not only map itself)

[2020-07-31 12:33] #975 closed

[2020-07-31 12:35] ferdicus commented on #974
Can you please add a working test case to reproduce this?

[2020-07-31 13:13] ferdicus commented on #950
Hey @tinmar33, I'm sorry to hear that... to be quite frank, I don't think we're going to invest any dev time in looking into this though :S

We're talking after all about an android version, that is at best 7 years old.

If you manage to find a repro case, that works for newer version of Android feel free to update this issue.
Also, feel free to contribute if you feel strongly about supporting And

[2020-07-31 13:16] ferdicus opened #976 "build(app): increase android min version to 6"
Consider bumping up the minimum supported android version to 6 (API Level 23).

@mfazekas, what do you think?
I don't think that too many people are using older versions.

[2020-07-31 14:32] bllanos commented on #937
Fixed by #954

[2020-07-31 14:32] #937 closed

[2020-08-01 15:15] #891 closed

[2020-08-01 21:15] #862 closed

[2020-08-02 19:56] tomdaniel0x01 commented on #974
@ferdicus I've started writing a test in the PR I opened, but I'm not sure how to finish it.

- I have no idea how to actually test that `textVariableAnchor` is working with multiple SymbolLayer points (My manual testing demonstrates it's not working).
- I do not know how to test that the array input for `textVariableAnchor` is valid. I noticed that it's actually accepting an invalid array while t

[2020-08-02 20:48] bscheideldyrt commented on #895
I'm seeing the same issue when I add new markers to the map.  The markers basically blink into existence which is really distracting.

[2020-08-03 00:34] leonamjlpaula opened #981 "How to plot a shapefile to a map?"
Have anyone gone thought a way of importing and plotting a shapefile to a MapBox map?

[2020-08-03 03:49] mfazekas commented on #926
@mahipalsingh7 MarkerView supports full interactivity in the sense that inside marker view you can place any RN VIew, which can be interacted with. We don't implement drag, selection for marker views. I guess you might be implement those in RN methods.

[2020-08-03 03:49] #926 closed

[2020-08-03 03:51] #981 closed

[2020-08-03 03:53] mfazekas commented on #974
@tomdaniel0x01 sorry we just need an example component we can you to reproduce the issue.

Something like this:
https://github.com/react-native-mapbox-gl/maps/blob/master/example/src/examples/BugReportExample.js

[2020-08-03 04:04] mfazekas commented on #971
@ibraude i think that's just and error level log.
You should be able to use `Logger` to filter this out.

Somehting like:

[code]

[2020-08-03 04:07] mfazekas commented on #970
@mustafaskyer pls test and report on current version

[2020-08-03 04:12] mfazekas commented on #976
@ferdicus I'd say not to block android versions in gradle files. We can put to readme, that we don't support versions below x.

[2020-08-03 04:14] mfazekas commented on #950
I agree sorry we'll not be working on this. We're happy to accept PR addressing the issue!

[2020-08-03 04:14] #950 closed

[2020-08-03 11:50] ghitier commented on #895
I encounter the same issue as well on both Android and iOS physical devices

[2020-08-03 20:44] ferdicus commented on #974
Oh man... terribly sorry for wasting your time...
I didn't communicate my intentions clearly enough, yeah - I meant what mfazekas said in the above comment.

Feel free to edit the description of this ticket and close the accompanying PR.

Thanks, and sorry again

[2020-08-04 11:09] Dkokkonas opened #983 "Expression strictly less than is giving true on equal on android"
**Describe the bug**
I am using expressions to have different fillColor based on a property for a shape. The problem is that the strictly less operator  behaves as "less or equal" only on Android . On iOs there is no such problem.

**To Reproduce**

Example:
[code]

**Expected behavior**
In the scenario above I would expect the color of both polygons would be yellow

**Screenshots**
![Screenshot f

[2020-08-05 13:07] cglacet commented on #841
I experience the same bug as @sunny-lirr (only on Android too). I'm not using fitBounds, but I'm updating `bounds` state that I use as the map's camera `bounds` props. I also use a constant padding.

On high zooms, for example with the following bounds:

[code]

On Android, passing this props to the camera give the above mentioned crash:

[code]

On my side the bug only happens on high zoom values

[2020-08-05 13:20] mfazekas commented on #841
@cglacet this should be addressed by #973, can you please verify?!

https://github.com/react-native-mapbox-gl/maps/issues/956#issuecomment-665886930

[2020-08-05 13:50] cglacet commented on #841
I can, do I need to compile anything once I've updated the source? Or should I just re-build my react-native application?

[2020-08-05 14:16] mfazekas commented on #841
@cglacet it's a native part, so you'll need to invoke the gradle stuff (via gralew or `android studio` or via `react-native run-android`)

Thanks for testing.

[2020-08-05 14:16] #956 closed

[2020-08-05 15:14] tomdaniel0x01 commented on #974
So I discovered that `textVariableAnchor` and `textRadialOffset` are actually working, but sometimes not. It works suitably, but not as well as I was expecting. So I don't think that has anything to do with this library.

However, the TypeScript typings are still missing for both `textVariableAnchor` and `textRadialOffset`.

No worries, I practice TDD so I was more than happy to give it a shot.

W

[2020-08-06 13:27] gmaclennan opened #984 "Feature Request: Support Style JSON for <MapView />"
Currently the <MapView /> component accepts a `styleURL` prop and will load the style from the given URL.

For our use-case we are using a custom Style JSON which we are managing in the app. Whilst it is possible to [pass an `asset://` URL](https://docs.mapbox.com/android/api/map-sdk/9.3.0/com/mapbox/mapboxsdk/maps/Style.Builder.html#fromUrl-java.lang.String-) to the `styleURL` prop in Android, it

[2020-08-09 06:43] #902 closed

[2020-08-09 14:41] mustafaskyer commented on #970
same issue in @react-native-mapbox-gl/maps ^7.0.0-rc3

[2020-08-10 01:38] lukemcgregor commented on #895
Possibly related to https://github.com/mapbox/mapbox-gl-native/issues/16471

[2020-08-10 01:44] lukemcgregor opened #986 "Upgrade iOS SDK to 6.0.0"
It looks like there is a new version of the underlying iOS mapbox SDK, I'm getting the following in logs (v8.1.0-rc.2)

[2020-08-10 08:52] ferdicus commented on #974
Yeah, you're right - now that it's there, why close it `amirite.jpg`

Will check this friday and let you know.

Thanks

[2020-08-10 19:54] #970 closed

[2020-08-11 12:25] sugaith commented on #344
Still happening

[2020-08-11 12:25] sugaith commented on #75
Still happening

[2020-08-11 17:45] virtumonde commented on #228
It's still happening

[2020-08-11 17:47] virtumonde commented on #228
I suspect it was happening because I didn't link my image on iOS side, now it is working

[2020-08-12 00:26] luskin commented on #841
Does anybody have a solution for this? It's very weird for us. Padding up to 40 works fine, but once we get to 40 we receive the error:

[code]

Our implementation for this scenario is quite simple:

[code]

[2020-08-12 15:12] luskin commented on #962
This is 100% still an issue, our code is as follows:

[code]

Both children are nested in a parent `View` however when a `stepNumber` is present it's the only thing displayed on android. iOS renders the marker image fine alongside our `stepNumber` badge.

[2020-08-12 15:26] mfazekas commented on #962
@luskin we'd appreciate if you could include a full sample with styles, etc.

Something along the lines of:

[code]

[2020-08-12 15:30] luskin commented on #962
No problem @mfazekas here is our entire map component for this scenario:

[code]

Being called from this component:
[code]

[2020-08-12 15:40] mfazekas commented on #962
@luskin thanks that's great. If you could simplify the example, so that all params are hardwired, and no images, that would be even better.

The sample code in https://github.com/react-native-mapbox-gl/maps/issues/962#issuecomment-672942833 is something we just paste to our example app without, adding any params, images.

[2020-08-12 15:57] luskin commented on #962
Here is the example completely stripped. Only the second View is rendered in the `MarkerView`
![IMG_5134](https://user-images.githubusercontent.com/5702322/90038103-dae7cf80-dc79-11ea-9d3e-b87dd7234be3.JPG)

[code]

[code]

[2020-08-12 17:56] abdi4 opened #987 "Is there a way to make Heatmap circles clickable? [Question]"
I’m creating an app that uses a heatmap or data driven circles (I haven't properly decided) but before diving into it i would like to know if there's a workaround for attaching an onPress function to individual circles.

I’m experimenting with the examples and i can see that these are purely presentational. I’m thinking of creating something  like the snapchat map so when a user presses on part of

[2020-08-13 08:25] nasmuris commented on #986
would it be possible to try the new SDK via setting `ENV["REACT_NATIVE_MAPBOX_MAPBOX_IOS_VERSION"]`?
running `REACT_NATIVE_MAPBOX_MAPBOX_IOS_VERSION="~> 6.0" pod update`
results in
[code]
`REACT_NATIVE_MAPBOX_MAPBOX_IOS_VERSION="~> 6.0" pod install --repo-update`
leads to
[code]

[2020-08-13 09:02] #857 closed

[2020-08-13 16:33] ghitier commented on #971
I've also been encountering this issue when the network is not available on iOS. It happens in both debug and release mode.

I tried the solution above, but in my case there isn't any error callback to the Logger made before the app crashes it seems. I also never get the red error screen, instead the app crashes right away...

<details>
<Summary>Sentry log</Summary>

[code]
</details>

Could there

[2020-08-13 20:06] naftalibeder opened #988 "CircleLayer does not respect circleTranslateAnchor setting"
**Describe the bug**
A `CircleLayer` that has a `circleTranslate` offset value and a `circleTranslateAnchor` value of `viewport` still sees the offset behave as though `circleTranslateAnchor` was set to `map` - that is, as the map pitch is changed, the circle's vertical offset changes with it.

**To Reproduce**
1. Clone [this repo](https://github.com/TruckMap/mapbox-pitch-bug-example).
2. Set a va

[2020-08-14 08:44] ferdicus commented on #976
Added a note to our README, closing this ticket

[2020-08-14 08:44] #976 closed

[2020-08-14 13:17] #987 closed

[2020-08-14 13:36] ferdicus commented on #971
Not sure if this is related, however just found it after a quick google search, maybe it helps:
https://github.com/mapbox/mapbox-gl-native/issues/16511

[2020-08-14 13:53] ghitier commented on #971
Thanks for the answer @ferdicus. I'm already tracking that issue. I think you're right, the issues seem related.

But is there maybe an easy way to stop the mapbox from attempting to write those logs altogether ?

[2020-08-14 14:06] ferdicus commented on #988
Does the same happen for Android?
Just curious.

[2020-08-14 14:08] ferdicus commented on #971
sorry @ghitier, I'm not sure 🤷
I'm not really that well versed when it comes to the native bits :(

[2020-08-14 14:15] ghitier commented on #971
Yeah me neither. Let's hope that they they'll find something in the issue you linked.

[2020-08-14 14:30] naftalibeder commented on #988
Good question - yes, the same thing happens on Android.

[2020-08-14 14:48] ferdicus commented on #974
Changed the label to: First issue, as it's now just about the TS props.

[2020-08-14 15:25] ferdicus commented on #988
dumb questions, did you try without expression?!

[2020-08-14 15:32] ferdicus commented on #988
when checking this repos source, there isn't much that we actively do, it seems more, that we're just passing them through.
Android side:
https://github.com/react-native-mapbox-gl/maps/blob/ec0c63e1d46f2f152f0d9f8eb6242ce47fda5e8a/android/rctmgl/src/main/java/com/mapbox/rctmgl/components/styles/RCTMGLStyleFactory.java#L1693-L1699

https://github.com/react-native-mapbox-gl/maps/blob/ec0c63e1d46f2f1

[2020-08-14 15:41] naftalibeder commented on #988
Sorry, I'm not sure what that means?

[2020-08-14 16:04] dorthwein commented on #645
OMG AWESOME STUFF - LEGIT BEEN A YEAR - 2 YEARS NEEDING THIS AND WORKING AROUND IT! <3

[2020-08-14 19:46] ferdicus commented on #988
Sorry, I was just thinking loud, asking myself if this is maybe an issue upstream and me being unsure about it, because I'm not deep into the native parts...

[2020-08-14 19:47] naftalibeder commented on #988
No worries, thanks for the thought! Hopefully someone else has an idea.

[2020-08-14 19:49] ferdicus commented on #645
Glad it helped, what I've been asking myself since then is: What is `VerticalAlignment` for then?
Was it ever there? Was it doing anything?! 🤷‍♂️

[2020-08-14 20:42] mfazekas commented on #988
According to the style spec no expression (data drive styling) is supported for this:
https://docs.mapbox.com/mapbox-gl-js/style-spec/layers/#paint-circle-circle-translate-anchor

maybe our docs needs to be fixed?!
https://github.com/react-native-mapbox-gl/maps/blob/master/docs/CircleLayer.md#name-11

[2020-08-16 07:18] #896 closed

[2020-08-17 13:16] johnneuland opened #992 "MarkerView does not work in Android"
🚨🚨🚨
* Please respect and fill out the issue template
* Before you report, please make sure you tested on a physical device
* For build issues: Can you reproduce it on a clean install of the example app? Please include full steps to reproduce from `react-native init`
* Please include standalone code sample - a single component with one MapView in it. Use [one of our example](https://github.com/reac

[2020-08-17 13:22] #992 closed

[2020-08-17 13:32] johnneuland opened #993 "MarkerView & PointAnnotation doesn't work on Android"
**Describe the bug**

Within my map, I need to mark a **single** coordinate. I have tried using PointAnnotations but it only worked in iOS and not Android. Every time, I opened the map screen on Android, I got an error **Index:2, size:1**.

Now, I am trying to use MarkerView. I cloned the example app from this repo and tested it there (iOS). It worked fine for iOS. However, now I am trying to use

[2020-08-17 14:00] ferdicus commented on #993
Question, because I didn't get it from your description.
You tried the example app and it didn't work, or you didn't try the example app?

Could it be, that any of your variables might not be defined?

[2020-08-17 14:29] nhammad commented on #993
- For point annotations, I tried it in my own app. It worked on iOS but not on Android. If I comment out the point annotations part, and just leave the map view and camera view, that works on Android. But not the annotations.

For the MarkerView, I tried it in the example app and it worked (iOS). I used the same code in my own Android app but it doesn't work. It gives the index error again.

[2020-08-17 15:06] ClayC-WeatherBug commented on #921
We are currently in the process of converting from JS to TS at my company and are taking the gradual approach. I've taken this approach before at previous companies with a lot of success. It'd be great to see us move towards using typescript in this repo.

I assume you mean the transpilation/build output? If that is the case, then yes it transpiles everything down into a single distributable. If y

[2020-08-17 16:45] johnneuland commented on #993
For point annotations, I tried it in my own app. It worked on iOS but not on Android. If I comment out the point annotations part, and just leave the map view and camera view, that works on Android. But not the annotations.

For the MarkerView, I tried it in the example app and it worked (iOS). I used the same code in my own Android app but it doesn't work. It gives the index error again.

[2020-08-17 17:25] #913 closed

[2020-08-17 19:38] mfazekas commented on #993
@johnneuland pls share the full error, thanks!

[2020-08-18 00:07] renanfmartins opened #994 "SymbolLayer don't work when we have an App Off-line"
**Describe the bug**

After I created a package off-line related an region, when I tried to render the **MapView** with a **ShapeSource** the map don't show nothin related of ShapeSource, if I remove the **SymbolLayer**, the **Mapview** render the **ShapeSource**.

**To Reproduce**

1. Create an off-line package related a region, before to render the Mapview.
2. Access the Mapview with a ShapeSour

[2020-08-18 00:09] dedeco commented on #994
Same error!

[2020-08-18 07:07] johnneuland commented on #993
please see the attached screenshot

[2020-08-18 07:41] mfazekas commented on #993
@johnneuland pls simplify your code until the error dissapears, for example not sure what `AddressTextBox` is doing there.

[2020-08-18 07:46] johnneuland commented on #993
That's not what's causing the problem. If I remove the pointAnnotation/MarkerView, then it gives no error on android. But if I add either of them, it only works on iOS and not Android.

[2020-08-18 07:51] mfazekas commented on #993
Also PointAnnotation and marker view should have child views to display.

[code]

[2020-08-18 08:58] johnneuland commented on #993
PointAnnotation doesn't work even if I wrap the content in a View. The MarkerView worked for a second but then I reloaded the app and it's not working ever since then. Same index error. Even when it worked, it only showed the logo (not the annotation like in iOS).

[2020-08-18 11:50] johnneuland commented on #993
After making some minor changes in the MapContainer and annotationsContent, I am able to see It on Android too.
[code]

However, I am still unable to use the AddressTextBox component in Android. It works perfectly in iOS but gives this index error in Android. Here's what the component looks like:
[code]

According to this, it's not possible to render a view inside mapView, but how does it work for

[2020-08-18 13:10] ferdicus commented on #993
That is another issue though.

The answer to your other questions was also already answered in
nitaliano/react-native-mapbox-gl#1488

Use a component outside of MapView and via position absolute move it wherever you like.

Closing this as resolved

[2020-08-18 13:10] #993 closed

[2020-08-18 13:13] fabriciomirandabr commented on #994
I think we have a similar issue, but the guy doesn't  talked if this was resolved

https://github.com/react-native-mapbox-gl/maps/issues/774

[2020-08-18 14:26] snuuve opened #995 "Black screen on Android device"
After upgrading to `8.0.0` i have black screen on Android device. With iOS is fine.

`adb logcat | grep Mbgl` showing this problem with connection:

[code]

Versions (please complete the following information):

Platform: Android
Device: multiple
Emulator/ Simulator: device
OS: multiple
react-native-mapbox-gl 8.0.0
React Native Version 0.62.2

[2020-08-18 15:10] ferdicus commented on #995
Maybe `accessToken` issues?

`loading style failed: HTTP status code 404`?

[2020-08-18 15:25] lorenc-tomasz opened #996 "[Question] Many map views in SectionList/FlatList is blocking/slowing down rendering"
Hi,
is there anyone who have resolved issue with slow rendering FlatList/SectionList with multiple map views?

[2020-08-18 18:51] snuuve commented on #995
If i do `getAccessToken` i see it. So it's look like is assigned.

[2020-08-19 04:12] mfazekas commented on #994
I think this is #3 from https://github.com/react-native-mapbox-gl/maps/issues/774#issuecomment-609831147

It's an upstream issue, not much we can do with that.

[2020-08-19 18:20] ferdicus commented on #995
Are you using some custom style for the map?

Can you please share some code? How are you initializing the map?

[2020-08-19 18:51] #996 closed

[2020-08-19 19:35] snuuve commented on #995
@ferdicus Yes, i'm using custom styles, however without this styles also doesn't work.

Acces token is set in App.ts.

Here is my cod:
[code]

[2020-08-20 08:19] RobertSasak commented on #869
I can confirm that this is still an issue on today's master. As far I can see *mMapView* is null in
https://github.com/react-native-mapbox-gl/maps/blob/452ce86355a6993e96617cf799b98876668b79e7/android/rctmgl/src/main/java/com/mapbox/rctmgl/components/location/RCTMGLNativeUserLocation.java#L59

I tried to simply add a null check, but that leads to similar issue another place. It seems that the orde

[2020-08-20 15:07] jbeuckm opened #997 "How to modify features in place?"
I need to modify the properties data of in-place features from a vector tileset. We currently set style expressions but they can be quite large and affect performance (eg. a match expression on a list of 1000 ids). Better to have a static style and modify properties in the data.

Feature data can be modified directly: https://docs.mapbox.com/ios/maps/examples/runtime-animate-line/

A nice to have

[2020-08-21 02:00] lukemcgregor commented on #995
This is a pretty common issue with the simulator. For me i get maybe half my tiles rendered black and other issues drawing different layers on the sim. Ive never had similar issues on a real device. see #907

Its related to this mapbox issue https://github.com/mapbox/mapbox-gl-native/issues/14604

You can fix this in the sim by setting the renderer to SwiftShader (and rebooting the device), but it

[2020-08-21 14:57] HughBoert opened #998 "react-native-mapbox-gl/maps/setup-jest not working as expected"
I followed the instructions to setup jest tests for react-native-mapbox-gl (adding '@react-native-mapbox-gl/maps/setup-jest' to setupFilesAfterEnv), but it destroys hundreds of tests written before.
I get `SyntaxError: Unexpected token {` on every test.

After adding mapbox-gl to transformIgnorePatterns in the jest config, half of the tests in the project are still failing with the exception `Righ

[2020-08-23 15:22] bboure opened #1001 "[IOS] incorrect zoomLevel value in onRegionDidChange"
**Describe the bug**
In the `onRegionDidChange` callback, a Geojson is passed, which should contain the [zoomLevel and other properties](https://github.com/react-native-mapbox-gl/maps/blob/master/index.d.ts#L371-L376)
When I set `defaultSettings` with some bounds, the very first time the function is called (after the map is loaded), the `zoomLevel` value is wrong.
After moving the map, onRegionDid

[2020-08-24 00:42] luskin commented on #956
@mfazekas we are still receiving this error constantly on `8.1.0-rc.2` - any advise?

[2020-08-24 04:19] mfazekas commented on #956
@luskin can you try master?!

[2020-08-24 07:18] thanmaic opened #1003 "Map not loading in Android"
Hi,
I am using mapbox for my react native project. I tried to render a simple map view on both iOS and Android, it loads on iOS but i see blank in Android. I am not sure what the issue is about and I am stuck with this for about 2 days please can anyone help me on this?

**React Native version: 0.51.0
RN mapbox version: 6.0.2**

Since we have an older version of react native in our project to matc

[2020-08-24 08:26] thanmaic commented on #995
Even i have the same issue of map being blank on Android. I have created an issue as well https://github.com/react-native-mapbox-gl/maps/issues/1003 regarding the same with more details about the issue
.

[2020-08-24 12:42] #893 closed

[2020-08-24 16:57] ClayC-WeatherBug commented on #998
I just set this up a week or two ago and ran into the first issue until I added the transformIgnorePatterns bit. It sounds like maybe we need to update our docs to include that in the jest setup.

For the other issue, I don't remember seeing that particular error. Could you post an example of the code for a failing unit test and its setup? Maybe a stack trace so we can see exactly where it is fail

[2020-08-24 17:02] snuuve commented on #995
Ok, so if i remove `styleURL` then map is showing up. Any idea why styles doesn't work on Android?

[2020-08-24 19:10] luskin commented on #956
@mfazekas - yes, adding master worked. Any timeline for creating an official release with this?

[2020-08-25 08:55] duanzjun opened #1004 "RasterSource adds layers that wobble when animated"
**Describe the bug**
In the AnimatedLine example, when I add a RasterSource layer below and the animation causes the center point to change, the RasterSource layer wobbly

Example:
[code]

**Versions (please complete the following information):**
 - Platform: [ Android]
 - Device: [ HuaWei P20 Pro]
 - OS: [ Android 10]
 - react-native-mapbox-gl Version [8.1.0-rc.2]
 - React Native Version [0.63]

[2020-08-26 14:02] virtumonde opened #1005 "Fatal Exception: java.lang.OutOfMemoryError when using high dimension images as icons"
**Description**
```Fatal Exception: java.lang.OutOfMemoryError``` is invoked and the app crashes when high dimension images are used in production (in debug mode some of the images turn gray).

**To Reproduce**
1) Create a map
2) Add 500+ points with icons that are 512x512px (about 12 different icons).
3) Run the release version on a real device (tested only on Android)
4) Get ```Fatal Exception:

[2020-08-26 14:03] virtumonde commented on #1005
Is there a way to make this library work in this scenario?

[2020-08-26 14:22] pcourpron opened #1006 "Add a touch move event"
Hi there!
I didn't really know where to add this issue and thought this would be the best place for it. I wanted to create something were a user could draw a route on the map using the onTouchMove prop. However, that prop doesn't return any coordinate values.
Are there any plans to add this ? (or a current prop that I'm missing)
Thanks!

[2020-08-26 15:33] virtumonde commented on #1003
Do do you get any errors? Check the logs.

[2020-08-27 05:27] Polyrion opened #1007 "TypeScript GeoJson Errors on Test"
**Describe the bug**
Hi everyone when i launch a tsc test i got 48 errors

[code]

My TS Config:
[code]

**Versions (please complete the following information):**
 - "@react-native-mapbox-gl/maps": "^8.1.0-rc.2",
 - "react-native": "0.63.2",
- TSC Version : 3.9.7

**Expected behavior**
No type errors.

**Additional context**
I know that a ticket as already got created with a PR merged that should

[2020-08-28 11:38] cbrevik commented on #1007
Does it help to install `@types/geojson`?

`yarn add --dev @types/geojson`

[2020-08-28 12:49] ferdicus commented on #1001
I know it's a hassle, but please make sure to fill out all required fields of the issue template.
What version of the lib was this for example, was this on the simulator or on a real device.

Thanks

[2020-08-28 12:55] ferdicus commented on #1003
Sorry, however we do not have the capacity to verify all previous versions on older RN and android device versions.
Please follow @virtumonde suggestion and check the logs, feel free to post them here.

Also, please fill out the template correctly, with _all_ fields.
Will close, we can reopen once you've added additional information

[2020-08-28 12:55] #1003 closed

[2020-08-28 13:02] cbrevik opened #1008 "[iOS] onRegionDidChange is not called if you swipe and stop the animation"
**Describe the bug**
This happens on iOS (both device and simulator). If you swipe/pan the map in one big motion, and then stop it by pressing down before the animation finishes, `onRegionDidChange` is not called.

**To Reproduce**
1. Swipe the map
2. Stop the animation before it finishes by clicking/pressing on the map to hold it
3. Let go (without moving the map)
4. Notice that `onRegionDidChang

[2020-08-28 13:09] bboure commented on #1001
Sorry @ferdicus  I just updated the issue with the required info

[2020-08-28 13:11] #1006 closed

[2020-08-28 13:24] ferdicus commented on #971
@mfazekas, this issue seems to be fixed upstream.
We "just" need to update the iOS SDK :)

[2020-08-28 13:45] ferdicus commented on #988
Hmm, yeah we don't seem to consume the full info from `v8.json` when generating the docs:
[code]

I could have a go at this, if you'd like @mfazekas

[2020-08-28 14:35] snazarkoo commented on #725
@Mr-Alirezaa Hey, I wonder if you have managed this problem. And if yes, have you used your `CustomURLProtocol` or found another solution for it?

[2020-08-28 14:44] systemlevel commented on #971
@ferdicus Are there a lot of Breaking Changes in the new iOS SDK upgrade?

[2020-08-28 14:59] Mr-Alirezaa commented on #725
Hey @snazarkoo, I couldn't use my own subclass of `URLProtocol` to solve my problem. Since my company is using Mapbox SDK to show its tiles and style I needed it to send some custom request headers with all (especially style and tiles) requests.
This solution was only usable when I wasn't using react-native SDK.
I think this is because of that react-native SDK itself is registering some custom `UR

[2020-08-28 15:04] ferdicus commented on #971
I haven't really looked at the changes besides this issue and [updates to the license and distribution of mapbox iOS](https://github.com/mapbox/mapbox-gl-native-ios/releases/tag/ios-v6.0.0)

[2020-08-28 15:06] systemlevel commented on #971
Okay cool, found the following in the description:

"This major release does not include any breaking changes to public APIs. We are treating this release as a SEMVER major change because our installation instructions have changed.”

Interesting.

--
Sent from Canary (https://canarymail.io)

[2020-08-28 18:25] Polyrion commented on #1007
It remove a lot of errors but still 7 errors remains :
[code]

[2020-08-30 09:27] jaaouani-glitch opened #1010 "React native failed to obtain last location."
I'm trying to use Mapbox on my app, few days ago it was doing great but then on my react-native project I get this error: Mapbox Error last update unavailable on Android but not on iOS, I'm using Mapbox.UserLocation component like this:

 <MapboxGL.MapView style={{ flex: 1 }}
    compassEnabled={false}
    attributionEnabled={false}
    zoomEnabled
    logoEnabled={false}
    onUserLocationUpdate=

[2020-08-30 13:26] virtumonde commented on #1005
The obvious fix is to reduce the size of the images, which worked. Are there other options?

[2020-08-31 00:44] riangeofandy commented on #296
@guhan0 probably it's a different issue? What is the value of your ARCHS_STANDARD?

[2020-08-31 11:24] ferdicus commented on #1010
Please respect the issue template - information is missing

[2020-08-31 15:44] luskin commented on #956
@naftalibeder: `"@react-native-mapbox-gl/maps": "https://github.com/react-native-mapbox-gl/maps#master",`

[2020-08-31 20:57] naftalibeder commented on #956
Thank you!

[2020-09-01 03:35] jaaouani-glitch commented on #1010
Sorry, but the solution was just to enable HighAccuracy on my android phone.

[2020-09-01 03:35] #1010 closed

[2020-09-01 06:45] kunal886496 commented on #836
Go away stale.

On Wed, Aug 26, 2020, 03:48 stale[bot] <notifications@github.com> wrote:

[2020-09-01 08:52] johnneuland opened #1011 "Map Screen Turns into Blue"
**Describe the bug**
I have a screen where I show the users current location. Every now and then, the map screen turns into blue. There's no error but its just blue.

Someone on the Gitter page of react-native-mapbox-gl/Lobby said:
If what you see is a blue screen, it might be that the map does not get the location and you are just in lat and lng 0 which is the middle of the ocean.

If this is the

[2020-09-01 09:54] Return-1 commented on #983
Any ideas on this? Could do some hacky thing where 0.0001 is added on iOS but thats obviously a workaround.

[2020-09-01 11:27] ferdicus commented on #1011
That can't be a correct React Native Version.

Can you explain your use case please, like when is the issue happening.
Another question: Why are you using an external service to get the current position?

[2020-09-02 23:42] ewc003 opened #1013 "ImageSource coordinates do not update"
**Describe the bug**
I would like to update the coordinates of the ImageSource when the image URL changes.
The image does change when the URL changes, but the coordinates do not change. I have modified the heartbeat function in the example ImageOverlay component and also added the constant variable coordQuads which contains two different sets of coordinates.

**To Reproduce**
Clone maps example ap

[2020-09-03 05:05] raazatul7 commented on #993
`<MapboxGL.MapView
          ref={c => (this._map = c)}
          logoEnabled={false}
          style={{flex: 1}}>
          <MapboxGL.Camera
            ref={c => (this.camera = c)}
            zoomLevel={14}
            centerCoordinate={this.state.currentLatLng}
          />
          {/* User location */}
          <MapboxGL.PointAnnotation
            key={'9090'}
            id={'9090'}

[2020-09-03 08:32] raazatul7 opened #1014 "MarkerView, PointAnnotation & Callout doesn't render points on Android, works fine on iOS."
**Describe the bug**
I am using Mapbox to display Point on the map and using Callout to show additional information.
It's working fine in iOS but I'm not able to see the same in android.
I can see the points and Callout is working fine but didn't render anything on the Android device.

**To Reproduce**
Example:
[code]

**Expected behavior**
It should work the same on Android devices as well.

**Sc

[2020-09-04 06:17] taduyde commented on #1014
The same issue. and for the android devices.  MarkerView render with a flick, it's not like iOS

[2020-09-04 09:39] trungnt98 opened #1015 "MarkerView renders underneath attribution + compass"
Is there a way to render markerview above attribution + compass ? I can't not set zIndex for markerview even so attribution + compass

[2020-09-04 13:42] ferdicus commented on #1013
@ewc003, you don't know by any chance if this is also happening on iOS, do you?

[2020-09-04 13:47] ferdicus commented on #1014
@raazatul7, you probably saw the issue template - please edit the description and fill out _all_ mandatory points.
You expect voluntary devs to look at your issue, please take the time to fill out the required info.

Thanks 🙇

[2020-09-04 13:47] #1015 closed

[2020-09-04 13:51] ferdicus commented on #539
@kelleyvanevert, it's been a while since you've been active on this issue.
I just want to inquire if you're still working on this?

I'd like to slap a few labels on this issue and make sure, that it's still relevant

Thanks 🙇

[2020-09-04 14:21] raazatul7 commented on #1014
Done.

[2020-09-05 17:03] virtumonde commented on #891
The same story using a real device. Please help.

[2020-09-05 21:55] virtumonde commented on #891
Also, the bug is active only when ```followPitch``` is used.

[2020-09-07 12:40] kuwatog commented on #869
for me it occurs when adding
implementation 'com.google.android.gms:play-services-location:17.0.0'

I added this to gradle because of device location being turned ON.

[2020-09-08 13:58] #1005 closed

[2020-09-08 14:23] aikitpete opened #1017 "MapboxMobileEvents.framework had no keys"
My React Native project no longer compiles after updating my environment to Xcode 11.7 and iOS 13.7 on the deployment device. I noticed others experiencing the same kind of issues in a very recent timeframe while doing such updates.

This line from the iOS device console seems to give a hint of what's going on:

`package.json` shows that I am using `"@react-native-mapbox-gl/maps": "^8.0.0"`

The e

[2020-09-08 15:51] mfazekas commented on #1017
@aikitpete thanks for the report.

I don't think this is the official way to consume the library, is it?!
Also note that recent mapbox pods require access token. In any case this error complains about Info.plist of `MapboxMobileEvents` being non existent, which sounds like an incomplete download/unzip.

[2020-09-08 15:51] #1017 closed

[2020-09-08 21:35] ewc003 commented on #1013
@ferdicus I'm not sure about that one. I only have access to Android as of now.

[2020-09-09 07:10] ferdicus opened #1018 "Move from Travis to GH Actions"
GH Actions are free for open source projects and together with moving away from `depfu` to `dependabot` we would have a a one stop shop for our repo concerns.

[2020-09-09 07:12] ferdicus opened #1019 "Move from depfu to dependabot"
Similar to #1018 - let's move to a fully github supported repo.
Makes integration and maintainability easier..

[2020-09-09 09:47] raazatul7 commented on #1014
@ferdicus Any update?
Will anyone checks this?

[2020-09-09 18:01] leonamjlpaula opened #1020 "PointAnnotation collection not being rendered on screen first render."
I have a screen where I render an array of PointAnnotation representing a generated grid. After the screen opens I generate this grid by clicking a button. The problem is: the first time I generate the grid the PointAnnotation collection is not rendered (but a ShapeSource+FillLayer is rendered). Then if I navigate back this screen and reopens it and recreate the grid then it is plotted! How could

[2020-09-10 07:18] ferdicus commented on #1020
Hi, thanks for opening an issue.

Please follow the bug template or the ticket will be closed.

[2020-09-10 08:55] SalihZinaty opened #1021 "App crashes with renerMode={"Native"} and AndroidRenderMode={"compass"}"
<MapboxGL.UserLocation renderMode={'native'}
                                           androidRenderMode={'compass'}
                                           showsUserHeadingIndicator={true}
                                           visible={true}
                                           animated={true} />

crashes the app with Error: Error While updating property 'androidRenderMode' of view

[2020-09-10 08:58] #1021 closed

[2020-09-10 09:19] SalihZinaty opened #1022 "App crash with Error: Error While updating property 'androidRenderMode' of view managed by: RCTMGLNativeUserLocation null"
**Describe the bug**

crashes the app with Error: Error While updating property 'androidRenderMode' of view managed by: RCTMGLNativeUserLocation null
Attemt to invoke virtual method 'com.mapbox.rctmgl.components.location.LocationComponentManager com.mapbox.rctmgl.components.mapview.RCTMGLMapView.getLocationComponentManager()' on null object reference.

**To Reproduce**
just added renderMode={'nati

[2020-09-10 12:07] mzu opened #1023 "Heading indicator (normal) not following map rotation"
**Describe the bug**
The following happens when running the example project on a device for iOS: The heading indicator (arrow) is not following when the map gets rotated manually. It keeps on pointing towards the same direction as if the map was still orientated due north.

**To Reproduce**
- Install the **example app** for the latest release (I used tag 8.1.0-rc4). Then Camera->Set User Tracking

[2020-09-10 12:51] SalihZinaty commented on #1023
where you define the UserLocation.renderMode={'native'} ? on the componentdidmount ?

[2020-09-10 13:09] thomasgauvin opened #1024 "Any plans for support of newly released Mapbox Search SDK?"
**Describe the bug**
Feature request.

**To Reproduce**
https://docs.mapbox.com/android/search/overview/ and https://blog.mapbox.com/history-and-favorites-mapbox-search-sdk-for-ios-android-now-in-public-preview-fe1b4e5a0f0

**Additional context**
If this is not the place to ask this question, sorry about that. Do you know where I should be asking this question?

[2020-09-10 13:23] ferdicus commented on #1023
will reopen when description is edited accordingly

[2020-09-10 13:24] #1024 closed

[2020-09-10 13:26] ferdicus commented on #1024
You can ask general questions in our gitter chat.

This however is outside of the scope of this repo.
Feel free to open a PR if you feel strongly about it, or feel free to open a separate repo/ dependency and we can check if they could be integrating nicely.

Cheers

[2020-09-11 10:33] #1020 closed

[2020-09-11 12:08] ferdicus commented on #1022
hey @SalihZinaty, this PR (https://github.com/react-native-mapbox-gl/maps/pull/1026) attempts to fix the crash.
Can you try it out please?

Thanks

[2020-09-11 19:59] ferdicus commented on #915
@rdgomt, there are some changes requested for the PR and @soumyashisPR hasn't replied yet.
So unfortunately we have to wait, or someone else jumps in.

[2020-09-12 08:29] DroidZed opened #1029 "Error while updating property 'coordinate' of a view managed by: RCTMGLMarkerView"
**Describe the bug**
The MarkerView component doesn't want to work, the moment I add it inisde the MapView the red error screen pops up and can't figure out the issue here !
Everything is passed correctly tho, view the details in the code below to understand more.

**To Reproduce**
1. Install the example code
2. Import & add the Camera and MarkerView components into the app
3. Get the user locatio

[2020-09-12 10:13] kelleyvanevert commented on #539
Hey!

This was a performance issue for my app, and although still relevant, after this initial investigation I never put in the time to work it into a PR, because overall it was eclipsed by more pressing work to be done on the app ;)

Maybe we can keep it open for a while longer though. The app is reaching completion, which will free up some time to get back to performance issues like these :)

[2020-09-12 15:43] soumyashisPR commented on #915
Hey @ferdicus, Apologies for the delay. Have addressed PR comments, please have a look.
https://github.com/react-native-mapbox-gl/maps/pull/999

[2020-09-13 12:01] johnneuland commented on #1014
Look into this. Maybe it'll give you an alternative way to do it @raazatul7 https://medium.com/javascript-in-plain-english/mark-a-coordinate-on-mapbox-map-in-react-native-5d21c71ed46e

[2020-09-13 12:10] johnneuland commented on #1011
This is what I get when I check with ```react-native --version```. By external service, do you mean react-native-geolocation-service? How else can I get user location such that I can automatically pass it to my mapView and CameraView every time I visit the screen?

The user location part generally works fine. However, sometimes when the app crashes due to some other error and we reload it on the s

[2020-09-13 14:01] raazatul7 commented on #1014
I am using the same code from examples
[code]

But the image is not loading in my project but when I run the example code it works.
Don't know what's wrong in this, it's not working on android.

[2020-09-14 04:49] ferdicus commented on #539
That'd be great, thanks 🙇

[2020-09-14 04:57] ferdicus commented on #1029
hmm, going from the error message I unfortunately have to still ask: what the value of `coords` on initial render?
Can you add a fallback for when it's not defined or add a default in `MarkerView` for when it's not defined yet and check again.

or `return null` instead of your component before `coords` is defined.

Thanks

PS: also thanks for the fully filled out bug report - really appreciated

[2020-09-14 05:06] ferdicus commented on #1011
That's the `react-native-cli` tools version.
We're asking which version of `react-native` you've defined in your projects `package.json`.

You can add a `UserLocation` component to your `MapView` and add a callback function to its `onUpdate` method.
That will fire everytime a location update is triggered by Mapbox. No need for an external dependency to get the users location.

My suspicion is, tha

[2020-09-14 07:22] johnneuland commented on #1011
You mean I should not use the function on ```onDidFinishRenderingMap```? I am already using ```UserLocation```. I am not sure what callback to add within ```onUpdate```.

Could you suggest how exactly can I "Wait till you get a position before displaying the map"

[2020-09-14 07:37] ferdicus commented on #1011
Check which one works best for your useCase, there are other callbacks like `onDidFinishRenderingMapFully` which might work better - trigger correctly.

You could add `setCurrentPositionOnMap` as the callback on `UserLocations` `onUpdate`.
Everytime mapbox gets the user location it would set the coordinates of this component.

In your components `return` you have a check (pseudocode below):
[code]

[2020-09-14 16:05] nasmuris commented on #986
I've managed to install the version `6.2.0-beta.1` using `ENV['REACT_NATIVE_MAPBOX_MAPBOX_IOS_VERSION'] = '~> 6.2.0-beta.1'` in combination with local podspec `pod '@react-native-mapbox-gl-mapbox-static', :path => './@react-native-mapbox-gl-mapbox-static.podspec.json'`
I had to provide `.netrc` file according to documentation
I also downloaded the direct zip file `mapbox-ios-sdk-6.2.0-beta.1-dynam

[2020-09-14 20:57] DroidZed commented on #1029
I added in the Additional Context part, the value of `coords` when it is read, but providing [0,0] or any other ***manually*** typed coordinates would work ! I think I have to wait for the MapScreen component to *fully* renders, the state to resolve and finally to get passed into the coordinates prop.
Well after all I dropped the feature, by replacing it with a simple UserLocation component and ma

[2020-09-15 00:23] #806 closed

[2020-09-15 04:28] ferdicus commented on #1029
resolved

[2020-09-15 04:28] #1029 closed

[2020-09-15 09:57] DroidZed commented on #1029
I hope smo who encounters this issue again would see my post and provide a better solution.

[2020-09-15 12:55] ClayC-WeatherBug commented on #1014
@raazatul7 it's working on the example app for Android and iOS but not for your app? Is it possible you missed a step or don't have the correct versions of something installed?

[2020-09-15 12:57] raazatul7 commented on #1014
I tried everything, only the image is not rendering in Android, it's working fine in iOS.

[2020-09-15 13:58] ClayC-WeatherBug commented on #997
Does the other data you are wanting to add or modify to the features need to be part of their properties? I've done similar things to this and just kept a separate object or array of objects for lookups as needed. What I mean by this is maybe you have something like a vector source that provides just IDs but you have a separate API call or something that gets your property data for each ID so that

[2020-09-15 14:02] ClayC-WeatherBug commented on #1014
Is it working in the example app?

[2020-09-15 14:04] raazatul7 commented on #1014
Yes, I'll check with the latest version as well.

[2020-09-15 15:03] nasmuris commented on #986
Finally solved this, I'm adding `MapboxMobileEvents` directly to the project as stated in official installation docs  but using `Mapbox-iOS-SDK` via Pods, so no adding `Mapbox` to Framworks...
furthermore, I'm having enviroment vars defined in my `Podifle`:
[code]
Seems to be working OK so far

[2020-09-15 17:39] mfazekas commented on #1014
@raazatul7 do you use the onload/refresh to refresh PointAnnotation when image loaded?! If so pls edit the code in the initial comment https://github.com/react-native-mapbox-gl/maps/issues/1014#issue-691763079

[2020-09-15 20:23] natew commented on #693
Can we re-open this one?

[2020-09-16 05:06] ewc003 commented on #1013
@ferdicus I have tested the same code on IOS and I have the same issue.
I am running the same ImageOverlay component on iPhone SE (2nd generation) (IOS 13.6).
The image will update but the coordinates that the image covers does not change. Please let me know if you have any ideas on how to fix this.

[2020-09-16 09:27] raazatul7 commented on #1014
Yes

[2020-09-16 09:52] raazatul7 commented on #1014
I tried with and without onload, still not getting image.

[2020-09-16 09:52] raazatul7 commented on #1014
Have a look :
![Screenshot_2020-09-16-12-25-02-448_com peep](https://user-images.githubusercontent.com/29301407/93321976-6f70bf00-f830-11ea-80ce-b8936c4792e4.jpg)

[2020-09-16 15:46] janweigel commented on #1013
Same problem here on Android and iOS.
The coordinates of MapboxGL.ImageSource do not update which is a real show stopper for many scenarios.

[2020-09-16 18:15] mfazekas commented on #1014
@raazatul7 i understand, that you've tried with onload but we need to see the full code. As reported without onload/refresh it will not work, as PointAnnotation on android captures the RN view to a bitmap.  So refresh needs to be called to recapture the RN view once the image has fully loaded.

Will reopen once you corrected code in initial comment.

[2020-09-17 04:07] raazatul7 commented on #1014
Changes are done!

[2020-09-17 10:03] ansarikhurshid786 opened #1031 "linking in dylib built for iOS, file 'projectroot/node_modules/@react-native-mapbox-gl/maps/ios/Mapbox.framework/Mapbox' for architecture arm64 in XCode 12"
**Describe the bug**
I have update xcode 11.x to xcode 12. Now I am getting error following error while running application in simulator:
"ld: building for iOS Simulator, but linking in dylib built for iOS, file 'rootproject/node_modules/@react-native-mapbox-gl/maps/ios/Mapbox.framework/Mapbox' for architecture arm64"

**To Reproduce**
1) Open project with xcode 12
2) Build project

Example:

**Ex

[2020-09-17 14:12] ClayC-WeatherBug commented on #1014
Was the flickering occurring on an emulator? I've seen flickering, but I think that I've only ever seen it on an emulator.

[2020-09-17 16:03] Beamanator commented on #1005
@virtumonde did you try adding `android:largeHeap="true"` to the `application` tag in `android/app/src/main/AndroidManifest.xml`?

I ran into the same error you did, made the above change (after seeing this issue: https://github.com/facebook/react-native/issues/6799) and the error went away, at least for the few devices I've tested so far.

[2020-09-17 16:32] naftalibeder opened #1032 "Padding error on iOS: Unable to calculate appropriate zoom level for bounds"
## Description
There is a bug in Mapbox that causes an error on iOS when a cumulative padding of `64` or greater is applied to the camera. In addition, padding does not have any effect on the way bounds are centered on the screen on iOS.

## Steps to reproduce
1. Clone [this repo](https://github.com/TruckMap/mapbox-example-padding).
2. Configure and run it as described in `readme.md`.

## Expected

[2020-09-18 06:16] raazatul7 commented on #1014
I tried using both Uri and local images still not getting any image on the Andorid device.
Tried using your Custom callout but still not able to find out how images will render.

[2020-09-18 11:22] ferdicus commented on #986
hey @nasmuris, great that it worked 👍

Could you concisely write down in one comment the exact steps required to upgrade, so others can see them at a glance till we increase/ include it in the repo.

Thanks 🙇

[2020-09-18 12:18] ferdicus commented on #1014
I'm closing this, sorry @raazatul7, we can't help you with this, unless you can provide a repo with a project that shows the behaviour you observed.

With all the evidence we have to assume, that the issue is on your end:
* no one else mentioned this issue
* example app works for you and everyone else
* the url you posted into your image does not directly link to a png

I've tested with this [link

[2020-09-18 12:18] #1014 closed

[2020-09-18 12:47] RockyTV opened #1035 "Markers inside MarkerView change position when you drag the map"
**Describe the bug**
When moving the map with a `MarkerView` being displayed, the marker will change its position instead of staying at its coordinates.

**To Reproduce**
Add a `MarkerView` with a marker and drag the map.

Example:
[code]

**Expected behavior**
The marker shouldn't move when you're dragging the map. The same does not occur with `PointAnnotation`.

**Screenshots**
![](https://i.img

[2020-09-18 13:30] ferdicus commented on #1035
Hey @RockyTV , what is your usecase?
Does it have to be highly interactive?

Unfortunately that is part of the implementation on Android :(

If you can live with something less interactive you should look into `PointAnnotation` or `SymbolLayer` instead.

[2020-09-18 13:30] #1035 closed

[2020-09-18 16:27] ferdicus commented on #1013
@ewc003 , this is partially fixed in #1036.
Unfortunately only for Android as I can't understand the iOS portion of the code 😞

Can't you maybe give it a spin and verify the fix?

Thanks 🙇

[2020-09-18 17:30] virtumonde commented on #1005
@Beamanator that unfortunately did not help, only reducing the image size solved the problem.

[2020-09-18 17:46] ewc003 commented on #1013
@ferdicus This is great, just what I wanted! Thanks so much for your time and help, I appreciate it!

[2020-09-18 18:48] ferdicus commented on #1013
@ewc003 , this is partially fixed in #1036.
Unfortunately only for Android as I can't understand the iOS portion of the code 😞

Can't you maybe give it a spin and verify the fix?

Thanks 🙇

[2020-09-19 04:48] natew commented on #986
@nasmuris where do you find the `mapbox-ios-sdk-6.2.0-beta.1-dynamic-with-events.zip`?

[2020-09-20 08:46] ES1993 opened #1037 "PointAnnotatio refresh not work"
🚨🚨🚨
* Please respect and fill out the issue template
* Before you report, please make sure you tested on a physical device
* For build issues: Can you reproduce it on a clean install of the example app? Please include full steps to reproduce from `react-native init`
* Please include standalone code sample - a single component with one MapView in it. Use [one of our example](https://github.com/reac

[2020-09-20 14:48] #1037 closed

[2020-09-21 01:14] FSNagel commented on #723
I had the same problem, where on IOS it worked perfectly and on Android not, I found that the problem came from a text that I had inside my map, it seems that there cannot be any other component besides the map inside MapView and if it does, it needs to be placed after the markers on the map, I hope I helped!

[2020-09-21 08:48] chathuri4 opened #1038 "Feature Request: ImageSource notify when image is loaded"
**Feature Request**
Is it possible to add a onLoadEnd prop to the ImageSource component, so that we know when the image is rendered?

**Additional context**
I am using Mapbox to display images on the map, and change the image based on a timeline (~every second). The problem I am facing is that when I feed in the url to the ImageSource, it takes a bit of time to load, and when the time moves to the

[2020-09-22 01:56] beingcompiled opened #1039 ""Native part of Mapbox React Native libraries were not registered properly""
npx react-native start

[code]

"@react-native-mapbox-gl/maps": "^8.1.0-rc.4",
"react": "16.13.1",
"react-native": "0.63.2"

Simulator: iPhone 11 - 14.0

https://github.com/react-native-mapbox-gl/maps/blob/master/ios/install.md

"React-Native > 0.60.0 If you are using autolinking feature introduced in React-Native 0.60.0, you just need npm install @react-native-mapbox-gl/maps, followed by pod inst

[2020-09-22 04:32] ferdicus commented on #1039
did you try with the `example` app in the repo?

[2020-09-22 12:37] ricardo-fadini-inventsys commented on #862
I'm getting the same issue, not sure if I'm using something after being unmounted.

[2020-09-22 16:58] thatmichaelpark opened #1040 "geojson rectangle is sometimes drawn weirdly"
Mapbox n00b here. I have a map with a rectangle (see screenshot 1). If I zoom in a little, I expect the rectangle to fill the screen; instead I get screenshot 2.

**To Reproduce**
[code]

**Expected behavior**
I expected the rectangle to fill the screen.

**Screenshots**
![Screenshot_20200922-093003](https://user-images.githubusercontent.com/16363045/93912334-78daab00-fcb8-11ea-888d-c37f5cf57651.p

[2020-09-22 22:57] beingcompiled commented on #1039
@ferdicus `example` works, but not independently as a project outside `maps`, due to dependencies? eg. react-native-mapbox-gl.podspec

[2020-09-23 04:40] Polyrion commented on #1007
Hi any update about this issue ?

[2020-09-23 09:08] ankitgauravapporio opened #1041 "'sharedApplication' is unavailable:"
**Describe the bug**
Getting Error  ('sharedApplication' is unavailable: not available on iOS (App Extension) - Use view controller based solutions where appropriate instead ) in "MMEUINavigation.m"  file

**To Reproduce**
Steps to reproduce the behavior.

Added OneSignal extension , and getting complied time error in MEUINavigation.m file
**Expected behavior**
 No issue with compliation
**Screens

[2020-09-23 13:03] jbeuckm commented on #997
I want to modify properties to affect rendering of the feature in the map. As it is, when we want to change a render property, we rebuild the array of features and send it over the RN bridge. It would be more performant to send just the "diff" over the bridge and have native code make the change without having to ship and rerender the entire feature list.

[2020-09-23 13:14] #1041 closed

[2020-09-23 13:14] ankitgauravapporio commented on #1041
podfile error

[2020-09-23 16:41] ClayC-WeatherBug commented on #997
Okay, so just to make sure I'm following let's talk about a simple example. Maybe you have a list of features that just contain lat/lng and their properties have a unique `id` value. You display these features as points on the map, and if a user taps one then you want to mark it as being currently selected so instead of showing the default icon you show the icon in a different color. At this point

[2020-09-24 02:22] prettydev commented on #877
any updates?

[2020-09-24 03:34] allthetime commented on #1031
I also have this issue after upgrading to Catalina + XCode 12 and am disheartened to not find much information on the problem.

One "solution" might be to revert to XCode 11 (not sure this is possible in Catalina)

I attempted reverting to the legacy build system for xcode and got the same issue.

[2020-09-24 06:49] natew opened #1042 "Add clusterMinSize"
On the web you can set `clusterMinSize` along with other cluster options, but at least in the types it's not available here. Just adding to track.

[2020-09-24 07:25] ghitier commented on #1031
Cleaning the build folder did the trick for me (`Product > Clean Build Folder`).

[2020-09-24 07:59] allthetime commented on #1031
Also to note... Only get this error when building for simulator and "release" build configuration. So it's not a show stopper but just annoying to not be able to test release on simulator. Will try cleaning build tomorrow.

[2020-09-24 08:06] mfazekas commented on #1039
@beingcompiled have you also built the workspace?!

We'd need really detailed steps so we can reproduce.

Something like this:
[code]

I'm closing this, happy to reopen with steps to reproduce

[2020-09-24 08:06] #1039 closed

[2020-09-24 08:07] mfazekas commented on #1018
Not sure about macos container limits. We need that to ci ios version, and not sure how GH actions compares to travis there.

[2020-09-24 09:07] ansarikhurshid786 commented on #1031
Yes after clear build work through xcode. it is still not working by following command:
`react-native run-ios`

[2020-09-24 09:37] ferdicus commented on #1018
I haven't done the comparison, but you might be on to something....
[Billing link for GH Actions](https://docs.github.com/en/github/setting-up-and-managing-billing-and-payments-on-github/about-billing-for-github-actions#about-billing-for-github-actions) states, that free accounts have `2000` minutes at their disposal with, however different containers have different "minute multipliers", and of co

[2020-09-24 10:57] raazatul7 commented on #1014
How can I change the Callout image, since the custom Image is not loading? @ferdicus

[2020-09-24 11:00] raazatul7 commented on #532
Can you share your code?

[2020-09-24 13:21] udaysagartammina commented on #1014
Hi @raazatul7, I am also facing the same issue. If the resolve the issue can you please help me.
Thanks in advance.

[2020-09-24 17:35] leonamjlpaula commented on #1014
I'm sharing something that I discovered recently for PointAnnotation and I don't know if it is the case. When I need to update anything in my PointAnnotations (I use useState hook) I also have to generate a new id/key for them. I was trying to update an image after an interaction and it was not being correctly rendered. Somehow I thought this could be related to the id and I tried and worked.

[2020-09-24 18:59] RockyTV opened #1043 "Maki icons are not being loaded"
**Describe the bug**
Some Maki icons are not being loaded properly.

**To Reproduce**
1. Add a `ShapeSource` with a GeoJSON feature with one of the following icons: `home-15`, `heart-15`
2. Create a `SymbolLayer` with `iconImage` style set to `['get', 'icon']`

Please include a single standalone React Native component. Use [one of our example](https://github.com/react-native-mapbox-gl/maps/blob/ma

[2020-09-25 04:39] ferdicus commented on #862
We can investigate once we have viable reproduction steps.
Can you please provide an example or repository that shows this error?

Thanks

[2020-09-25 04:57] ferdicus commented on #1007
I can check this out today - can you provide me with a repo or snippet to reproduce this with please?
Thanks 🙇

[2020-09-25 05:00] ferdicus commented on #997
@jbeuckm, could you maybe share more of your setup - I think that would help to get more context
Thanks 🙇

[2020-09-25 05:04] ferdicus commented on #877
Reopening this, as it's a legitimate issue

[2020-09-25 05:08] ferdicus commented on #1014
@raazatul7, those are other issues though.
The issue you mentioned in this ticket is different from what you are asking here.

Feel free to open another ticket with those issues/ questions and we can discuss over there

[2020-09-25 06:06] Polyrion commented on #1007
Hello I’ll try to give u the snippet around 21h00 tonight when I’ll finish
my work thank you 👍🏻

Le ven. 25 sept. 2020 à 06:57, Kid Commit <notifications@github.com> a
écrit :

[2020-09-25 07:08] mattijsf commented on #997
This question is similar to https://github.com/react-native-mapbox-gl/maps/issues/875

Unfortunately update vector tile data is not possible. The upstream libraries don't support it yet: https://github.com/mapbox/mapbox-gl-native/issues/12413

[2020-09-25 13:15] ferdicus commented on #1018
what we could do though is separate Android (GH Actions) and iOS (Travis CI) builds.
Then we could run them in parallel :)

[2020-09-25 16:01] #1022 closed

[2020-09-25 22:37] lrpinto commented on #532
You can do this easily with ShapeSource and SymbolLayer.

1. From the coordinates of the circles create a array to Points Feature Collection (Turf has nice utilities to aid this).
2. Pass this collection to the ShapeSource.
3. Nest a SymbolLayer
4. Pass a icon (the call out) as the icon via styles to the SymbolLayer.
5. Define the text for the symbol as well in the styles passed to SymbolLayer in

[2020-09-26 04:21] ferdicus commented on #532
Hey @lrpinto, thank you for the detailed description.
Please consider contributing to the repository :)

Thanks 🙇

[2020-09-27 04:35] 3bugs commented on #613
Add this inside `android` in app/build.gradle.

[code]

ref: [](https://github.com/facebook/react-native/issues/28489)

[2020-09-28 04:53] asilbek1305 opened #1046 "ios/Pods/@react-native-mapbox-gl-mapbox-static/dynamic/MapboxMobileEvents.framework/MapboxMobileEvents' for architecture arm64"
Debug build is working fine but can't make release/archive build on Xcode, android is ok.
Please help

XCode 12
"react": "16.13.1",
"react-native": "0.63.2",
"@react-native-mapbox-gl/maps": "^8.0.0-rc6",

[2020-09-28 06:01] mfazekas commented on #1046
Hi, thanks for the report! To be able to look into setup related issues we need full steps to reproduce the issue.
Ideally n a brand new project, in the form of
[code]

closing the issue now, will reopen when you provide the steps to reproduce.

[2020-09-28 06:01] #1046 closed

[2020-09-28 07:04] SiddigHope commented on #565
@xander18 can I add you on discord I need some help in working with mapbox.. the invite link is invalid

[2020-09-28 07:30] ferdicus commented on #565
@xander18, if possible, I would either prefer you'd discuss a solution to this in this ticket or in the gitter channel.
Reasoning for my request being, that we have quite some comments on this thread and people seem to be looking for a solution to this issue in regular intervals.
Would be good to have it available for the following people stumbling over this ticket.

Thanks 🙇

[2020-09-28 08:22] peterleng opened #1047 "Render PointAnnotation is stuck on iOS 14"
Hi, I find when I add the PointAnnotation on the map and run on iOS 14 is very stuck,and there are also more sources and layers, but the same render on the map, if I remove the PointAnnotation then map is smoothly, or I run the app on iOS 13.X, smooth too. Only on the iOS 14.

**"react-native": "0.62.2",**
**"@react-native-mapbox-gl/maps": "^8.1.0-rc.2"**

Any one has the same issue?
thanks

[2020-09-28 08:45] asilbek1305 commented on #1046
Hi i made a brand new project but still getting this error while release/archive build
it happened when i upgraded react native from 0.61.3 to 0.63.2
Help please!

"dependencies": {
    "@react-native-mapbox-gl/maps": "github:react-native-mapbox-gl/maps#master",
    "react": "16.13.1",
    "react-native": "0.63.2"
  }

react-native info

System:
    OS: macOS 10.15.6
    CPU: (8) x64 Intel(R) Core

[2020-09-28 16:15] ferdicus commented on #998
hey @HughBoert, sorry for the late reply.
The invariant violation comes probably from `Logger` importing and using `NativeEventEmitter`.

I've set up a new react-native project and fiddled a bit with it.

I'm not sure what `setupTests.js` does, however do flip them around to cause the invariant violation issue and put this in `node_modules/@react-native-mapbox-gl/maps/setup-jest.js`:

[code]

let

[2020-09-29 05:24] udaysagartammina commented on #1014
Hi @raazatul7 , this code working on android 7 below versions.

[2020-09-29 06:14] raazatul7 commented on #1014
Thanks for the information mate!

[2020-09-30 01:17] xander18 commented on #565
https://discord.gg/zrF9Eg

Le lun. 28 sept. 2020 à 09:05, Siddig A.Hamoda <notifications@github.com> a
écrit :

--

Al Akkad Youssef

LD: 07 81 94 74 07

Site Web : http://youssef-alakkad.com/

Twitter : https://twitter.com/LittleYouss

Linkedin : http://www.linkedin.com/pub/youssef-al-akkad/82/222/139

[2020-09-30 01:17] xander18 commented on #565
https://discord.gg/zrF9Eg

Le lun. 28 sept. 2020 à 09:30, Kid Commit <notifications@github.com> a
écrit :

--

Al Akkad Youssef

LD: 07 81 94 74 07

Site Web : http://youssef-alakkad.com/

Twitter : https://twitter.com/LittleYouss

Linkedin : http://www.linkedin.com/pub/youssef-al-akkad/82/222/139

[2020-09-30 11:38] Godhran commented on #962
Any update on this?

[2020-09-30 13:44] Avadon commented on #986
@natew https://api.mapbox.com/downloads/v2/mobile-maps/releases/ios/6.2.1/mapbox-ios-sdk-dynamic-with-events.zip?access_token=YOUR_MAPBOX_TOKEN

[2020-09-30 15:16] naftalibeder commented on #1032
@mfazekas @ferdicus I was wondering if there was any way of moving this forward, as it has prevented us from upgrading to the newest version.

It's a common action (adding padding to the map), and it's reproducible on the most recent versions of React Native and Mapbox in the simplest example I could put together.

Is there any more information I can provide, or another way of using this feature t

[2020-09-30 15:22] ferdicus commented on #1032
Hey @naftalibeder,
it's not like there is an unwillingness to investigate this issue.
However we're basically some people working on/ off in our spare time on this repo.
It's simply a time issue unfortunately, there is too much to do and too little people to assign it to 😞.

[2020-09-30 17:09] mfazekas commented on #1032
@naftalibeder Does going back to older Mapbox version (say 5.6.0) fixes the issue?!

https://github.com/react-native-mapbox-gl/maps/issues/841#issuecomment-651727563

[2020-09-30 18:27] naftalibeder commented on #1032
@mfazekas Yes, we've been locked onto version `7.0.8` for quite some time, as it's the highest version we're able to use without problems.

[2020-09-30 18:34] mfazekas commented on #1032
@naftalibeder plese see the link in my comment, above it describes how to use older (5.6.0) Mapbox IOS libs with newer ReactNAtiveMapboxGL versions (8.1.0.rc2 or later).

The padding seems to be introduced in 5.7.0 of iOS libraries and it seems to be hard/impossible to work around in React Native wrappers. I'll need to look this exact bug though

[2020-09-30 21:02] naftalibeder commented on #1032
@mfazekas Thanks for pointing that out - I think I remember trying that solution at one point and did not working, but I will try to reproduce it on the minimal example project I created for this issue. Will update!

[2020-09-30 22:36] stevepepple opened #1049 "`features` method VectorSource is slow and returns duplicate points."
**Describe the bug**
We are finding that getting points for a VectorSource layer with the `features` method as described here is much slower than the web library. The method was crashing until we filtered the data to be below a few thousand points and adjusted the zoom boundaries. Also the vectorSourceVariable.features() is returning features with duplicate items. It's a little tricky to isolate t

[2020-10-01 04:26] ferdicus commented on #1049
hey @stevepepple, thanks for the submission.
I took the liberty to clean it up a bit, please make sure to _fully_ fill out the template.
For example, you haven't defined what version of the lib it is or what kind of platform.
Tickets without that info will generally be closed.

Thanks in advance 🙇

[2020-10-01 07:43] babeone commented on #939
Hello, i have this problem too

mapbox version: 8.0.0-rc2
react-native: 0.61.5

Logcat on lock button pressed:
`2020-10-01 09:40:04.116 16483-16483/xxx I/InputMethodManager: startInputInner - mService.startInputOrWindowGainedFocus
2020-10-01 09:40:04.472 16483-16483/xxx D/SensorManager: unregisterListener ::
2020-10-01 09:40:04.489 16483-16483/xxx D/SensorManager: unregisterListener ::
2020-10-01

[2020-10-01 12:58] Avadon commented on #895
Any solution? I'm experiencing [the same blinking](https://www.youtube.com/watch?v=Q_JJ0HC5W1A) effect even with one marker (SymbolLayer). It seems like it happens on zoom levels >14

[2020-10-01 13:37] Appkidd commented on #895
@Avadon Sadly not sorry. We dropped Mapbox support after experiencing too many issues like this.

[2020-10-01 14:41] stevepepple commented on #1049
@ferdicus, thanks for cleaning it up. I've been coordinating with our development team to provide more details and context. Added the relevant versions and happy to provide any more info.

[2020-10-02 04:42] ferdicus commented on #962
@Godhran, as far as I'm aware, no one is currently working on this.

[2020-10-02 11:45] #986 closed

[2020-10-02 13:39] #1013 closed

[2020-10-02 13:41] ferdicus commented on #1013
@janweigel, also works for iOS now 👍

[2020-10-02 15:50] #915 closed

[2020-10-02 18:55] naftalibeder commented on #1032
@mfazekas Unfortunately I'm not even able to complete the installation with that modification - if I follow the recommendations, I oscillate between these two errors:

[code]

and

[code]

Feel free to try the installation yourself on the linked branch: https://github.com/TruckMap/mapbox-example-padding/tree/downgrade-mapbox-gl

[2020-10-02 19:32] mfazekas commented on #1032
@naftalibeder you need to remove the `Podfile.lock` then `pod install`

[2020-10-02 20:52] FernandesTeu opened #1053 "Display Map after downloaded the Packed Style from MapBox"
Hi Guys!
I'm trying to render an offline map and I followed the docs and I guess worked fine, but how do I display the style that was downloaded in my application?

![image](https://user-images.githubusercontent.com/51789880/94968784-ecaa5e00-04d7-11eb-8b45-158bfacc7257.png)

Thank you, masters!

[2020-10-02 21:06] naftalibeder commented on #1032
Thanks for the tip, I had thought `pod deintegrate` removed the lockfile but I was mistaken!

So after running the app with the older Mapbox library, I experienced the same pattern of errors, except that instead of throwing a redbox error, the app simply crashes the main thread with the error `libc++abi.dylib: terminating with uncaught exception of type std::domain_error`.

And for the padding con

[2020-10-02 22:43] SimonErm commented on #962
I debugged the example and found that https://github.com/react-native-mapbox-gl/maps/blob/9404ec45da0ae9d7125391f72ed4a0f5cd060960/android/rctmgl/src/main/java/com/mapbox/rctmgl/components/annotation/RCTMGLMarkerView.java#L36

is called for every nested child even if they are wrapped in Views, but i have no clue why.

If you use Pressable as wrapper it works as expected.

For PointAnnotation it's

[2020-10-03 04:25] #1053 closed

[2020-10-04 13:38] hikaru-w commented on #1047
I'm struggling with the same thing.
Likewise, it only happens on iOS14; it's very smooth on 13.7; it was the same issue on ReactNative0.61.4.

My current environment is as follows.
    "react-native": "0.63.3"
    "@react-native-mapbox-gl/maps": "^8.1.0-rc.2"

![RPReplay_Final1601814703](https://user-images.githubusercontent.com/16463160/95017086-07283700-0692-11eb-89b5-a353de317e58.gif)

[2020-10-04 16:15] mfazekas commented on #1047
Can someone pls test with latest MGLIOS ?! See https://github.com/react-native-mapbox-gl/maps/pull/1044 for how to try with MapboxGL IOS 6.2.1. Please note it requires lates RNMBGL (8.1.0-rc5)

[2020-10-05 09:20] janweigel commented on #1013
@ferdicus, thanks a lot!
Works fine now.

[2020-10-05 09:47] mfazekas commented on #1032
I've submitted a fix at, you should be able to test it:

[code]

[2020-10-05 09:55] kobagapu commented on #590
Hi @kristfal Can you have any example for drawing polyline using MapBox

[2020-10-05 10:06] kobagapu commented on #624
Hi @kristfal @fvieira @cheeaun can we have any examples for draw a polyline in Reactnative App using mapbox

[2020-10-05 11:04] ferdicus commented on #624
@kobagapu, there are several examples in the `/example` app with polylines.
Please have a look there.

[2020-10-05 11:34] kobagapu commented on #624
@ferdicus Example app is not working build failed with message env.json file missing

[2020-10-05 12:15] ferdicus commented on #624
Did you check the README.md?

[2020-10-05 14:49] davegurnell opened #1058 "moveTo/flyTo fail for coordinates with latitude/longitude of 0"
**Describe the bug**
The `moveTo()` and `flyTo()` methods fail if called with a longitude or latitude of zero.

**To Reproduce**
Clone [this repo](https://github.com/davegurnell/react-native-mapbox-gl) and check out the **Camera > Fly To** example in the `examples` folder. I've [modified it](https://github.com/davegurnell/react-native-mapbox-gl-maps/commit/5be1629e2deefa5c6c25c311c68e5353cdc2a1e5)

[2020-10-05 16:21] hikaru-w commented on #1047
@mfazekas Thanks for the info!
It worked perfectly for me! Super smooth.
I had a hard time creating a .netrc.
computer's home directory (not the project's home directory) and that I have pasted my secret token (a new token with the Downloads:Read scope) into the file.

[2020-10-05 18:58] naftalibeder commented on #1032
Thank you so much, this is a big improvement. It has fixed the crash, but now I am finding a different set of issues. Specifically:

1. The padding seems to affect the attribution and info icons, moving them away from the edge of the map by the exact padding amount. I believe they should stay in place?
2. Rather than the map contents centering inside of the area bounded by the padding, the content

[2020-10-05 20:05] FernandesTeu opened #1060 "Error after download offline packages and resize the screen"
🚨🚨🚨
* Please respect and fill out the issue template
* Before you report, please make sure you tested on a physical device
* For build issues: Can you reproduce it on a clean install of the example app? Please include full steps to reproduce from `react-native init`
* Please include standalone code sample - a single component with one MapView in it. Use [one of our example](https://github.com/reac

[2020-10-05 20:11] ferdicus commented on #1060
duplicate #971

[2020-10-05 20:11] #1060 closed

[2020-10-05 21:40] FernandesTeu commented on #971
@ibraude Did you find the answer about this error??

[2020-10-06 05:51] kobagapu opened #1061 "Example app not Working"
🚨
![Screenshot 2020-10-06 at 11 18 18 AM](https://user-images.githubusercontent.com/61305724/95163588-d2b59780-07c5-11eb-86c7-b1b485285630.png)
![Screenshot 2020-10-06 at 11 18 18 AM](https://user-images.githubusercontent.com/61305724/95163617-e234e080-07c5-11eb-9bb6-0196f9d5a3f2.png)

[2020-10-06 05:52] ibraude commented on #971
@FernandesTeu  Hey. I've used the `Logger` to filter out the specific errors I was encountering as @mfazekas suggested.

[code]
This does the job for me until the issue is resolved.

Thank you all

[2020-10-06 06:01] #1061 closed

[2020-10-06 06:15] kobagapu commented on #624
@ferdicus  Added accesstoken.js  file with my access token
![Screenshot 2020-10-06 at 11 18 18 AM](https://user-images.githubusercontent.com/61305724/95165372-7a809480-07c9-11eb-9d48-97933b6058b8.png)
 in root folder it comes error with below attachment

[2020-10-06 07:02] mfazekas commented on #624
@kobagapu have you also ran `npm install` after adding `accesstoken` as describe bellow?!

https://github.com/react-native-mapbox-gl/maps/tree/master/example#installation

[2020-10-06 09:05] cbrevik commented on #863
Getting this infrequently on iOS as well, seems to be related to using images in a style (set via `styleURL`). (Uploaded dSYMs so we've been able to get better stack traces):

[code]

Seems to happen when we navigate away from the map, and it is unmounted in the React-tree. Been able to reproduce very infrequently on device - but see from logging that our users experience it when navigating away f

[2020-10-06 12:00] marudy opened #1064 "[iOS] SIGSEGV: Crash due to signal: SIGSEGV(SEGV_MAPERR)"
**Describe the bug**
iOS application crashes with SIGSEGV error as mentioned above. The complete error is:

Version 7.0.0:
[code]

Version 8.1.0-rc4:
[code]

Memory address changes from time to time but line of code has been consistent. It's this one:

`[self->_style setImage:image forName:imageURI];` which is part of block

[code]

of `RCTMGLStyle.m` file

**To Reproduce**
Don't have a concrete e

[2020-10-06 18:41] mfazekas commented on #1032
@naftalibeder i've updated the PR so that it uses edgePadding instead of contentInset. This should address most issues noted here.

Used this code as test app:
https://github.com/react-native-mapbox-gl/maps/pull/1057#issuecomment-704475765

[2020-10-06 18:45] FernandesTeu commented on #971
@ibraude I call this CallBack into ComponentDidMount, but not works for me? Sorry, I'm noob in React Native....

[2020-10-06 18:55] ibraude commented on #971
@FernandesTeu Try putting it in the class constructor like so:
[code]

[2020-10-06 19:32] FernandesTeu commented on #971
@ibraude thank you so much....I followed your tip and I still get the error... Did you have the problem with IOS 14 ?

[2020-10-07 05:13] #957 closed

[2020-10-07 06:43] ibraude commented on #971
@FernandesTeu I did not check iOS 14 specifically.
Maybe you're getting a different error message?
Try adjusting the Regex to `match` the error message you're seeing.

[2020-10-07 06:46] Polyrion opened #1065 "ShapeSource unable to get data list in cluster mode"
**Describe the bug**
I'm using ShapeSource with cluster at true so i have everything displayed well, when i press to a single item i got the data of the item.

```data [{"geometry": {"coordinates": [Array], "type": "Point"}, "properties": {"address1": "11 rue du guichet", "city": "Berlin", "country": "Germany", "country_code": null, "distance": 493.593348140211,}, "type": "Feature"}]```

But when

[2020-10-07 11:59] FernandesTeu commented on #971
@ibraude You were right...my message error was **MGLNativeNetworkManager**, now it's working!
Thanks for your help Ibraude, I really appreciate it

[2020-10-07 16:05] dorthwein commented on #383
This seems pretty straight forward to reproduce -

- Create a map
- Add a Shape View with a line string
- Press cmd+R
- Watch memory grow!

RN: 0.63.3
ReactNativeMapbox: 8.1.0-rc.5

[2020-10-07 16:22] mfazekas commented on #383
@dorthwein pls also document the amount of memory growth you're seeing. https://github.com/react-native-mapbox-gl/maps/issues/383#issuecomment-652761716

[2020-10-08 09:59] udaysagartammina commented on #1014
@raazatul7 any update this issue?
Thanks in advance.

[2020-10-08 10:03] raazatul7 commented on #1014
No, Still same issue, not able to change pin icon, using the default one. Also, no image is rendering on custom callouts in android only.

[2020-10-08 11:17] mfazekas commented on #1014
Can you try with branch: `mfazekas/point-ann-refresh` -  #1062

`npm install react-native-mapbox-gl/maps#mfazekas/point-ann-refresh`

[2020-10-08 20:41] naftalibeder commented on #1032
@mfazekas Left a note on the PR!

[2020-10-11 05:18] damathryx commented on #1031
I'm also having this problem with xcode 12

[2020-10-11 13:30] tomdaniel0x01 commented on #344
Bump

[2020-10-12 07:29] tinmar33 opened #1068 "[iOS] - [MGLMapView willResignActive:]"
**Describe the bug**
Some users of our app are getting this crash error since iOS 14:

[code]

I don't have reproduce it yet but I saw a lot of threads about it like: https://github.com/mapbox/mapbox-gl-native-ios/issues/485

[2020-10-12 08:29] ferdicus commented on #1068
Thanks for reporting.

Did you try the solution mentioned in the upstream ticket?
Did you try ios-sdk `6.2.1`?

[2020-10-12 08:50] tinmar33 commented on #1068
I can't reproduced it yet so no, I havn't tried it

[2020-10-12 10:26] jaysquared commented on #877
In MapboxGL it's implemented with setVisibleCoordinatesBounds. Just add 360 to the Western Longitude.

e.g. to show Japan and Mexico:
LongitudeNE: 128.43
LongitudeSW: 273.19

So you just need a React Native Wrapper for that method. I did a quick and dirty version with custom data types for my project, but have a look for some inspiration: https://github.com/jaysquared/maps/commit/0cd53f89ed8bea928

[2020-10-12 12:39] janweigel opened #1069 "SymbolLayer heavy flickering on coordinate updates of parent ShapeSource"
**Describe the bug**
The content of a SymbolLayer flickers heavily when when the coordinates of the parent ShapeSource shape property are updated.
See the attached gif for a demonstration of the bug.
The flickering also occurs when non animated SymbolLayers appear on the viewport. E.g. the viewport is rotated so that the  SymbolLayer is not in the viewport anymore. Everytime the viewport changes a

[2020-10-12 12:50] ferdicus commented on #895
might be related to https://github.com/mapbox/mapbox-gl-native/issues/16473

[2020-10-12 12:50] ferdicus commented on #1069
might be related to this: https://github.com/mapbox/mapbox-gl-native/issues/16473

[2020-10-12 12:51] Gnative commented on #1069
Hi @janweigel have you tried adding `iconAllowOverlap: true`. The attached screenshot looks like the icon is colliding with other elements

[2020-10-12 13:20] janweigel commented on #1069
@Gnative I tested with both, overlapping true and false.
It doesn't make any difference. There are no other elements it could collide with.

[2020-10-12 15:15] janweigel commented on #1069
@ferdicus in the native issue you mentioned that the issue should be resolved at least partially in the native verions 9.3.0 Android and 6.0.0 iOS.
Are there any plans or estimates when react-native-mapbox will be updated to the latest native versions?

[2020-10-12 19:25] ferdicus commented on #1069
hey @janweigel, there is no timeline yet, one thing that was holding us back to publish a new release was the changes in updating the iOS version, which was fixed via 15e75900847046883df09f9da96dbb113a1cbaa8.

We're  currently at `8.1.0.rc5`, I guess the next step could be to upgrade the android and iOS versions, check for breaking changes and increase/ publish a new version.

Having said that, we

[2020-10-13 05:19] jun-nguyen-goldenowl opened #1070 "[Android] - MapboxGL.UserLocation has wrong heading indicator"
**Describe the bug**
MapboxGL.UserLocation with `showsUserHeadingIndicator` enabled on Android device shows up wrong heading direction and randomly change the heading to unexpected direction

I have got into the same trouble with this guy on Stackoverflow.
https://stackoverflow.com/questions/63575092/showsuserheadingindicator-not-changing-direction-on-android

**To Reproduce**

Example:
[code]

**

[2020-10-13 12:55] ferdicus commented on #1070
hey @jun-nguyen-goldenowl, thanks for opening the ticket (also thanks for following the template).
Can you try and report back what happens when you change it to this:

[code]

[2020-10-13 14:36] jun-nguyen-goldenowl commented on #1070
hi @ferdicus, I've just tested your solution. My app went to crashing all the time until I remove the props `renderMode='native'` (this prop is for iOS only). Then I tried my solution:

[code]

Here is my screen recording for my app which is compared with Google Maps:
https://drive.google.com/file/d/1ATnxoBICc_iOnRGrDacIp3ieP46xuDyx/view?usp=sharing

[2020-10-13 14:48] ferdicus commented on #1070
What makes you think that?

`androidRenerMode` will have no impact without `renderMode` set to `native`.

Feel free to check the [source](https://github.com/react-native-mapbox-gl/maps/blob/9158152f0e24c294ad8923f6e6d180d3e9fe5606/javascript/components/UserLocation.js) for implementation details

[2020-10-13 15:09] systemlevel commented on #1070
We were getting this behavior on Android as well. Android Heading not working for us.

[2020-10-13 15:13] ferdicus commented on #1070
I guess that seems to be related to this issue :S
https://github.com/react-native-mapbox-gl/maps/issues/344

I'll have a look on Friday to figure out what's going on

[2020-10-13 15:36] ferdicus commented on #984
hey @gmaclennan, totally agree - would you be willing to open a PR for this?

[2020-10-13 21:01] RobertSasak opened #1071 "Property 'OfflinePackDownloadState' does not exist on type 'typeof MapboxGL'."
**Describe the bug**
Typescript definition for OfflinePackDownloadState is missing.

**To Reproduce**
[code]
Typescript error: TS2339: Property 'OfflinePackDownloadState' does not exist on type 'typeof MapboxGL'.

**Expected behavior**
*index.d.ts* should contain type definition for *OfflinePackDownloadState*. Problem seems to be that iOS and Android have a different integer values for Inactive, A

[2020-10-14 02:56] jun-nguyen-goldenowl commented on #1070
Much appreciate for that, @ferdicus !

[2020-10-14 05:13] mattijsf commented on #984
https://github.com/react-native-mapbox-gl/maps/blob/master/example/src/examples/StyleJson.js

I already did some work for this. But this needs some base map to work. With some extra effort we might get it to work the way you intended.

It would be best if we would have a way to convert json to a style object natively though. The way I implemented it is not ideal. Suggestions are very welcome to im

[2020-10-14 08:04] janweigel commented on #1069
Hey @ferdicus, thanks for your feedback and your effort on this project.
It would be great to have the upgrades integrated and that bug fixed.
Right now it is a show stopper and we would have to let mapbox go for our products.

[2020-10-14 08:21] mfazekas commented on #1069
@janweigel on iOS you can use different framework version than the default in 8.1.0.rc5 or later
Plese check:
https://github.com/react-native-mapbox-gl/maps/blob/master/CHANGELOG.md#810rc2
https://github.com/react-native-mapbox-gl/maps/pull/940

[2020-10-14 11:44] ferdicus commented on #984
Looks great @mattijsf, shame on me for not spotting this in the `example/`...
Yeah, as you said the argument against this is really having to have a working base map :(

In the previous replies we're just talking about the android api, do you know from the top of your head,
if there is a build in solution for iOS like there is with the android SDK ([Style.Builder.fromJson()](https://docs.mapbox.co

[2020-10-14 17:23] nickzuber commented on #1040
The [winding order](https://tools.ietf.org/html/rfc7946#section-3.1.6) of polygons is important in Mapbox — basically, make sure your polygon's coordinates form a linear ring that is **counterclockwise** and don't forget to enclose the ring by making sure **the first and last coordinates are the exact same**.

I imagine that might be related to the weirdness you're experiencing — try setting your

[2020-10-14 19:46] systemlevel commented on #1070
To clarify our behavior, we get the same behavior as the video you created/shared (https://drive.google.com/file/d/1ATnxoBICc_iOnRGrDacIp3ieP46xuDyx/view?usp=sharing). The heading coming from the location manager is incorrect for some reason. It will flip from North to South and doesn't seem to represent the Android device's heading accurately.

iOS works fine.

[2020-10-14 21:18] systemlevel commented on #1071
Running into this issue as well. I had to verify the completion of offline packs in Android in a different way than iOS. Good suggestion. Is anyone opposed to trying to make these more uniform?

[2020-10-15 04:21] kobagapu commented on #624
@fvieira  is it possible to  draw a polygon dynamically with out using JSON or static Coordinates only onpress method pick coords and draw the polygon

[2020-10-15 04:39] ferdicus commented on #1071
@systemlevel , for the types - there is some effort poured into switching the repo to Typescript.
With that we'll hopefully get more robust types.

As for the mismatch in this API, gotta check if this is something upstream (which I don't think) or something in our implementation (more likely).
If it's the later - gotta find time (or someone else) to look into it :D

[2020-10-15 04:46] ferdicus commented on #841
Addressed in #1057

[2020-10-15 07:28] RobertSasak commented on #1071
# Observations
iOS has following definition **https://github.com/react-native-mapbox-gl/maps/blob/master/ios/RCTMGL/MGLModule.m#L201-L204**
[code]
Android has following defintions https://github.com/react-native-mapbox-gl/maps/blob/master/android/rctmgl/src/main/java/com/mapbox/rctmgl/modules/RCTMGLModule.java#L236-L240
[code]
Which is defined here https://github.com/react-native-mapbox-gl/maps/bl

[2020-10-15 09:19] mattijsf commented on #984
Setting the map style based on a JSON string or object is not supported on iOS unfortunately. The flutter-mapbox-gl also faced this API difference: 35effcd88e8c305d94776dc49c7b1fab0f18b3769fb186976a694403f2978e41R567

I haven't tested this by maybe you can prepare a local asset with an empty style such as:
[code]

And then you can add layers / sources using https://github.com/react-native-mapbox-g

[2020-10-15 12:19] ferdicus commented on #1071
@RobertSasak, you might have fallen under the curse of the competent: Wanna open a PR for this? :)

[2020-10-15 12:23] RobertSasak commented on #1071
@ferdicus More than happy to do that. I am not sure at what level and how to fix this. Any suggestions?

[2020-10-15 12:29] ferdicus commented on #984
ah, that's a bummer, I don't really like single OS features :(

But maybe it's a good way to get the foot in the door and make 50% of devs happy instead of none? 🤷

[2020-10-15 12:29] ferdicus commented on #984
also, there is a flutter version?! nice 👍

[2020-10-15 19:21] tomdaniel0x01 commented on #974
Bump.

Are the TS types fixed now?

[2020-10-15 21:35] thatmichaelpark commented on #1040
Thank you @nickzuber! Closing the polygon did the trick (I am slapping myself here).

[2020-10-15 21:35] #1040 closed

[2020-10-16 07:53] mika-lindell commented on #962
I had this same bug and found a workaround that worked for me. If you use View as a wrapper, you need to set backgroundColor to said View for it to render all contents

[code]

Transparent as a color will work as well as any. It's a bit sketchy workaround though, so I'm not sure if there's other variables in play.

[2020-10-16 09:37] olofho opened #1073 "Feature request: Mapbox Search UI"
## Mapbox search UI

Mapbox has a search function (https://www.mapbox.com/place-search/) that enables users to search for many different things, for example searching for restaurants would return a list of nearby restaurants. They have also created UI-components for this in both android and iOS.

If possible, being able to use these components in react native would be a great feature!

[2020-10-16 12:15] ricardo-fadini-inventsys commented on #862
Sorry the delay, it happened with a customer and we've got a report through Bugsnag.
Unfortunately no one was able to reproduce the issue.
The only thing that we have for now is the stacktrace from the native side provided by Bugsnag.
We are improving our logs so if it happens again in the future we hope to have more information about how to reproduce it.

[2020-10-16 12:55] ferdicus commented on #974
Are now - will wait for the tests to pass and merge it

[2020-10-16 14:40] ferdicus commented on #1071
oh boy, after looking at it... I'm not really sure 🤔

I guess easiest way would be to rejigger the return values for Android and align them to the iOS scheme.... that just feels wrong though 😞

I'm curious why no one else mentioned this before 😅

So, if you feel strong about this and want a unified API, feel free to come up with a cool way to align those.
That would also come with a Changelog thou

[2020-10-16 16:41] #1032 closed

[2020-10-16 18:42] ferdicus commented on #921
go away, we're actively working on this now! See ##1067 you knob!

[2020-10-16 18:53] ferdicus opened #1078 "upgrade node in all instances to current LTS"
We're currently using `v10.18.1` - as defined in the `nvmrc` and our `travis.yml`.
Current LTS is ~`v14.14.0`~ `v14.15.0`.

[2020-10-16 18:55] ferdicus commented on #1070
guys, sorry - I planned to have a look at this, however got bogged down by other tickets....
Will have a look throughout the week

[2020-10-16 22:35] systemlevel commented on #1070
@ferdicus Thank you again for looking at this. I'm stumped at the moment. Been testing it on various Android devices with the same result.

[2020-10-17 10:50] mfazekas commented on #1043
@RockyTV thenks for the bugreport, i see multiple issues with the example:

1. i don't think we support svg icons
2. you example defines icons as `example` but refers to `home-15`

[2020-10-17 10:50] #1043 closed

[2020-10-17 10:54] RockyTV commented on #1043
There are no issues with the example. After some search and testing with Mapbox Studio, I found out that every "official" style contains a subset of Maki icons, that's why some of them aren't being loaded. I had to clone an existing style and upload the whole spritesheet of Maki to have the missing icons.

[2020-10-17 11:12] mfazekas commented on #1038
Neither android https://docs.mapbox.com/android/maps/api/9.5.0/index.html nor ios has such feature.

https://docs.mapbox.com/archive/ios/maps/api/6.2.1/Classes/MGLImageSource.html
https://docs.mapbox.com/android/maps/api/9.5.0/index.html

You might be able ot download the files to local storage and use file url as source, but not sure if file url is supported here.

[2020-10-17 11:12] #1038 closed

[2020-10-17 12:34] chathuri4 commented on #1038
Alright thanks! I am currently downloading it to local storage and use file url as source. Its working fine. Thanks!

[2020-10-18 13:15] nasmuris opened #1079 "setCamera doesn't take effect if followUserLocation set to true"
**Describe the bug**
setCamera doesn't take effect if followUserLocation set to true

**To Reproduce**
set Camera's component `followUserLocation` prop to true and try to call `setCamera` on it's ref

Example:
[code]

**Expected behavior**
it should be possible to setCamera or at least some of it's props in case followUserLocation===true
while i see there can be some conflict updating the coords (

[2020-10-18 13:29] nasmuris commented on #1079
inspecting the code i've found following
[code]
wouldn't it make sense to at least provide possibility to pass `ignoreFollowUserLocation` as the `Camera.setCamera` fc parameter?

[2020-10-19 02:19] supremevance opened #1080 "Missing User Indicator"
**Describe the bug**
The user indicator does not show up
This bug is occurring on iOS simulator and Device
Android not tested

**To Reproduce**
iOS 14 iPhone X

Example:
[code]

**Expected behavior**
I expect the user indicator to show.

**Screenshots**
![image](https://user-images.githubusercontent.com/44252138/96394368-6785a100-1187-11eb-88f5-3e9780f7f1cf.png)
![image](https://user-images.github

[2020-10-19 02:26] jun-nguyen-goldenowl commented on #1070
Hope you guys can figure out how to fix this issue

[2020-10-19 03:30] jun-nguyen-goldenowl commented on #1080
@supremevance Have you tried upgrading the libs to the latest version? (Check the git tags)

[2020-10-19 07:11] lorenc-tomasz commented on #793
I have similar issue with 8.0.0-rc6. Grey screen. On 8.0.0-rc5 maps works OK.

[2020-10-19 07:30] lorenc-tomasz opened #1083 "8.0.0-rc6 doesn't render a map inside MapboxGL.MapView"
Hi,
I have updated the lib from 8.0.0-rc5 to rc6 and now new MapView is grey. I have checked it and the issue is somewhere inside the CameraUpdateItem.m file on iOS. I guess that moveTo stop working properly.

[2020-10-19 07:59] jun-nguyen-goldenowl commented on #1083
Have you tried updating the lib to version 8.1.0-rc.5?

[2020-10-19 08:18] lorenc-tomasz commented on #1083
@jun-nguyen-goldenowl  I have reverted the lib into rc5. And it works again as it should.

[2020-10-19 11:12] #1083 closed

[2020-10-19 11:42] lorenc-tomasz commented on #1083
Thanks. rc7 works as intended :)

[2020-10-19 17:20] jun-nguyen-goldenowl opened #1085 "[Android] - Query SymbolLayer using `queryRenderedFeaturesInRect` just received an empty `FeatureCollection`"
**Describe the bug**
I was trying to find drop-pins wrapped in a certain `bounding box`, in specified `layerIds` and `null filter` using MapView method `queryRenderedFeaturesInRect`. Each drop-pin is implemented with the combination of `ShapeSource` & `SymbolLayer`.
It worked fine on iOS, even iOS 14 but on Android, it sucked. The result only contains an empty array typed `FeatureCollection`.
Howe

[2020-10-20 07:44] kobagapu opened #1086 "How can i know the MapboxGL.LineLayer angle is it possible? Adding images in renderAnnotation function is it image can rotate dynamically llinelayer based"
import React from 'react';
import {
  MapView,
  ShapeSource,
  LineLayer,
  Camera,
} from '@react-native-mapbox-gl/maps';

const aLine = {
  type: 'LineString',
  coordinates: [
    [-74.00597, 40.71427],
    [-74.00697, 40.71527],
  ],
};

class BugReportExample extends React.Component {
  render() {
const renderAnnotations = () => {
            var destination = this.state.polyline.length - 1

[2020-10-20 08:42] lukeramsden commented on #1085
I'm getting a similar issue with `queryRenderedFeaturesAtPoint` on Android. Code works fine on iOS, but doesn't work on Android:

[code]

The logs are interesting, because if I do this exactly the same side-by-side in an iOS simulator and an Android emulator, these are the logs:

[code]

On iOS `getPointInView` returns virtually the same numbers as the feature's `screenPoint[X/Y]` values, whereas

[2020-10-20 10:38] #1086 closed

[2020-10-20 14:01] dorthwein commented on #863
we're running into this still as well in high frequency.  Similar situation with coming out of the background with the map.

[2020-10-20 14:13] mfazekas commented on #863
@cbrevik what could happen is that it starts to download an image then map closes, and when the download finishes we try to call setImage on a destructed style?!

[2020-10-20 14:27] cbrevik commented on #863
This seems very likely to me. Maybe there should be a check for if style is destructured before here in the dispatch: https://github.com/react-native-mapbox-gl/maps/blob/4a15881251465c126474ddfb5d593346a0101a31/ios/RCTMGL/RCTMGLStyle.m#L210

We're seeing this error pop up about every other day. Bit difficult to reproduce, so there's some sort of race condition here.

[2020-10-20 16:16] mfazekas commented on #863
@cbrevik you should be able to reproduce it by changing the dispatch to a `dispatch_after`

https://github.com/react-native-mapbox-gl/maps/blob/4a15881251465c126474ddfb5d593346a0101a31/ios/RCTMGL/RCTMGLStyle.m#L209-L212

this will add 10 seconds, so if you close the map within 30 seconds it should trigger the issue.

[code]

[2020-10-20 16:55] cbrevik commented on #863
Yep that definitely helped reproduce it in simulator! Weird thing is, my guess seems to be wrong that it's to do with the `styleURL` I set.

It seems to be related to `showsUserHeadingIndicator` being set to `true` on `UserLocation`:
![image](https://user-images.githubusercontent.com/4932625/96617993-9e34f600-1304-11eb-87fd-265e814253b6.png)
Notice `identifier = mapboxUserLocationHeadingIndicator`

[2020-10-20 20:14] systemlevel commented on #1070
No luck on my side yet.

[2020-10-21 07:56] mfazekas commented on #863
@cbrevik the use of `showsUserHeadingIndicator` just means that we're going to hit this code path. I've added a PR #1089 that should fix the issue.

[2020-10-21 08:10] cbrevik commented on #863
Awesome @mfazekas! Thanks for handling this. Is this going to be released in a new `rc`-version short term, or do you need help testing it out first?

[2020-10-21 08:39] lukeramsden commented on #869
I just got this crash too, exact same log.

[2020-10-22 10:02] jun-nguyen-goldenowl opened #1090 "[Android] - MapboxGL.Camera prop onUserTrackingModeChange return incorrect value compared with iOS"
**Describe the bug**
On Android, the MapboxGL.Camera prop `onUserTrackingModeChange` return incorrect value WHEN prop `followUserMode` was programmatically changed AND user didn't move the map view by hands.
When user tracking mode is changed from `none` to `normal`/`compass`, the `onUserTrackingModeChange` handler will be fired and received unexpected value of `event.nativeEvent.payload`
[code]

[2020-10-22 14:06] supremevance commented on #1080
I was actually just not putting my elements as Map children elements, if that makes sense.

[2020-10-23 09:31] #974 closed

[2020-10-23 09:31] ferdicus commented on #974
@tomdaniel0x01 , it's in the current master

[2020-10-23 10:47] ferdicus commented on #1070
hey @jun-nguyen-goldenowl @systemlevel, I've just tested this on the `ShowMap` example of the `/example` app in the repo.

[code]

and it works as expected (although I can't judge if the heading is perfectly accurate - in the building)

https://streamable.com/1pv2h2

[2020-10-23 11:04] ferdicus commented on #344
hey there, can someone who is experiencing this issue provide a testcase that is forcing this crash please.
I tried to reproduce it, however wasn't successful.

Preferably within the `/example` app of this repo with minimal external dependencies (you can use [BugReportTemplate](https://github.com/react-native-mapbox-gl/maps/blob/master/example/src/examples/BugReportExample.js) for this purpose for

[2020-10-23 14:05] ferdicus commented on #1085
@jun-nguyen-goldenowl, can you please create an example within the `/example` app.
Preferably in the `BugReportTemplate` - make sure it runs afterwards.

Less time we spend setting up and debugging code samples is more time fixing the issue.

Thanks in advance 🙇

[2020-10-23 14:27] ferdicus commented on #1090
@jun-nguyen-goldenowl, can you please create an example within the /example app.
Preferably in the BugReportTemplate - make sure it runs afterwards.

Less time we spend setting up and debugging code samples is more time fixing the issue.

Thanks in advance 🙇

[2020-10-23 14:30] ferdicus commented on #1080
closing this as resolved

[2020-10-23 14:30] #1080 closed

[2020-10-23 14:57] ferdicus commented on #1090
Additionally, I'm not sure I understand the issue...

`followUserMode` can only be one of three (enum) `normal`, `compass` or `course`.
A value of `none` or something like a `boolean` is not permitted.

react-native in debug mode should complain, that `none` is an invalid prop

[2020-10-24 10:14] mzu opened #1092 "ShapeSource.onPress event not preserving elevation in coordinates array"
**Describe the bug**
According to the [GeoJSON spec](https://geojson.org/geojson-spec.html#positions) adding additional values to the coordinates apart from long,lat is valid . In my case I use a service that adds the elevation as a 3rd element.

The GeoJSON might look like this:

[code]
I noticed that the onPress() event of ``MapboxGL.ShapeSource`` replaces or strips the coordinates of the featur

[2020-10-24 22:35] systemlevel commented on #1070
@ferdicus Thanks for your testing of this. I'm a bit perplexed about why ours is not using the correct heading.

[2020-10-25 04:41] #994 closed

[2020-10-25 15:14] ferdicus commented on #1070
@systemlevel, are you using the native icon or our RN rendering?

[2020-10-25 15:19] tomdaniel0x01 commented on #974
@ferdicus Awesome. Thanks!

[2020-10-26 11:32] rvdende commented on #1031
Can confirm, make sure you are doing a debug build for the simulator and then it works.

[2020-10-26 14:53] ClayC-WeatherBug commented on #1073
I think that this is a great idea, but I wonder if this should be in a new repository in the interest of keeping the maps package smaller. Maybe we should do a new repository under the react-native-mapbox-gl organization for this package?

[2020-10-27 02:58] rgouzal commented on #832
Anyone found a solution for this? I am having the same issue.

[2020-10-27 13:59] stevepepple commented on #1049
@ferdicus and team, any updates on this issue. Any pointers on how to better implement the library are appreciated. We're also seeing some memory spikes associated with the `<vectorSource>.currrent.features.` method.

![image](https://user-images.githubusercontent.com/466699/97311734-e7fc6f80-1821-11eb-9c77-5ccecdec9d4d.png)

[2020-10-27 14:16] jordan-tpz commented on #1069
Hi @janweigel !

Same for me...
Did you find a workaround to fix this issue ? (while waiting for potential future fix in the next updates)

[2020-10-27 14:16] ferdicus commented on #1049
@stevepepple, didn't really have time to look into this, sorry.

I could check it out earliest on friday, however I've got to admit, that I haven't really used it like you do before.

Can you try to create a working example from the `BugTemplate` in the `example` app please.
Would make testing/ debugging it way easier - thanks

[2020-10-28 08:05] mattijsf commented on #984
https://docs.mapbox.com/ios/maps/api/6.2.1/Classes/MGLMapView.html#/c:objc(cs)MGLMapView(im)initWithFrame:styleURL:

We could apply a trick on iOS to write custom JSON data to a temporary location and take the appropriate measures to cleanup these files afterwards.

[2020-10-28 16:16] ferdicus commented on #1069
@janweigel, did you try with an `Annotation` instead of `ShapeSource`?
I know, that it is using ShapeSource and SymbolLayer internally as well, however that is how we're using it in our project, and we didn't get any flickering of the icon (Android)

[2020-10-29 19:27] stevepepple commented on #1049
Thanks @ferdicus. A demo is here:

https://drive.google.com/u/0/uc?id=1xZYug_B2qnJHD2CgyJikuI2t1_MogkoU&export=download

[2020-10-30 03:01] praveenkumargjll opened #1093 "Remove map and load map with pins not loading ShapeSource pins"
Hi,
Due to the memory spike of Map in iOS. I am removing the map from the view when the user navigates out of the map view.  Again if we move to the map screen, I would add the map with the same location and zoom level. This helps me to improve App memory performance on the non-map screens.

The problem currently, I am facing:
During the first time when map loads, the pins are loading perfectly. B

[2020-10-30 14:52] ferdicus commented on #1079
hey @nasmuris, sounds reasonable to me - would you be willing to open a PR for this?

[2020-10-30 14:55] #1093 closed

[2020-10-30 18:51] ferdicus commented on #1092
Disclaimer: All digging done in Java (but I checked your bug also occurs there)
hey there, I did some digging....

so the `feature` is correctly passed to the native RCTMGLShapeSource component which can be observed when you check the code here via debugger: https://github.com/react-native-mapbox-gl/maps/blob/693852e5f01f5cbc05b97f63a5dce6ebea6903e0/android/rctmgl/src/main/java/com/mapbox/rctmgl/c

[2020-10-30 19:52] dorthwein opened #1094 "Location Services Stopped in Background Despite 3rd party plugin trying to keep it active"
🚨🚨🚨
* Please respect and fill out the issue template
* Before you report, please make sure you tested on a physical device
* For build issues: Can you reproduce it on a clean install of the example app? Please include full steps to reproduce from `react-native init`
* Please include standalone code sample - a single component with one MapView in it. Use [one of our example](https://github.com/reac

[2020-10-30 21:53] systemlevel commented on #1094
Yes, I had to unmount the LocationManager while in the background or the app will be stopped in the background by the OS it seems.

[2020-10-31 21:27] cbrevik commented on #1008
Still an issue

[2020-11-01 03:03] #1004 closed

[2020-11-02 04:08] praveenkumargjll opened #1095 "Remove map and load map with pins not loading ShapeSource pins"
Hi,
Due to the memory spike of Map in iOS. I am removing the map from the view when the user navigates out of the map view. Again if we move to the map screen, I would add the map with the same location and zoom level. This helps me to improve App memory performance on the non-map screens.

The problem currently, I am facing:
During the first time when map loads, the pins are loading perfectly. Bu

[2020-11-02 05:14] ferdicus commented on #1095
Did you read why the last issue was closed?

[2020-11-02 05:15] #1095 closed

[2020-11-02 17:34] mzu opened #1096 "[ios] Random crashes at start for MapboxGL.SymbolLayer with MapboxGL.Images"
**Describe the bug**
`MapboxGL.SymbolLayer` with `iconImage` in style is causing a native exception on ios. I only encountered this for Release builds. Does not happen on every app start but when it happens it crashes immediately while loading the screen with a map view.

Log from the actual app I am working on:

<img width="1225" alt="Screenshot 2020-11-02 at 17 36 29" src="https://user-images.gi

[2020-11-02 17:43] mzu commented on #1092
OK, thanks. If it is upstream will you normally let them know? This one is not critical since there is an easy workaround. Just thought it makes sense to document this since it's not working according to what some people might expect when working with GeoJSON.

[2020-11-02 18:41] mfazekas commented on #1096
@mzu thanks, for the detailed report.

What is the exact exception?!
Also what are other threads are doing?! Especially the main thread?!
I'd assume this is some threading issue, because we lazily init the react image loaders from non main thread.

[2020-11-02 19:22] mzu commented on #1096
@mfazekas I am using [crashlytics](https://firebase.google.com/products/crashlytics) to log the exception. Only the native exception handler provided a stack trace. The error was EXC_BAD_ACCESS KERN PROTECTION FAILURE. Some pointer issue?

The main thread shows the following:
[code]

Then there are various `*FileSource` threads with the traces that look like:

[code]

[sortedArrayUsingComparator()

[2020-11-02 21:17] savv commented on #1085
I can also confirm that the following snippet was necessary to make `queryRenderedFeaturesAtPoint` work with the result of `getPointInView`:
[code]

Would it perhaps make sense to add a method queryRenderedFeaturesAtLocation that handles this internally?

[2020-11-03 12:28] mzu commented on #1096
@mfazekas I managed to get the crash report directly from my device via Xcode (Window->Devices). You can find it [here](https://gist.github.com/mzu/f5c5310733aae5ede3a6e8b4751751c3).

[2020-11-03 12:52] mfazekas commented on #1096
@mzu sounds like this is being fixed in RN:

https://github.com/facebook/react-native/commit/edb6fa79791beb804e450ca4a562a248abf730e5

[2020-11-03 13:28] mzu commented on #1096
@mfazekas that's good news. Thanks for looking into this!

[2020-11-03 13:28] #1096 closed

[2020-11-03 16:16] sampok opened #1097 "iOS 8.1.0-rc: Xcode 'Archive' produces a corrupt archive"
**Describe the bug**
iOS: Xcode 'Archive' produces a corrupt archive. Seems to be possibly related to iOS Mapbox SDK 5.8. Found a workaround, see below.

**To Reproduce**

- `npx react-native init RNMapboxTest`
- `cd RNMapboxTest`
- `yarn add @react-native-mapbox-gl/maps`
- `cd ios && pod install`
- Open ios/RNMapboxTest.xcworkspace in Xcode
- Set build to 'Any iOS Device' and set signing
- Build

[2020-11-03 21:36] melvinmt commented on #986
@nasmuris

maybe a noob question, but how did you set this ENV variable?

[2020-11-04 00:50] sampok commented on #1097
The Archive build gets corrupted again if I set Mapbox iOS SDK to 6.X version (using `$ReactNativeMapboxGLIOSVersion`).

It's quite annoying as [5.9 has a symbols flickering while zooming out issue](https://github.com/mapbox/mapbox-gl-native/issues/16471), which 5.8 didn't have, and it's fixed in 6.X.

[2020-11-04 01:45] sampok commented on #1097
It's strange that the app builds fine with all Mapbox iOS SDK versions for Debug and Release, but with Archive it becomes corrupted (except with 5.9.0).

When I peek inside the generated .xcarchive file that Archive creates, I see that the 'corrupted ones' lack Info.plist file and SCMBlueprint folder with .xcscmblueprint file inside it. Also BCSymbolsMaps folder seems to have less items.

The Arch

[2020-11-04 09:24] SalihZinaty commented on #1097
I can confirm that is also happening with rc6 and rc9
i did not check the rest.
i need rc6 for the padding fixing of the ios.

[2020-11-04 20:54] cbrevik commented on #1097
I've noticed the same issue on AppCenter. Tried pinning to `~> 5.8` but instead of a malformed archive, I now get the following error:
[code]

If I downgrade to `8.1.0-rc.9` the build succeeds though.

[2020-11-04 21:43] sampok commented on #1097
I guess a possible, even likely (?) explanation is that in rc4 the Mapbox SDK version was defined without a patch number, and now resolves to the highest minor version, i.e. 5.9.0. ([rc4 to rc5 diff](https://github.com/react-native-mapbox-gl/maps/compare/8.1.0-rc4...8.1.0.rc5#diff-5af36a915682810f0dfe340920e5fee52f98285598c502c454a4dd01cdac9ad2))

[2020-11-05 04:54] chriscohoat commented on #1097
I've been struggling with this too for a bit, and I found that downgrading cocoapods from version 1.10.0 to 1.9.3 fixed the corrupt archive issues above. The command I used:

[code]

- react-native-mapbox-gl Version 8.1.0-rc.8
- React Native Version 0.63.2

[2020-11-05 07:19] tomihuttunen commented on #1097
We had similar issues with react-native-mapbox-gl 8.0.0 and the cocoapods downgrade to 1.9.3 resolved those as well. 1.10.0 did not create a valid archive.

[2020-11-05 08:01] cbrevik commented on #1097
I've tried downgrading our `Podfile.lock` to `1.9.3`, but I am unsure if the AppCenter VMs will use `1.9.3` in that case. They have `1.10.0` installed by default it seems. So unable to verify on my end.

[2020-11-05 12:36] tomihuttunen commented on #1097
Yes Appcenter does not respect the Podfile.lock version and will use whatever is installed to the runner machine. And the version was just upgraded to 1.10.0 and that is when my problems started.

I used this script to enforce to use the version defined in the Podfile.lock. Which is in general better because now I can be in control what is used.

https://github.com/microsoft/appcenter/blob/master/

[2020-11-05 13:33] mzu commented on #1023
Here is a [video](https://youtu.be/_7SjzUW52YA) to illustrate the problem. The 'normal' heading indicator gets 'out of sync' when the map view gets rotated. Compare with the correct heading of the 'native' heading indicator.

[2020-11-05 13:38] dorthwein commented on #1094
Using native current location seems to resolve this issue on iOS.  Unsure about android, but I think its less of an issue for us since we use a headless task on android to handle location events.

[2020-11-05 14:28] snuuve commented on #893
Add `overflow: 'hidden'` to MapView container styles.

[2020-11-05 15:54] ferdicus commented on #1023
So, wait, the issue is, that the normal location indicators heading icon is following the map rotation (not device rotation).
That is the issue, right?

Just for clarifications sake:
I should point in the direction the user is heading towards. In the best case the user should be moving in order to get a heading.
The heading should _NOT_ change with the rotation of the map, if anything maybe with t

[2020-11-05 16:18] systemlevel commented on #1023
@mzu we ran into the same issue. You can get the orientation of the map on region change. To get the correct compass orientation in degrees, you can just merely minus that from the current compass rotation and it will offset the rotation of the map.

[2020-11-05 16:47] sampok commented on #1097
Turns out that it's possible use Mapbox iOS SDK 6.X and avoid corruption with
```$ReactNativeMapboxGLIOSVersion = '~> 6.2.1'```

Previously I pinned to exact version `'6.2.1'` because the latest version 6.2.2 crashes in Xcode Release build on armv7 device. But it seems to work fine when using Archive and testing through TestFlight 🤷‍♂️..

[2020-11-05 17:22] mzu commented on #1023
@ferdicus:

The problem is that the heading arrow is **currently not** following the map rotation (gesture) while the physical device keeps on pointing in the same direction.

Not sure about that. I think the heading arrow should point to where the device is pointing. The direction of travel in the real world should stay in line with the direction of travel on the map.

There is a good reason why:

[2020-11-06 02:44] #1001 closed

[2020-11-06 02:44] #988 closed

[2020-11-06 13:32] ferdicus commented on #1092
I would leave it to the discretion of the user who opened the ticket if it isn't critical.

[2020-11-06 13:33] ferdicus commented on #1007
any update on this @Polyrion ?

[2020-11-06 13:57] natew opened #1099 "Interpolate textOffset"
**Describe the bug**

Setting textOffset with interpolate value crashes.

**To Reproduce**

Set any CircleLayer to have:

[code]

**Expected behavior**

Should support.

**Versions (please complete the following information):**
 - Platform: iOS
 - Device: iPhone 11
 - Emulator/ Simulator: yes
 - OS: 14.1
 - react-native-mapbox-gl Version 8.1.0-rc9
 - React Native Version 0.63.2

**Additional conte

[2020-11-06 14:09] ferdicus commented on #1099
Hey @natew, thanks for the report.
Would you kindly provide a plug & play repro solution with the BugTemplate within the `example` app?

Much obliged 🙇🏿

[2020-11-06 15:37] ferdicus commented on #1047
closing as resolved

[2020-11-06 15:37] #1047 closed

[2020-11-06 20:07] ferdicus commented on #984
@gmaclennan, I've opened a [PR for this on Android](https://github.com/react-native-mapbox-gl/maps/pull/1102) - feel free to take it for a test ride

[2020-11-07 15:43] olofho opened #1103 "(iOS) App crashes in background EXC_BAD_ACCESS KERN_INVALID_ADDRESS"
**Describe the bug**
My application displays a lot of images on the map using ```<MapboxGL.Images />``` and ```<MapboxGL.SymbolLayer />```. When the application is running in the background and iOS tries to reduce the memory usage, the app crashes with the following stack:

[code]

This started occuring when I upgraded to the 8.1.0.rc9 version, it does not happen on the 8.1.0-rc.4 version. The dif

[2020-11-07 19:42] laisrhianne opened #1104 "[Android] Error when trying to render multiple PointAnnotations"
**Describe the bug**
I wanted to use data to automatically create PointAnnotations on the map. I have an array of markers but when I use the map function to render them, I get this error: Error: Objects are not valid as a React child (found: object with keys {_U, _V, _W, _X}).

**To Reproduce**
I imported a JSON file as "data" and set the initial state of markers with it. I used console.log to ver

[2020-11-07 20:40] mfazekas commented on #1104
@laisrhianne thanks for the bug report. Can you please include a complate sample?! The one in report is missing the value of `data.markers` for example.

[2020-11-07 21:05] laisrhianne commented on #1104
@mfazekas Sorry! I forgot to add it.
The JSON file I'm importing is this one:

[code]

The complete App.js file is:

[code]

[2020-11-07 22:22] Polyrion commented on #1007
@ferdicus no clue for know, i put this aside for know

[2020-11-08 02:23] #836 closed

[2020-11-08 02:23] #983 closed

[2020-11-08 08:08] Return-1 commented on #983
This is still a problem mind you..

[2020-11-08 09:16] ferdicus commented on #1103
Did you try using a newer iOS SDK version?

[2020-11-08 09:25] ferdicus commented on #1104
An obscure error message like this: `object with keys {_U, _V, _W, _X}`
Usually points to a `Promise` issue.

`renderMarkers` is declared as an `async` function, however you're calling it without an `await` within `render`.
You need to resolve the Promise first I think.

[2020-11-08 09:27] ferdicus commented on #1007
I resolve this for now then, feel free to reopen/ open a new issue when you have more information on the problem.
Thanks

[2020-11-08 09:27] #1007 closed

[2020-11-08 09:29] ferdicus commented on #983
As far as I'm aware we're not really touching expressions before passing them to the SDKs, did you check upstream if they have the issue logged anywhere?

[2020-11-08 10:22] laisrhianne commented on #1104
Thank you @ferdicus
It worked just now but only with small Json files.
I was using a JSON file because I couldn't fetch the info from backend and I forgot to change the async function. I think the problem now is that there are too many markers to be loaded. The original JSON file I wanted to load has over 800K lines.
Do you know how I can get the camera bounds coordinates so I can try to render on

[2020-11-08 10:44] ferdicus commented on #1104
Good to hear 👍🏿
Please check the docs - they're your friends :)
https://github.com/react-native-mapbox-gl/maps/blob/master/docs/MapView.md#getvisiblebounds

[2020-11-08 10:44] ferdicus commented on #1104
closing as resolved