[2020-11-08 10:44] #1104 closed

[2020-11-08 15:20] mzu commented on #1092
Happy to pass this upstream if indeed a `com.mapbox.mapboxsdk` issue. Will wait for confirmation from @mfazekas first.

[2020-11-09 07:51] olofho commented on #1103
I have tried rc4 = iOS 5.9.0 which does not crash and rc9 = iOS 5.8.0 which does crash. I have not tried any other iOS SDK.

[2020-11-09 09:08] mfazekas commented on #1092
I agree this is most likely an unimplemented feature from upstream.

[2020-11-09 09:08] #1092 closed

[2020-11-09 09:32] mzu commented on #1103
I am seeing the same thing with rc9: [crashlog](https://gist.github.com/mzu/1a99f315fc7f7791c42aeb0e664e133e).

[2020-11-09 20:58] gorbypark opened #1105 "Feature request: Mapbox Maps SDK for macOS support"
Microsoft and Facebook have been hard at work porting React Native to Windows and macOS.  Although Mapbox doesn't appear to have a Windows SDK, they do have a macOS SDK available.  From my limited investigation, it appears the macOS and iOS SDKs are fairly similar, so in theory a lot of work could be re-used.  It would be great to be able to use this wonderful component when working on desktop mac

[2020-11-10 06:10] peterleng commented on #1103
I am seeing the same thing with rc9

[2020-11-10 14:00] ferdicus commented on #1103
Please try with newer iOS SDKs and report back.
Current one is `v6.2.1`

[2020-11-10 14:15] dorthwein commented on #1070
@systemlevel - We run into the locationComponent red screen with this when using the native icon.

[2020-11-10 14:42] ferdicus commented on #1070
I mean, it kinda morphed into two issues by now:
1) heading is not correctly shown on location indicator in "normal" mode
2) native indicator is causing crash

Does anyone have a reliable repro case for the second?

[2020-11-11 10:47] mzu commented on #1103
Added `$ReactNativeMapboxGLIOSVersion = '~> 6.2.1'` to `/ios/Podfile`

`pod install` produces following error:

[code]

I have the access token set inside `~/.netrc` according to [mapbox docs](https://docs.mapbox.com/ios/maps/overview/#configure-credentials).

Any ideas?

[2020-11-11 11:38] SalihZinaty commented on #1103
I'm facing the same problem when adding $ReactNativeMapboxGLIOSVersion = '~> 6.2.1'
I'm using react native 63.3 and Mapbox @react-native-mapbox-gl/maps": "^8.1.0-rc.9"

`[!] Error installing @react-native-mapbox-gl-mapbox-static
[!] /usr/bin/curl -f -L -o /var/folders/n5/33qj8l1n5lbfh700lfgbtk0r0000gn/T/d20201111-13256-1t84aqa/file.zip https://api.mapbox.com/downloads/v2/mobile-maps/releases/ios/6

[2020-11-11 11:48] ferdicus commented on #1103
not sure, still looks like a credential setup issue
https://docs.mapbox.com/help/troubleshooting/ios-sdk-installation/#mapbox-maps-sdk
https://github.com/mapbox/mapbox-navigation-ios/issues/2692

Maybe you have to cache bust pods or something? I'm no iOS guy, sorry

[2020-11-11 21:42] rkrueger11 commented on #1103
Also getting this issue... same versions of RN and RN-Mapbox-Gl/Maps

[2020-11-11 21:59] rkrueger11 commented on #1103
Okay, might be a false alarm, I didn't have an `~/.netrc` file saved. Sorry!

[2020-11-11 22:11] naftalibeder commented on #1097
Downgrading to cocoapods `1.9.3` fixed this for me!

[2020-11-12 05:10] SalihZinaty commented on #1103
@rkrueger11
Can you tell me what to put inside this file and where to put it?
Thanks!

[2020-11-12 05:17] ferdicus commented on #1103
@SalihZinaty, https://docs.mapbox.com/ios/maps/overview/#configure-credentials
See section `Configure your secret token`

[2020-11-12 08:06] SalihZinaty commented on #1103
i got now
The requested URL returned error: 403 Forbidden
this is my .netrc file:
machine api.mapbox.com
login mapbox
password <MY-MAPBOX-TOKEN>

[2020-11-12 08:56] janziemba commented on #1103
@ferdicus Thank you, it works! Please do you know how to use it in continuous integration tool like Github Actions?

[2020-11-12 09:55] SalihZinaty commented on #1103
now it works for me, i had to add new TOKEN and give the DOWNLOADS:READ feature to the token

[2020-11-12 17:18] mzu commented on #1103
Works for me as well. Plus making sure that the .netrc file is in the home directory on your Mac. I had it in my project folder which was wrong.

[2020-11-12 19:11] ferdicus commented on #1103
hey guys, would be nice if one of you, now that you successfully managed to upgrade, would add a little paragraph about it to the iOS installation guide 👍🏿

[2020-11-12 19:12] ferdicus commented on #1103
Closing as resolved - use newer iOS sdk

[2020-11-12 19:12] #1103 closed

[2020-11-12 23:04] agabriele-radius commented on #998
I can verify that this happens on the latest version:

[code]

[2020-11-13 05:13] ferdicus commented on #998
Thanks for the comment @agabriele-radius.
Can you share your setup please?
Also, did you find a workaround?

[2020-11-13 06:03] ferdicus commented on #1064
Hey @marudy, sorry for the late reply.
Are you still experiencing this with the newest release.
Also on which iOS SDK version are you?

[2020-11-13 06:05] ferdicus commented on #1105
Sounds good 👍🏿
Looking forward to the PRs

[2020-11-13 15:44] agabriele-radius commented on #998
This fails on an empty `react-native init`

[Here's a sample repo I set up](https://github.com/agabriele-radius/MapboxTest) to prove this

[package.json](https://github.com/agabriele-radius/MapboxTest/blob/main/package.json)

There's a patch as per @ferdicus's [comment above](https://github.com/react-native-mapbox-gl/maps/issues/998#issuecomment-700135776) on the [b/patches branch](https://github.

[2020-11-13 16:23] ferdicus commented on #1049
reminder to self to check this next week

[2020-11-13 16:29] ferdicus commented on #1085
PRs appreciated :)

[2020-11-13 16:34] ferdicus commented on #1008
@cbrevik, can you please verify that you have the whole source for you BugExample.
It's throwing for me - I don't want to debug the example itself.

Thanks in advance 🙇🏿

[2020-11-13 16:36] cbrevik commented on #1008
Sure! I'll look into it

[2020-11-13 16:40] ferdicus commented on #1094
Might be due to these lines:
https://github.com/react-native-mapbox-gl/maps/blob/07a5533dda392b479a26fa31cd859fe7f03a9707/javascript/components/UserLocation.js#L166-L169

I guess the native location marker doesn't care bout no react nonsense :P

I'm closing this as resolved with the workaround you mentioned.

Please feel free to open a feature ticket if that is a wanted enhancement (running when a

[2020-11-13 16:40] #1094 closed

[2020-11-13 16:41] ferdicus commented on #1090
I'm closing this - will reopen on response

[2020-11-13 17:09] ferdicus commented on #1058
closed via #1059

[2020-11-13 17:09] #1058 closed

[2020-11-13 18:46] cbrevik commented on #1008
I've updated the example with working code @ferdicus

[2020-11-13 19:41] systemlevel commented on #1105
With the new push from Apple to get iOS apps onto MacOS with their own Silicon, etc. this might be a big deal for many. @gorbypark How good are you with the macOS SDK?

[2020-11-13 20:32] #1078 closed

[2020-11-14 00:22] dkfl1995 opened #1107 "[ANDROID] Mapbox error Can't update annotation: ..."
**Describe the bug**
Hi guys! Need your help. Had urgent need to switch on this maps library, but stalled completely with the issue.

While trying to use Mapbox as it shown below in reproduce title receiving Red box:

**Screenshots**
![IMAGE 2020-11-14 02:02:03](https://user-images.githubusercontent.com/22290787/99131989-64ae8c80-261d-11eb-8a53-3ffd63b61650.jpg)

**To Reproduce**
Adapt the code be

[2020-11-15 09:57] Gnative commented on #1031
Worth ready this thread if you are hitting this problem with building release versions on the Simulator from xcode 12.

https://developer.apple.com/forums/thread/657913

[2020-11-15 16:22] rvdende commented on #1031
I had to update to 12.2 beta 4 after the iphone update...

[2020-11-16 07:43] bdtren commented on #854
reopen!
This bug still persist on  `react-native-mapbox-gl version 8.1.0.rc9`
For now, if `renderMode="native"`:
   - iOS: cannot trigger onUpdate
   - Android: app crash like https://github.com/react-native-mapbox-gl/maps/issues/1021#issue-697637353

[2020-11-16 14:26] ferdicus commented on #1107
Thanks for the detailed bug description.
Can you please provide an easy plug and play (with imports and all) example to easily reproduce this issue.

Feel free to use the `BugTemplate` within our `/example` app - please make sure that it actually works and your issue is reproducible.

Thanks in advance

[2020-11-17 09:42] FarmersReact commented on #475
I am also trying to do this. Have you did it?

[2020-11-17 23:54] DavidGonzalezGutierrez opened #1109 "Render MVT with VectorTiles"
**Describe the bug**
Can't find a way to render mvt or pbf vector tiles. Not appearing anything on the map. No errors in logcat or in react native console.

**To Reproduce**
See code below

Example:
[code]

**Expected behavior**
Appear something in the map.

**Versions (please complete the following information):**
 - Platform: Android
 - Device: Ulefone Power 3S
 - Emulator/ Simulator:  no
 - OS:

[2020-11-17 23:56] DavidGonzalezGutierrez commented on #1109
It is probably a good idea to update the examples, or add them in each .md of the corresponding component. The use of this type of component is not very clear.

[2020-11-18 04:28] mdNazmulHasan opened #1110 "Symbol is not displaying"
It worked fine in older version of react native mapbox by nitaliano but after updating to the latest version, it is not working . Maybe the issue is in the layerstyle, but unable to figure out what i am doing wrong here .
[code]
My Sumbol component is like below :
[code]

[2020-11-18 07:10] mdNazmulHasan commented on #1110
solved by changing string literal to import ,
`iconImage: DARK_DOT,`

[2020-11-18 07:11] #1110 closed

[2020-11-18 11:26] #1109 closed

[2020-11-18 16:48] AndresAltomobile commented on #1049
Hey @ferdicus just an update.
We recently updated the project, these are the versions we are using:

- react-native-mapbox-gl Version: 8.1.0-rc.9 with mapbox ios sdk: 6.2.2
- React Native Version: 0.63.3

We noticed that in cities with more points it takes between 7 and 10 seconds to query the features, cities with fewer points take between 3 and 5 seconds to query the features. Also, if the viewp

[2020-11-18 19:08] ferdicus commented on #1109
@DavidGonzalezGutierrez, please explain - thanks

[2020-11-18 20:24] Xinayder opened #1111 "Custom tileset as vector source does not work"
**Describe the bug**
Loading Mapbox Studio tilesets as a `VectorSource` does not work, you have to manually add the tileset to a Mapbox Style in Mapbox Studio for the tileset to be rendered.

**To Reproduce**
Run the [CustomVectorSource](https://github.com/react-native-mapbox-gl/maps/blob/master/example/src/examples/CustomVectorSource.js) example, replacing the tileset ID with any custom tileset y

[2020-11-18 21:42] samchan0221 commented on #869
I got this crash as well whenever i add an Annotation into a MapView

[2020-11-19 09:20] jaltin commented on #1068
We are also experiencing this crash at the moment.

It happens regularly when the app is in the background and alive (we are tracking movement so keeping the app alive). So far it has only happened when the app is in the background.

At the moment we can't reproduce it/trigger it.

I don't know if it will help, but I have added a screenshot from once when the crash happened while running from Xcod

[2020-11-19 09:29] mfazekas commented on #1068
@jaltin thanks, what was the Mapbox IOS version?! Can you try with 6.3.0?!

There was some changes in that are in mapbox
https://github.com/mapbox/mapbox-gl-native-ios/commit/21a7bbe970784ea4fa70a3f440e62a57b81d82cf

and according to this: https://github.com/mapbox/mapbox-gl-native-ios/issues/485#issuecomment-724362573 it's fixed.

[2020-11-19 10:26] marudy commented on #1064
@ferdicus thanks for the reply.
- yeah it still occurs on latest version `8.1.0.rc9`. Have actually upgraded to this one for a couple of weeks now already but didn't update the issue.
- My CI builds with `Xcode 11.3.0`. On users devices' i see it all the way from iOS 12 to 14 as mentioned.

Cheers and thanks for taking the time to investigate

[2020-11-19 13:36] tinmar33 commented on #1068
@mfazekas how can I try with this version ?
I don't see `mapbox-gl-native-ios` on anywhere on the project or on the iOS files

[2020-11-19 13:43] mfazekas commented on #1068
@tinmar33 see https://github.com/react-native-mapbox-gl/maps/pull/940#issue-441493074

[2020-11-19 14:00] tinmar33 commented on #1068
@mfazekas
[code]

[2020-11-19 14:23] mfazekas commented on #1068
@tinmar33 sorry I've just published 6.3.0 can you try
[code]

[2020-11-19 15:07] tinmar33 commented on #1068
I have an error while downloading the package

`Installing @react-native-mapbox-gl-mapbox-static (6.3.0)` -> `401 Unauthorized`

[2020-11-19 15:28] mfazekas commented on #1068
You'll need to set up `.netrc` see:
https://github.com/react-native-mapbox-gl/maps/pull/1044#issue-493540536

[2020-11-19 15:44] tinmar33 commented on #1068
All good 👌 Thanks.
I try with this version

[2020-11-20 08:18] andrei-tofan commented on #1068
Is $ReactNativeMapboxGLIOSVersion support missing in 8.0 or did I miss something? https://github.com/react-native-mapbox-gl/maps/blob/8.0.0/react-native-mapbox-gl.podspec

[2020-11-20 10:15] jaltin commented on #1068
@mfazekas Thanks for your help! We are trying this right now and we will get back to you once we see if it works or not.

A related question: To use $ReactNativeMapboxGLIOSVersion has forced us to update to the 8.1.0.rc9 (we were on 8.0.0 before). Do you have any "feel" of how stable this version is? Is it close to a full release or still other known bugs?

[2020-11-20 13:22] ferdicus commented on #1068
@jaltin, version `8.1.0.rc9` is probably just as (un-)stable as `8.0.0`.
We don't have an official smoketest/ hardening/ testing cycle for our releases - it that's what you're asking.

[2020-11-20 13:37] ferdicus commented on #1064
sorry, I meant the underlying iOS SDK version.
It's now possible to update that independently of our wrapper libs version.
More info here: https://github.com/react-native-mapbox-gl/maps/blob/master/ios/install.md#mapbox-maps-sdk
Our default packin version is `5.8.0` you could try `6.3.0` and see if you're experiencing the same issue there.

Thanks

[2020-11-20 13:45] jaltin commented on #1068
@ferdicus, thanks for your reply.

We are currently using 8.0.0 in prod, and I was asking because I wanted to get a feel if it will be reasonable to consider to use the rc9 release in our app in production to get around this bug.

[2020-11-20 15:32] ferdicus commented on #1049
hey @stevepepple, I've just downloaded your demo app - haven't tested anything yet, just saw that you included your mapbox access token in it.
Might want to take the demo down again, before someone is using your token 👍🏿

[2020-11-20 15:49] stevepepple commented on #1049
Oh thanks @ferdicus. Will fix that ASAP and provide an updated demo without the key.

[2020-11-20 19:56] ferdicus commented on #1049
hey @stevepepple, just a quick question about the nature of the duplicates.

I've logged out the result of the `.features` call from variable `sourceFeatures` and I got, for example, this result:
[code]

It looks like a duplicate (`id` is the same), however the coordinates do not match up 🤔

From the code we're using, I'm not sure what the issue could be, as we basically just passing the method ca

[2020-11-20 19:57] ferdicus commented on #1008
Sorry, I didn't get to this today - will have to postpone to a later date :(
This is my reminder

[2020-11-21 06:32] developius opened #1112 "iOS: SymbolLayer icons don't load"
**Describe the bug**
On iOS, images added through `MapboxGL.Image` fail to load.
Using a URL (e.g. `https://cdn.onlinewebfonts.com/svg/img_525159.png`) works, but loading from disk seems to result in something else entirely.

**To Reproduce**

Example:
[code]

**Expected behavior**
I expect to see markers on the map, like I do on Android.

The markers are actually present on the map because I can

[2020-11-22 09:31] developius commented on #1112
I've a feeling this might be related to: https://github.com/facebook/react-native/issues/29279

[2020-11-22 09:44] ferdicus commented on #1112
@developius, can you please try one of the mentioned solutions and report back to us - thanks in advance 🙇🏿

[2020-11-22 09:49] developius commented on #1112
Hey @ferdicus,

I tried the patch from: https://github.com/facebook/react-native/issues/29279#issuecomment-658244428
And also the one here: https://github.com/facebook/react-native/issues/29279#issuecomment-657201709

Neither seem to work. I have a standard `<Image>` loading correctly in my app so not sure if it's related or not.

[2020-11-22 09:53] developius commented on #1112
This is what I now get 😆
<img src="https://user-images.githubusercontent.com/5836587/99900603-5fd09380-2d15-11eb-8ed2-6a5b35dd9ea3.png" width="250px">

[2020-11-22 09:55] ferdicus commented on #1112
Oh lovely... 😆

I'll have a look - might take a few days though, hope that's ok

[2020-11-22 09:57] developius commented on #1112
@ferdicus no problem 🤓 let me know if you need any more info. I can ship Android anyway 😁

[2020-11-22 12:08] lishuo0710 commented on #1069
I came into the  same issue,when use the example `drive the line ` and create a realtime point move , sometimes, the label and river come flickering  when the point move .( ps:I use MapboxGL.Animated.ShapeSource )

[2020-11-23 11:37] nikola1970 commented on #652
Can you give a better explanation? I really struggle ti understand this. Thanks!

[2020-11-23 11:52] westanvv commented on #1097
I have the same problem. Downgrading is working for me too

[2020-11-23 17:14] jaltin commented on #1068
**Status update after our testing**

So we have now tested this over the last 3 days running on 6 different devices (iPad and iPhone, iOS 12, 13 & 14) with the app running continuously in the background. None of the devices has crashed so setting the version of $ReactNativeMapboxGLIOSVersion to 6.3.0 seems to work for us so far.

Thanks a lot to @mfazekas and @ferdicus for your help!

[2020-11-23 17:22] ferdicus commented on #1068
good news 👍🏿

I'll close this ticket - feel free to open another one (or we can reopen this one) when this issue reoccurs

[2020-11-23 17:22] #1068 closed

[2020-11-23 19:49] developius commented on #1112
@ferdicus not sure if it helps, but I'm getting this exception when getting to the `minZoomLayer` of the `SymbolLayer` with failing icons.

<img src="https://user-images.githubusercontent.com/5836587/100007819-7e2bb180-2e31-11eb-8077-5a437be9cb28.PNG" width="250"/>

[2020-11-23 21:01] ElZombieIsra commented on #998
I have the same issue. It would be good to know if there's a solution in the horizon

[2020-11-23 22:19] Jfmetcalf5 commented on #296
https://github.com/react-native-mapbox-gl/maps/issues/296#issuecomment-702763724
Ditto

[2020-11-24 05:23] ferdicus commented on #296
* Open XCode
* Select `Project Navigator` in the upper left icons
* Select you project
* Select the `Build Settings` Tab
* In the main viewer set `All` | `Combined`
* Go to `Architectures` => `Architectures`
It probably says something like `$(ARCHS_STANDARD)`

Note, this was on XCode 12.2

[2020-11-24 08:19] tinmar33 commented on #1068
I'm glad to hear it, thanks @jaltin :)

[2020-11-24 13:22] nazarTrynko commented on #342
@markfried96 have you found a solution for this?

[2020-11-24 13:32] markfried96 commented on #342
@nazarTrynko unfortunately I didn't found a solution to use addImage like in mapbox-gl. We ended adding the image files as assets in the iOS project and then loading the files like this (inside the `<MapboxGL.MapView />` component):

`<MapboxGL.Images images={{assets: ['image1', 'image2', 'image3', 'image4']}} />`

Maybe that will help you too.

[2020-11-24 13:36] eitanfr opened #1113 "[IOS] crash when accessibility is active (VoiceOver)."
**Describe the bug**
Application crashes when the map is initialized and accessibility is active on IOS.
The crash is random and seems it depends on the map location, aka if in the current map view there are layers/objects that cause a crash when accessibility is active.

Maybe related to https://github.com/mapbox/mapbox-gl-native/issues/10994, although in the crash log the function that causes th

[2020-11-25 05:15] ferdicus commented on #1019
these are now tracked in the wiki

[2020-11-25 05:15] #1019 closed

[2020-11-25 05:15] ferdicus commented on #1018
these are now tracked in the wiki

[2020-11-25 05:15] #1018 closed

[2020-11-25 08:42] EyadAyman658 commented on #580
what was it ?

[2020-11-25 17:56] jussikinnula commented on #344
This is happening to me as well. I managed to reproduce this just by using styleUrl and simulating very slow network speed with iOS Simulator (Xcode has Network Link Conditioner, which provides possibility to simulate different speeds). The crashing happens with both iOS and Android (I could not get crash with Android Studio Simulator, though).

I can work for systematic test case (minimal) with i

[2020-11-25 22:01] natew commented on #1042
Please keep alive

[2020-11-26 03:30] systemlevel commented on #869
This crash does occur for us when rendering native mode on Android.

[2020-11-26 03:38] systemlevel commented on #1070
@ferdicus when I run in native we just get fatal error. Not sure why now:

[code]

[2020-11-26 11:18] NathanJozef opened #1114 "[Android] Dynamically adding SymbolLayers with additional filtering information results in exception on Android"
**Description**

Dynamically adding SymbolLayers and combining existing and dynamical filters results in an exception on Android devices.

[code]

**To Reproduce**
Steps to reproduce the behavior.

Example:
[code]

Here is the output stack trace:

[code]

The crashes with this error:

[code]

**Expected behavior**

Symbol layers are added and all filters are applied and response to dynamic changes

[2020-11-26 11:24] NathanJozef commented on #1114
Quick note on replicating the issue - the server that hosts the styles is has automated downtime from 1900 GMT to 0700 GMT. If you are attempting to replicate the issue in this scheduled downtime then let me know and I will ensure that the servers are serving.

[2020-11-26 12:25] designervoid opened #1115 "[iOS] LoadError - incompatible library version - /Users/designervoid/gems/gems/ffi-1.13.1/lib/ffi_c.bundle"
I try to install react-native-mapbox in my project. So, my steps:

1. `npm install @react-native-mapbox-gl/maps --save`
2. `cd ios && pod install && cd ..`

Here is my console trace log:
[code]

### Command

[code]

### Stack

[code]

### Plugins

[code]

### Podfile

[code]

### Error

[code]

Without react-native-mapbox pod is installing correctly without errors.

[2020-11-26 15:13] aless10 opened #1116 "[Android] Kitkat 4.4 api 19 crashes"
Hi all,
I'm having some issues to run my application on android kitkat 4.4 api version 19.
Unfortunately, I cannot test it on a physical device but I only tested it with the emulator created in android studio.
The bug: whenever I try to run the app in debug mode, the app crashes.
This is the error log
[code]
I think that this is something related to this https://stackoverflow.com/questions/5604431

[2020-11-27 05:39] Ashna-softlets commented on #893
@snuuve 's solution fixed the issue

[2020-11-27 13:11] timkuilman commented on #1031
Same issue with XCode version 12.2 (12B45b) on MacBook Pro (13-inch, M1, 2020)

Debug build on a fresh Xcode install.

[2020-11-27 16:33] ferdicus commented on #1116
hey there, sorry to be that guy, however we're not supporting under `23`.

See https://github.com/react-native-mapbox-gl/maps#prerequisit

[2020-11-27 16:33] #1116 closed

[2020-11-27 17:17] ferdicus commented on #1008
hey @cbrevik, I've done some digging and have found, that the event is not triggered due to this if check in our iOS code:
https://github.com/react-native-mapbox-gl/maps/blob/000616c742aebfe83409857f49f5e924d790f3d4/ios/RCTMGL/RCTMGLMapViewManager.m#L493

On an interrupted pan `reason` is `MGLCameraChangeReasonGesturePan | MGLCameraChangeReasonTransitionCancelled` and that seems to somehow been ca

[2020-11-27 19:10] mfazekas commented on #1115
@designervoid this looks like a ruby/gem installation issue. Not sure why it only surfaces with RNMBGL, maybe because mapbox is the only one sourcing stuff via https.
Try to uninstall/reinstal the gem ffi to/at /Users/designervoid/gems/gems/ffi-1.13.1/lib/ffi_c.bundle

[2020-11-27 19:10] #1115 closed

[2020-11-28 00:33] bllanos opened #1117 "iOS: PointAnnotation jumps back to initial position after dragging"
**Describe the bug**
When a `UserLocation` component is being rendered with it's `visible` prop set to `true`, `PointAnnotation` components exhibit unwanted dragging behaviour:
- They may jump back and forth between their original positions and the position that the user is currently touching during the drag interaction
- They may snap back to their original positions after the drag ends and the u

[2020-11-28 04:17] shoaib2527 commented on #395
@taylorjosephgriffin  Can you share any link or snip, how and where to add mapbox studio styles in this package.
Thanks in advance.

[2020-11-28 21:16] designervoid commented on #1115
@mfazekas issue has fixed by downgrade macos to catalina 10.15.7

[2020-11-28 21:38] RobertSasak commented on #1105
As discussed at Gitter. https://gitter.im/react-native-mapbox-gl/Lobby?at=5fabd8212a60f731f74b1e34

It is not possible to target MacOs as underlying Mapbox iOS is still using EAGLContext which is deprecated. mapbox/mapbox-gl-native-ios#117

Any other suggestions?

[2020-11-29 02:21] kaiykwok2 commented on #854
I had the same issue, anyone could help? Thanks

[2020-11-30 07:23] aless10 commented on #1116
I'm so sorry, thanks for the response. Cheers.

[2020-11-30 09:07] cbrevik commented on #1008
Hey @ferdicus. I tested it out now, and removing that check did indeed fix the issue.

It seems to have been introduced in this PR; https://github.com/react-native-mapbox-gl/maps/pull/363
Corresponding issue: https://github.com/react-native-mapbox-gl/maps/issues/348

It seems to be related to programmatic camera interaction being wrong without the check, as you said.
Maybe there is some way to rat

[2020-11-30 12:29] cbrevik commented on #1008
Seems like `isUserInteraction` is set on `regionWillChangeWithReason`: https://github.com/react-native-mapbox-gl/maps/blob/000616c742aebfe83409857f49f5e924d790f3d4/ios/RCTMGL/RCTMGLMapViewManager.m#L480

Does it need to be set in `regionDidChangeWithReason` at all?: https://github.com/react-native-mapbox-gl/maps/blob/000616c742aebfe83409857f49f5e924d790f3d4/ios/RCTMGL/RCTMGLMapViewManager.m#L495

[2020-11-30 12:49] ferdicus commented on #1116
No worries, stay safe 👋🏿

[2020-11-30 13:45] cbrevik commented on #1113
Experiencing the same issue, consistent crashes when VoiceOver is enabled on iOS.

The error is usually `Exception	NSException *	"*** -[__NSPlaceholderArray initWithObjects:count:]: attempt to insert nil object from objects[0]"	0x0000000282eb6070`. Also getting consistent crashes with map examples from https://github.com/react-native-mapbox-gl/maps/tree/master/example

Also tested with upgrading t

[2020-11-30 13:59] cbrevik commented on #1113
Experiencing the same error when running the example code from Mapbox; https://github.com/mapbox/ios-sdk-examples/tree/main

So at least my error does not seem to be directly related to this repository.

[2020-11-30 23:14] marudy commented on #1064
@ferdicus i can confirm i am using version `5.8.0` for the underlying iOS SDK version. Will try your suggestion and report back.

[2020-12-01 08:37] cbrevik commented on #1113
@eitanfr Does the crash go away if you install English on device? It does for me. See linked issue from Mapbox iOS SDK repo: https://github.com/mapbox/mapbox-gl-native-ios/issues/562

[2020-12-01 09:47] mzu commented on #1092
Just one more thing I noticed in relation to this ticket. In the original description of this issue, I described the following:

It is actually more than that. The whole `geometry` part of the feature that gets passed in the event gets overwritten. The `coordinates` from the event feature do not match the original feature from the source anymore. I now think that this is a bit more critical than I

[2020-12-02 08:15] menagetdev opened #1121 "MapboxGL.MapView onPress returns the wrong geometry on Android"
On android, the onPress gives the wrong coordinate. I am trying to get features from a mapbox style but I get the wrong features anytime the mapview is tapped on an android device while it works perfectly on iOS.

If I hardcode the coordinates or pointInView to get getPointInView or queryRenderedFeaturesAtPoint using map ref, it still returns the wrong features or point.

**To Reproduce**
Steps to

[2020-12-02 09:36] Masoud-kamali opened #1122 "Using react-native-mapbox-gl / maps in the form of mapbox-gl"
Hi
I want to use react-native-mapbox-gl/maps in the form of mapbox- gl
for example i do everything that i can to initialize MapView component in useEffect instead of component.
Is it poosible that how can I rewrite the code in below that is readable for react native
Thanks,

Example:
[code]

**Versions (please complete the following information):**
 - Platform: Adnroid
 - Device: SDK29 Android Pix

[2020-12-04 21:00] #997 closed

[2020-12-04 21:00] #1011 closed

[2020-12-06 21:26] marudy commented on #1064
@ferdicus I get 401 Unauthorised while trying to install 6.3.0

![Screenshot 2020-12-06 at 23 23 53](https://user-images.githubusercontent.com/16783589/101292780-44d44800-381a-11eb-83da-1ff8e26d0f41.png)

I simply changed the version in the podspec file and run `pod update`:
[code]

[2020-12-07 04:15] rossslaney commented on #998
This fixed the issue for me.  Thanks for posting

[2020-12-07 05:23] ferdicus commented on #1064
Unfortunately it involves more than just changing the version in the `podspec`.
Please refer to the changed iOS installation guides - mapbox has changed the installation process a bit since version 6.X.X.

[2020-12-07 05:31] ferdicus commented on #998
PRs are welcome :)

[2020-12-07 08:57] marudy commented on #1064
Can you please link me ?

[2020-12-07 10:42] VladMatvei commented on #1008
This issue can be reproduced on Android as well

[2020-12-07 12:36] ferdicus commented on #1064
https://github.com/react-native-mapbox-gl/maps/blob/master/ios/install.md

[2020-12-07 13:05] victor0402 commented on #541
After changing the URL, is it possible to know when the shape source is ready?
I would like to show to the user an indicator that the new source is still loading, like a Spinner. I'm facing delays of a few seconds when loading bigger geojsons

[2020-12-08 10:44] eugeneshe opened #1123 "[Android] offlineManager.pause doesn't work"
**Describe the bug**
When offline pack downloading is in progress, I can't pause the progress

**To Reproduce**
1. call MapboxGL.offlineManager.createPack for a large area
2. in 5 seconds call pack.pause().
progressListener callback continue getting updated progress (with any tiles source - mapbox and custom)

Example:
[code]

**Expected behavior**
progressListener stops getting updated progress.

[2020-12-08 14:06] eitanfr commented on #1113
@cbrevik you are right, installing English resolved the crash.
Seems the crash happens when a device didnt installed one of the predefined languages.

[2020-12-08 21:18] hexadecy commented on #621
That wasn't enough, I've added:
[code]

[2020-12-09 12:05] gmaclennan opened #1124 "Discussion: open source future of react-native-mapbox-gl"
I had not noticed until the [mapbox-gl-js v2 announcement](https://fuzzytolerance.info/blog/2020/12/08/MapBox-GL-JS-is-no-longer-open-source/) that [`mapbox-gl-native`](https://github.com/mapbox/mapbox-gl-native) is no longer being maintained in the open, and from [`mapbox-gl-native-android@9.3.0`](https://github.com/mapbox/mapbox-gl-native-android/blob/main/CHANGELOG.md#930---july-15-2020) and [`

[2020-12-10 10:56] #1124 closed

[2020-12-10 13:11] #1122 closed

[2020-12-11 03:45] ReidTait commented on #869
I also just had this crash occur with nativeRendering enabled for <MapboxGL.UserLocation/> on Android. Can we re-open this issue?

[2020-12-11 12:44] lucasfronza opened #1126 "Version 8.1.0 not published to npm"
Hey there!

Any reason why version 8.1.0 is not on npm?
Also, we've tried upgrading with `"@react-native-mapbox-gl/maps": "react-native-mapbox-gl/maps#8.1.0",`, but it then fails to find a compatible pod for `Mapbox-iOS-SDK`. Is that the reason why it is not yet on npm?

Thanks!

[2020-12-11 12:49] ferdicus commented on #1126
We are aware of the issue and working on it.
This is due to the fact that travis changed it's OSS policies in the last few days.

As for finding compatible `Mapbox-iOS-SDK` pod.
Not sure what the issue there is - have specified a different version in the podspec?

If so, are you aware of the new install steps that come with mapbox-ios-sdk 6+

Closing this, feel free to add a clarifying comment abo

[2020-12-11 12:49] #1126 closed

[2020-12-11 12:52] lucasfronza commented on #1126
OK!

Will have a look at the mapbox-ios-sdk 6+ steps.

Thanks for the quick reply!

[2020-12-11 12:54] ferdicus commented on #1123
Hey @eugeneshe, thanks for reporting this.
Would you kindly provide a testing ready example with our `BugReportTemplate` within `/example` (and please do make sure it runs).

So we can spend minimal time on the setup and maximum time on the debugging.

Thanks in advance

[2020-12-11 13:17] ferdicus commented on #1113
not much we can do from our side, as I see it - will close the issue, feel free to reopen when you see an issue at the level of this repo - otherwise I'd advise to follow @cbrevik's issue upstream

Thanks

[2020-12-11 13:17] #1113 closed

[2020-12-11 13:37] #1073 closed

[2020-12-11 13:38] #1105 closed

[2020-12-11 17:25] eugeneshe commented on #1123
I'll do that

[2020-12-12 08:59] mfazekas commented on #1126
8.1.0-rc10 is now released with github actions, we'll release final release soon

[2020-12-13 10:48] SalihZinaty opened #1129 "set current location as the center of the map"
Im trying to set the camera view on the current location marker where the camera will rotate around the current location

when the current location is on the center of the map i got this effect. but i want the map to rotate around the current location even though the current location not on the center of the map

thanks!

[2020-12-13 12:12] #1129 closed

[2020-12-13 22:32] sjusaitis commented on #1097
Downgrading to Cocoapods `1.9.3` also fixed this issue for me. Has anyone manage to get this working with Cocoapods `1.10.0`?

[2020-12-14 15:13] eugeneshe commented on #1123
Updated example. I left MapboxGL.MapView & MapboxGL.Camera because it is required in BugReportTemplate. Not sure it is needed in my case, anyway... I tested that component and it works as described. Pauses ios app and do nothing for android app

[2020-12-14 19:00] thatmichaelpark opened #1130 "FillLayer obscures PointAnnotation?"
I have a map with a geojson shape and a PointAnnotation (pin) in the middle of the shape. Unfortunately, the shape is drawn on top of the pin, obscuring it.

[code]
![Screen Shot 2020-12-14 at 10 48 54 AM](https://user-images.githubusercontent.com/16363045/102122247-14804100-3dfa-11eb-859c-7951f4f096dc.png)

I expected the pin to be drawn on top of the shape. I've tried different annotations but t

[2020-12-15 08:10] SalihZinaty opened #1131 "moveTo() function don't support center offset"
moveTo() function don't have center offset.
if i moveTo() an coordinate, it will be centered on the middle of the map and i can't add offset to the center if i want it to be on the bottom of the screen
this graph describes the feature:

![20201215_100456 (1)](https://user-images.githubusercontent.com/47770409/102188210-b4eb6980-3ebd-11eb-8970-d925fe18232d.jpg)

[2020-12-15 10:00] ferdicus commented on #1131
Try something like `contentInset` from the `MapView` component.
Otherwise this is a feature request, as `moveTo` doesn't support this.

[2020-12-15 10:00] #1131 closed

[2020-12-15 19:08] SalihZinaty opened #1132 "contentInset not working properly in iOS"
when initiating the mapView with contentInset={[400,0,0,0]}, on android it works perfectly fine.
one iOS, the value of contentInset back to undefined and the map jump to the old center and then back to the initial value

how can we fix it?

[2020-12-16 09:48] Masoud-kamali opened #1133 "Application is closed when I want to add 3 shapeSource"
---------
HI guys, I wanna set 3 shape source for each geometry. but when it does not work.
Actually it works when i set polygon and line geometries together, but when I add point geometry , it crashed.
I add point geometry separately and it works !!!!
Please help me, thanks

Example:
[code]

**Screenshots**
point
![Screenshot_1608111803](https://user-images.githubusercontent.com/59616210/10233213

[2020-12-16 13:48] #1132 closed

[2020-12-16 13:49] #1133 closed

[2020-12-16 14:10] jordan-tpz commented on #1069
Hi,
Always the same issue for me.
It still exists using latest release ? If yes, did you find a temporary hack ?

[2020-12-16 14:45] andrei-tofan commented on #536
This issue is still present in 8.1. This happens when the MapboxGL.UserLocation is added to the Map and the user is driving with the app in the background. We've implemented a workaround that hides the MapboxGL.UserLocation when the app is in the background (so the iOS won't kill the app due to high CPU usage).

[2020-12-16 18:36] systemlevel commented on #383
@mfazekas When you use RN Mapbox in your simulator is your map slow as you pan around? Ours is sluggish but I'm not sure if that's to be expected or not.

[2020-12-17 02:23] lishuo0710 commented on #1069
i repalce it with markview but came into another  issue ，when  markview move  few steps it will back to origin location while the camera begin animation （ps: when camera animation duration is  0ms，the issue disappear but the move is ugly）

[2020-12-17 08:51] jordan-tpz commented on #1069
Hi @lishuo0710,

Thank you for your quickly feedback. I continue to investigate about it.

[2020-12-17 09:58] NathanJozef commented on #986
Also getting exactly the same issue as mentioned by @NathanNovak. Have also tried fixing it by picking apart some of the information in this thread to no avail.

[2020-12-17 17:57] ataravati commented on #1031
Why is this issue closed?

[2020-12-17 21:56] ataravati commented on #1031
This worked for me:

https://stackoverflow.com/questions/63607158/xcode-12-building-for-ios-simulator-but-linking-in-object-file-built-for-ios/64139830

[2020-12-18 05:58] #971 closed

[2020-12-18 05:58] #1065 closed

[2020-12-18 09:17] sheten commented on #869
Same issue for me, using this device:
![131932685_187658229693248_8131658291336913323_n](https://user-images.githubusercontent.com/59844932/102597013-a651bc00-4122-11eb-9eff-d3fb765e0803.png)

[2020-12-18 11:55] natew commented on #1031
@ataravati what worked? Are you on m1/arm?

It was working for me a few days ago after some attempts, but for some reason regressed. I get this error again, tried a few different versions of everything, cleaning, legacy build, lots of config variants. No dice.

Luckily I have an old build on my phone that I can use for now, but any tips appreciated.

[2020-12-18 14:49] ataravati commented on #1031
@natew This:

[2020-12-18 16:12] Arkolos commented on #869
I also agree to reopen. I have this issue with version 8.1.0-rc10 .

I get this issue when I have `renderMode="native"` on the `MapboxGL.UserLocation` when the Camera does not have `followUserLocation` prop (if `followUserLocation` is set to true it works)

[2020-12-18 17:24] Wandergin commented on #869
Solved by not using renderMode="native" on Android. It works fine on iOS, so it's worth doing a ternary (conditional) distinguishing by Platform.OS so that the correct component is chosen.

[2020-12-18 20:00] natew commented on #1031
@ataravati are you on an M1 mac or on an older mac? I'm having this problem on an M1 mac, I don't think I can exclude arm64.

It does build to my physical device though.

Could we get issue re-opened @mfazekas?

[2020-12-20 12:36] citizen-dror commented on #943
this is really annoying bug / future, it happen to me all the time and fill my log with errors, several of them every second,

![image](https://user-images.githubusercontent.com/342644/102713395-a2fc3300-42d0-11eb-8a20-919116aab4b5.png)

I  don't  understand why it  happen , who to prevent it or how to hide it.

[2020-12-20 13:25] #895 closed

[2020-12-21 08:20] bosung90 commented on #1031
Getting a same problem on a Apple Chip Mac Mini

[2020-12-23 11:58] mfazekas commented on #986
FWIW I've also published 5.9.0 of static fixer, so it rc10 should work if you default to the 5.9.0 version

[2020-12-24 10:25] #877 closed

[2020-12-25 08:49] #841 closed

[2020-12-25 08:49] #962 closed

[2020-12-25 08:49] #1071 closed

[2020-12-25 08:49] #921 closed

[2020-12-25 09:42] lishuo0710 commented on #1117
I face same  issue that markview will back  to last  loaction after move  few steps  while camera animation begin (ps: the markview and the camera has the same dynamic coordinates).I think it casuesd by the carmer animation，when camera animaduration set 0， the problem  disappear,but the move perform ugly

[2020-12-25 09:55] lishuo0710 commented on #1130
I came into same issue when add few markview  the last view will be drawn on top of  other markview  ,  how to set one markview on top other view ,I can  handle this on android but how to handle on ios.

[2020-12-26 11:57] bahung1221 opened #1134 "[Android with self-hosted tiles] using mapview requires calling mapbox.getinstance"
Hi

**Describe the bug**

I'm using `react-native-mapbox-gl/maps` to render my map without need any tiles or styles from Mapbox service. All tiles, styles, fonts were self-hosted on my server.
So I didn't have any Mapbox access token, it worked very well on iOS, but doesn't work on android.

I found a PR from [mapbox/mapbox-gl-native](https://github.com/mapbox/mapbox-gl-native/pull/12001) that was

[2020-12-26 13:37] bahung1221 commented on #1134
I found that `mapbox/mapbox-gl-native` is dead, Mapbox Android SDK was moved to [mapbox/mapbox-gl-native-android](https://github.com/mapbox/mapbox-gl-native-android) instead.

I check their code and it seems that this issue comes from their side, not `react-native-mapbox-gl/maps`. I opened an issue here: https://github.com/mapbox/mapbox-gl-native-android/issues/632.

So I go to close this issue, t

[2020-12-26 13:37] #1134 closed

[2020-12-27 06:58] bahung1221 commented on #986
Based on suggestion of @nasmuris above, I added these lines to `Podfile` and it worked now:

[code]

[2020-12-27 08:52] bahung1221 commented on #1134
Note for someone who stuck on this issue like me,
Just set token as an empty string and you are good to go!

[code]

[2020-12-27 18:38] aprilzero commented on #1097
Going back to 1.9.3 fixed it for us too

[2020-12-28 10:13] RobertSasak commented on #854
_LocationManager_ and therefore also _onUpdate_ are deliberatly disabled when _renderMode_ is set to _native_. Any reason why is it so?
[code]
https://github.com/react-native-mapbox-gl/maps/blob/master/javascript/components/UserLocation.js#L201

[2020-12-28 18:31] thatmichaelpark commented on #1130
How do you handle it on android?

[2020-12-29 10:55] stefanjung opened #1137 "mapbox-android-symbol-layer-1 only available when the app is first opened"
The following problem exists with Android:
It seems like it does not found the "mapbox-android-symbol-layer-1" when I navigate to the component with the mapview for the second time.

Explanation of my the problem:

The LineLayer covers the PointAnnotations. To get the LineLayer below the PointAnnotations I have added the following to the LineLayer.

` belowLayerID={Platform.OS === 'android' ? 'map

[2020-12-31 03:59] nomaanp commented on #1014
@raazatul7 Render annotations when the map finish loading using onDidFinishLoadingMap.

[2020-12-31 13:32] babeone commented on #1031
Yeah me too, i'm getting this error on M1 mac and Xcode 12, someone resolved?

[2021-01-02 12:08] hannojg opened #1138 "(iOS)ShapeSource features() Could not find RCTMGLShapeSource"
**Describe the bug**
In the documentation, it says
https://github.com/react-native-mapbox-gl/maps/blob/397482d4adc7e34cea30b39151c638e418a66f89/docs/ShapeSource.md#featuresfilter
that we can filter the features from a shape source. When doing so on iOS I get the following error:

[code]

I even wait several seconds before calling `features`. This just happens on iOS

**To Reproduce**
Reproduced fr

[2021-01-03 11:16] babeone opened #1139 "Chip Apple M1, unable to compile the example project in IOS simulator"
**Describe the bug**

Error in compiling for IOS simulator in new mac M1 chip. The project compile and run correctly on physical devices for both IOS/ANDROID (ipad and android phone).  This is the error i'm getting on Xcode when trying to compile for a simulator : `building for iOS Simulator, but linking in dylib built for iOS, file '/Users/xxxx/xxxx/xxxx/xxxx/maps/example/ios/Pods/@react-native-m

[2021-01-03 11:19] CaldeDaniele commented on #1139
Same here

[2021-01-03 12:12] mfazekas commented on #1139
Two things you can try:

1. [Mapbox 6.3.0](https://github.com/react-native-mapbox-gl/maps/blob/master/ios/install.md#mapbox-maps-sdk)
2. try with [`use_frameworks!`](https://github.com/react-native-mapbox-gl/maps/blob/master/ios/install.md#use_frameworks)

[2021-01-03 13:34] babeone commented on #1139
Tried and i got the same error.

### Podfile
`require_relative '../node_modules/react-native/scripts/react_native_pods'
require_relative '../node_modules/@react-native-community/cli-platform-ios/native_modules'

platform :ios, '10.0'

INHIBIT_WARNING_BY_DEFAULT = true

if INHIBIT_WARNING_BY_DEFAULT
  ORIG_POD = method(:pod)

  def pod(name, *requirements)
    options = requirements.last
    if opt

[2021-01-03 15:50] hannojg commented on #1138
Reproduction with the fix is available here: https://github.com/hannojg/maps/tree/fix/shapesource-features-local
The PR I provided is free of the reproduction code!

[2021-01-04 07:00] ankitgauravapporio commented on #895
Hello Guys, so we have no solution  from smooth animation of single marker.

[2021-01-04 09:53] mfazekas commented on #1139
@babeone can you verify it's the correct version in `Podfile.lock`

I think
[code]
should be reversed. That is `$ReactNativeMapboxGLIOSVersion` should be before `pod`

[2021-01-04 10:49] guillemfrancisco commented on #1109
@DavidGonzalezGutierrez how did you manage to make it work? Was the problem the format? From MVT to TileJSON?

[2021-01-04 11:25] babeone commented on #1139
@mfazekas tried and i got the same error,  Podfile.lock have the correct version (6.3)

 adjusted Podfile like this
`$ReactNativeMapboxGLIOSVersion = '~> 6.3'
pod 'react-native-mapbox-gl', :path => '../../', :inhibit_warnings => false`

[2021-01-04 12:24] mfazekas commented on #1139
I guess this is coming from the upstream issue: https://github.com/mapbox/mapbox-gl-native-ios/issues/558

[2021-01-04 12:34] qu4sar commented on #1139
Same for me with M1 Chip :(
Tried with all the solution on this link -> https://stackoverflow.com/questions/63607158/xcode-12-building-for-ios-simulator-but-linking-in-object-file-built-for-ios but nothing ...

[2021-01-04 12:35] babeone commented on #1139
@mfazekas so at the moment the only solution is to use a physical device, until mapbox fixes the sdk?

[2021-01-04 14:36] babeone commented on #1139
@mfazekas Found a workaround, just open Xcode with Rosetta. Right click on Xcode icon -> More information and check "Rosetta".

[2021-01-04 14:38] babeone commented on #1031
Hi all, check this https://github.com/react-native-mapbox-gl/maps/issues/1139 for a workaround

[2021-01-04 14:59] ferdicus commented on #536
I mean, the gps sensor of the device is used like crazy, especially when driving/ moving fast.
If you are fine with a slightly less accurate reading of the current position, then look into the `minDisplacement` prop.

[2021-01-04 15:30] jaltin commented on #536
Hi @ferdicus.

I am commenting on this since I work with @andrei-tofan and he is on holiday for a few more days.

I think the initial description of the problem was a bit vauge, so I will explain what the problem is/how to reproduce it.

**Background**
- We have an app that shows a mapbox map.
- We show the UserLocation component on the map, and the user tracking mode is set to 'follow'.
- The app

[2021-01-04 16:57] ferdicus commented on #536
Thanks for the detailed explanation @jaltin 🙇🏿

Can you please share some code, how are you processing the incoming userlocation, and what does the component order/setup look like within `MapView`

[2021-01-04 19:59] KourpidisParis opened #1141 "About the capabilities of the library"
I recently found your library and it looks quite interesting.

I want to create a simple navigation application, for example from one city to another.

As I am new to mobile development, I want to ask if the final destination can be hidden, ie the user may not be able to see the final destination.All he can see is what the next turn he will need to take and more about navigation.

Is it possible t

[2021-01-05 05:12] ferdicus commented on #1141
hi there, that's a very broad question.
In general I would suggest to ask something like this rather in the gitter chat or stackoverflow.
Issue tickets are mainly for ... issues with the lib.

"Anything" is possible, right?
You can render arbitrary elements over the map and show icons and lines on the map.

So I'd say, technically it is possible.

[2021-01-05 05:12] #1141 closed

[2021-01-05 06:33] lishuo0710 commented on #1130
markview extend view class on android，we can use  its method bringToFront.

[2021-01-05 15:01] Gp2mv3 commented on #1126
Do you have news about the publication of the final release?

[2021-01-05 15:35] xD3CODER commented on #943
Same issue

[2021-01-05 16:50] patternleaf commented on #1097
Quick note for other folks looking for this: I was able to get this working without overwriting my global cocoapods install by using a Gemfile with the following contents in the RN `ios` folder:

[code]

Then instead of the usual `pod install` command, use `bundle exec pod install`.

[2021-01-06 18:35] stefanjung commented on #1137
Fix:
I have found the issue. Every time I navigate to the component with the mapview the "mapbox-android-symbol-layer" increased. That mean the second time I navigate to the component it should be belowLayerId = "mapbox-android-symbol-layer-2" and so on.

Is there any way to get all layer IDs? So that I can find out which is the highest?

[2021-01-07 21:19] jayhaluska opened #1143 "pod install fails - slow download of mapbox iOS SDK"
**Describe the bug**
I can not execute `pod install`successfully to install react-native-mapbox-gl.

**To Reproduce**
[code]

**Expected behavior**
The `pod install` command should install without error in a reasonable time.

**Actual behavior**
`pod install` starts downloading the Mapbox iOS SDK and fails after a long loading time with the following error:

[code]

**Versions:**
 - Dev OS: macOS

[2021-01-08 04:56] ebarahona commented on #1122
https://github.com/react-native-mapbox-gl/maps/blob/master/docs/GettingStarted.md

[2021-01-08 14:15] ferdicus commented on #1138
Cool, thanks @hannojg - also on the bang up job of the issue ticket, much obliged 🙇🏿

[2021-01-08 14:28] ferdicus commented on #854
Hey @RobertSasak, as for _why_ this was added I'm not sure.
The change got introduced by @mfazekas in this PR https://github.com/react-native-mapbox-gl/maps/pull/825
Then again, that was only a continuation for @mattijsf PR https://github.com/react-native-mapbox-gl/maps/pull/215

[2021-01-08 15:21] mfazekas commented on #854
I think #1135 is a good fix for this.

[2021-01-08 15:26] RobertSasak commented on #854
@ferdicus Thank you for your nice summary. I think it was ment to be optimalisation. In native mode we are not showing custom marker and therefor do not need to run LocationManager. upUpdate got simple forgotten.

[2021-01-08 15:38] ferdicus commented on #854
Glad it helped, PR looks like a good solution 👍🏿

[2021-01-08 16:59] ferdicus commented on #1143
nope, can't reproduce - maybe just an `aws` hiccup,
feel free to reopen when it reoccurs

[2021-01-08 16:59] #1143 closed

[2021-01-10 01:28] alex83130 commented on #807
I have the same issue with the latest version of react-native-mapbox-gl
/

[2021-01-10 01:35] alex83130 commented on #1039
I followed the get starting documentation and I have the same issue on window for android, what would be the solution ?

[2021-01-10 16:16] Stefan28BU opened #1158 "[MapBox in China] Set Coordinates inside China Causes the App to CRASH immediately"
**Describe the bug**
I'm building a map application using react-native-mapbox-gl.

Here is the bug:
I'm using a very simple way to change the Camera View to navigate through the map, which is only by updating the centerCoordinates prop and pass the prop to **MapboxGL.PointAnnotation** to render the location pin. However, I am experiencing **crashing whenever I choose a location that is located ins

[2021-01-10 17:37] shay-te opened #1159 "Display a non-interactive map interactive=false"
the javascript support "interactive=false". how can I achieve this with react-native version?

https://docs.mapbox.com/mapbox-gl-js/example/interactive-false/

Thank you

[2021-01-10 18:29] ferdicus commented on #1158
hey @Stefan28BU, thanks for the bug report.

In order to process this issue, please follow these additional steps:
* reproduce the issue using our [`BugReportTemplate`](https://github.com/react-native-mapbox-gl/maps/blob/master/example/src/examples/BugReportExample.js) within the `/example` project in our repo
* please ensure that it builds
* your edited `BugReportExample` actually works
* your is

[2021-01-10 18:30] #1159 closed

[2021-01-11 01:39] Stefan28BU commented on #1158
@ferdicus Will do later, do I need to add the API key as well?

[2021-01-11 16:25] shay-te commented on #1159
Thank you
https://github.com/react-native-mapbox-gl/maps/discussions/1162

[2021-01-11 19:44] dave-moser commented on #504
I am having the same issue.  I need to sign the request to our map tile provider.  I can do this with the react-map-gl component in a web page with the transformRequest option.  Is there any similar functionality for react-native-mapbox-gl?

[2021-01-12 10:11] nbastoWM opened #1166 "Callout doesn't show on iOS"
**Describe the bug**
Callout doesn't show on iOS

**To Reproduce**

My Mapbox component:
[code]

**Expected behavior**
In iOS it should show the Callout as I press the PointAnnotation.

**Actual behavior**
In Android it works fine, the callout with the tip shows as I press the PointAnnotation, in iOS it doesn't show at all. It triggers the onSelected but the callout doesn't show.

**Versions (plea

[2021-01-12 16:57] Alaa-Ben opened #1167 "[ANDROID][8.1.0] User location in native mode crashes"
Hi all !
Pretty simple, when adding `renderMode='native`' on android, it crashes.
`<MapboxGL.UserLocation renderMode='native' androidRenderMode='compass' />`

The error I'm getting:

Any ideas ?

[2021-01-12 19:18] ferdicus commented on #854
resolved by #1135

[2021-01-12 19:18] #854 closed

[2021-01-13 01:58] alex83130 commented on #226
Do we have any update on that one ?
In the documentation It's write that `iconSize`  is a `number` and in the example (`ShapeSourceIcon`) there is that case :
[code]
Following the actual docution, I have difficulties to understand how this one should work...

[2021-01-13 02:02] alex83130 opened #1168 "Understanding SymbolLayer (iconSize / iconImage)"
I reopen a discussion started on that previous closed PR : #226 because I have faced of the same issue.
In the documentation It's write that `iconSize` is a `number` but within the examples (`ShapeSourceIcon`) there is that case :

[code]
I have difficulties to understand how this one should work...

[2021-01-13 05:46] ferdicus commented on #943
To elaborate a bit on mfazekas reply:
This is normal behaviour of Mapbox as described in this upstream [ticket](https://github.com/mapbox/mapbox-gl-native/issues/15341#issuecomment-522889062). In short, when zooming or panning around, operations that were about to load tiles from the server will be cancelled as they are no longer valid - this message is just notifying devs about this action.

It c

[2021-01-14 02:20] lishuo0710 commented on #914
@xseignard  can you me show the android code,i use  android View.bringToFront() method in native code but not working.

[2021-01-14 02:42] bahung1221 commented on #1167
Same, I downgraded to v8.0 to use `renderMode='native'`

[2021-01-14 07:16] jirizikmund opened #1169 "MapboxGL.UserLocation onUpdate - location param can be undefined"
### Component **MapboxGL.UserLocation**, property **onUpdate**.

**Problem**
When application doesn't have access to the location service, param `location` in function onUpdate is undefined. Typescript annotation wrongly says it is alway defined.
```onUpdate?: (location: MapboxGL.Location) => void;```

https://github.com/react-native-mapbox-gl/maps/blob/b3d82a85cf95fbdae5c5924fdfe967e24aa4b46f/ind

[2021-01-14 09:10] Alaa-Ben commented on #1167
That's weird, I thought native user location was added in 8.1.0 because of this line in the changelog:

[2021-01-14 09:33] bahung1221 commented on #1167
Ah, it seems I have misleading for `renderMode native`, in my case (maybe also your case) I just want to show the user `direction indicator`, so I using below code to achieve it, ofcourse `renderMode native` doesn't work but `showsUserHeadingIndicator` worked:

[code]

Sorry for the misleading 🤣

[2021-01-15 01:00] alex83130 opened #1171 "Housenum Layer still display within my App even if it was remove from studio.mapbox"
**Describe the bug**
I have used the studio.mapbox in order to design my map, after I include the style with `styleURL`.
Everything work well except for the layer housenum, even if I remove that one from studio.mapbox and I make the publish, I still see that layer within my App.

![image](https://user-images.githubusercontent.com/15250423/104666776-b49fe300-56a2-11eb-847b-fc3376cab292.png)

[code]

[2021-01-15 01:33] alex83130 commented on #595
So we don't have any way of include the `mapboxgl.NavigationControl()` :   https://docs.mapbox.com/mapbox-gl-js/example/navigation/  ?

[2021-01-15 04:46] alex83130 commented on #1171
They left, it was surely a kind of remaining cache, my bad !

[2021-01-15 04:46] #1171 closed

[2021-01-15 08:08] ferdicus commented on #595
JS != Java/Obj-C

This is a wrapper around the native Android and iOS SDKs of Mapbox.
Unfortunately, there is no feature parity in those libs.

[2021-01-15 13:35] dominikberta commented on #250
Did you solve this?

[2021-01-15 14:59] ferdicus commented on #984
merged

[2021-01-15 14:59] #984 closed

[2021-01-15 15:00] #1138 closed

[2021-01-15 16:59] ferdicus commented on #1168
hey @alex83130, this isn't really an issue - for questions like this please refer to our gitter channel (link is in README) or open a ticket in the actual Discussions section of the repo.

As for your question:
Type is a number, however multiple styles also take [`expressions`](https://docs.mapbox.com/mapbox-gl-js/style-spec/expressions/) as a parameter instead.
[Official style-spec of icon-size](

[2021-01-15 16:59] #1168 closed

[2021-01-15 20:06] ferdicus commented on #1167
@Alaa-Ben , can you post your `Camera` Component please?
I think you have to have `followUserLocation` enabled.

THIS: `Mapbox error Exception in onDidFinishLoadingStyle {"level": "error", "message": "Exception in onDidFinishLoadingStyle", "tag": "Mbgl-MapChangeReceiver"}`
[code]

THIS: `Works fine`
[code]

only difference `followUserLocation`

Give it a spin

Cheers 🍻

[2021-01-16 13:50] RobertSasak opened #1183 "App crash when ProGuard is set to true"
## Describe the bug

I am trying to reduce size of Android app in release. Easiest is to enable ProGuard which will mingle and remove unused code. This can be done easily by enabling *enableProguardInReleaseBuilds* in android/app/build.gradle file. However when set true the app will crash.

## To Reproduce
[code]
Verity that app works by navigating to User Location > Set User Location Render Mode

[2021-01-17 10:20] Stefan28BU commented on #1158
How am I suppose to reproduce the issue if the app just crashes with no stacktrace?

[2021-01-17 13:34] VladMatvei commented on #1099
Hi @natew
Please try the following expression:
`[
      'interpolate',
      ['exponential', 1.5],
      ['zoom'],
      9, ['literal', [0, 1.5]],
      11, ['literal', [0, 1.25]],
      16, ['literal', [0, 1]],
    ]`

[2021-01-18 11:08] savv commented on #1085
Should we keep this open, even if nobody has had the time to fix it so far?

[2021-01-18 12:17] ferdicus commented on #1085
Definitely, I'll at an appropriate label to the ticket.
Maybe someone stumbles upon it and actually has time :D

[2021-01-18 14:36] savv commented on #1085
@ferdicus could it be that fixing this bug is as simple as removing these two lines here?
https://github.com/react-native-mapbox-gl/maps/blob/963a77b7ce716d1f5b8b64fd5a45c0fcf90aac61/android/rctmgl/src/main/java/com/mapbox/rctmgl/components/mapview/RCTMGLMapView.java#L922

I couldn't see any similar logic on the iOS counterpart here:
https://github.com/react-native-mapbox-gl/maps/blob/9103f2db5a56

[2021-01-19 06:58] mrpmohiburrahman commented on #560
This solved my issue, thanks to @markmoomoo

[2021-01-19 10:19] DavidGonzalezGutierrez commented on #1109
I had two problems. The first was that by generating the mvt with tipecanoe I was not able to make them work.
The second was that it generated the mvt with a layer name, but this name did not put it in the react native element.
Nowadays im using mvt tile format, and it works.

[2021-01-19 11:59] VladMatvei commented on #895
Shouldn't be closed. This is still an issue in 8.1.0

[2021-01-19 12:04] mrousavy opened #1188 "react-native-gesture-handler compatibility"
We're building an app which has a similar structure as the Snapchat app. Snapchat's homescreen contains 5 screens, which you can easily navigate using a horizontal swipe gesture.

![image](https://user-images.githubusercontent.com/15199031/105031007-f2ab5700-5a54-11eb-880f-12c967bf232e.png)

This raises the question; How do you want to differentiate between the **horizontal swipe gesture**, and a

[2021-01-19 12:05] mrousavy commented on #1188
If anyone has a better solution or workaround to this problem, let me know 💡

[2021-01-19 14:08] Masoud-kamali opened #1189 "offline services in mapbox react native"
Hi guys, Is this library can do some offline services for routing or navigation in react native or not?
Please Help me, Thanks

[2021-01-19 14:51] mrousavy commented on #1188
I'm working on `minDistFromEdge` here: https://github.com/software-mansion/react-native-gesture-handler/pull/1310

[2021-01-19 14:56] #1189 closed

[2021-01-19 15:49] #1158 closed

[2021-01-19 18:38] natew commented on #1111
I believe I'm running into this too, on web I can load a custom vector source just fine, but I've tried a number of combinations now with this library and so far haven't been able to get anything to load/show.

[2021-01-19 20:50] luskin commented on #1097
There is a conflicting issue with the latest AppCenter packages though as they require `1.10.X` to archive. Anybody got this to work with any of the AppCenter packages on `4.0.X`?

[2021-01-20 10:53] Alaa-Ben commented on #1167
@ferdicus Thanks for you answer, it works. Is the crash expected ? in that case, I think the docs should specify that "renderMode: native" requires followUserLocatrion. If not expected, well a fix would be huge !
thanks anyways !

[2021-01-20 12:13] ferdicus commented on #1167
Glad it helped,
I guess it makes sense, that it should follow the Location, as the user specified, that she wants a specific version of a UserLocation... however, I do think this could be handled better - especially the message.

[2021-01-20 18:09] usman22-afaq commented on #807
can you find the solution?

[2021-01-21 05:30] developius commented on #1112
Hey @ferdicus, did you get anywhere with this?

[2021-01-21 16:46] mccooll commented on #564
You can specify the map style url using a custom string, for example "mapbox://styles/mapbox/light-v10"

[2021-01-22 00:56] charm0900 commented on #1094
Hi I think I am running into this issue as well with ios. When the map view is rendered and put into the background about 30 seconds later test flight notifies me the app crashed (everything is set for release). I attempt to unmount the map when the AppState is changed but it still results in this background crash. Is unmounting the map view not enough? When referring to unmounting the location se

[2021-01-22 09:59] VladMatvei commented on #1069
@ferdicus from what I've seen in the code, Annotation is used internally to display the location of the user. The reason why it's not flickering is that you're passing custom children (in this case a CircleLayer) and SymbolLayer is never used

[2021-01-22 12:50] jordan-tpz commented on #1069
@VladMatvei Did you find a workaround for this issue by using SymbolLayer ?

[2021-01-22 13:23] ferdicus commented on #1069
@VladMatvei, when I said `we in our project`, I meant in a personal project:

[code]

Something like this

[2021-01-22 15:07] ferdicus commented on #1112
hey, sorry for getting back so late to you.

Can you do me a favor and try the `/example` app within our repo.
In there is a scene called: `Symbol/CircleLayer` => `Shape Source From Icon`
Source of that file: https://github.com/react-native-mapbox-gl/maps/blob/master/example/src/examples/ShapeSourceIcon.js

I tried it on simulator/ emulator and it works fine on current `master`:

ANDROID | iOS
-|-

[2021-01-22 15:10] ferdicus commented on #1112
I think you can dismiss this one for the issue at hand.
Seems to be related to an error loading tiles from your map server

[2021-01-22 15:58] ferdicus commented on #1070
For everyone having a crash when using `renderMode="native"`, make sure, your Camera component has `followUserLocation` set, like so:
[code]

Seems to be the magic sauce.

See discussion in #1167

[2021-01-22 21:07] ilin-in opened #1193 "It's not possible to set compassViewPosition to bottom left on Android"
**The problem:**
When `compassViewPosition` on `MapView` is set to `2`, compass located at right bottom corner

https://github.com/react-native-mapbox-gl/maps/blob/3e22d042ff64ecef3c55e0893a94d4a43c4d02a7/android/rctmgl/src/main/java/com/mapbox/rctmgl/components/mapview/RCTMGLMapView.java#L1091

**Expected behavior:**
Compass should be located at the left bottom corner

**Solution:**
Here I've mad

[2021-01-22 22:17] hugopretorius914 commented on #1097
Any news on this? I keep using 1.9.3 for this project and 1.10.1 for my other projects

[2021-01-24 08:47] ansarikhurshid786 opened #1198 "Layers configuration in json"
I have setup in sources and layer in json. configured like:
[code]

mystyle.json
[code]

I have added source and layers also but not working.

Any one have idea to setup layers setup in json.

[2021-01-24 12:57] VladMatvei commented on #1069
@ferdicus sorry for that. I have the same configuration and icon flickering still occurs.

As @janweigel mentioned, this issue is related to the native library we're using and will be fixed after updating to 9.3.0 for Android and 6.0.0 for iOS.

@jordan-tpz Unfortunately, I didn't. I will post here a workaround or hack if I'll manage to find one.

[2021-01-24 20:59] tomdaniel0x01 commented on #344
Bump.

I will attempt to write a test case if I get the time. No promises.

[2021-01-25 11:17] pradeep11 commented on #806
Facing same challenge with Android, did you get the fix?

[2021-01-26 01:42] nathanael-anstett commented on #469
Still getting this issue with 8.1.0 of @react-native-mapbox-gl/maps

[2021-01-26 07:40] rvdende commented on #1031
I get this error when building for the simulator as release instead of debug.

Solution is to go to Product > Scheme > Edit Scheme

Set Build Configuration to **Debug**
Tick **Debug Executable**

[2021-01-26 07:59] babeone commented on #1031
@rvdende is this the problem? https://github.com/react-native-mapbox-gl/maps/issues/1097
Downgrade pods to 1.9.3

[2021-01-26 10:13] ReactNativ opened #1199 "Task :react-native-mapbox-gl_maps:javaPreCompileDebug FAILED"
[code]

**Versions :**
 - Platform: [ Android]
 - Platform OS: [Android 11.0]
 - Device: [e.g. iPhone6]
 - Emulator/ Simulator: [yes]
 - Dev OS: [ OSX 11.1]
 - react-native-mapbox-gl Version [ 8.0.1]
 - React Native Version [ 0.63.4]

**Additional context**

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':react-native-mapbox-gl_maps:javaPreCompileDebug'.

[2021-01-26 14:43] tcorreiaubi opened #1200 "Animating a ShapeSource shape or PointAnnotation coordinate"
Hey, im trying to implement something that I'm not aware if it's possible, I have a pan gesture area on my app and from the movement gesture I can calculate the coordinates where the marker should be displayed, that calculated value is actually a animated.value which is an array with the latitude and longitude, I was wondering if I can apply an animated value as position? or if is there any altern

[2021-01-26 15:54] tcorreiaubi commented on #1200
Here is what im trying, at the moment the app is crashing with a **A/libc: Fatal signal 6 (SIGABRT), code -6 in tid 16905**

[code]

I remove all the component code which was not necessary for here I believe, also the coordinates on the animatedprops at the moment are being forced manually just for testing

[2021-01-27 09:05] developius commented on #1112
@ferdicus yeah, that appears to work on iOS 14.2 simulator.
I'll see if I can work out what I'm doing differently in my app.

<img src="https://user-images.githubusercontent.com/5836587/105968109-8501c980-60eb-11eb-8a09-02b7be7fc959.png" width="200"/>

[2021-01-27 13:04] tcorreiaubi commented on #1200
I was able to create a "animated" shape source, but the performance drops really low because of the state changes,
[code]

Hoping that someone with more knowledge than me on mapbox can find sometime to give some input, thank you for all the amazing work done on the package.

[2021-01-27 13:30] acecilia commented on #1097
Was somebody able to report this issue in the cocoapods repository? I cant find any related issues 😞

[2021-01-27 14:08] ayushreactiveworks opened #1201 "Not able to get proper map Snapshot with custom icon"
---------

🚨🚨🚨
* Please respect and fill out the issue template
* Before you report, please make sure you tested on a physical device
* For build issues: Can you reproduce it on a clean install of the example app? Please include full steps to reproduce from `react-native init`
* Please include standalone code sample - a single component with one MapView in it. Use [one of our example](https://gith

[2021-01-27 15:22] tcorreiaubi commented on #1200
I was able to get to something I would call acceptable in terms of performance,
[code]

Im closing the issue since I have a solution for the stated problem, if someone knows a better approach let me know.

[2021-01-27 15:22] #1200 closed

[2021-01-27 15:23] SethArchambault commented on #1079
I'd say this is a particularly important feature right now because in order for UserLocation renderMode to be native on android, Camera followUserLocation must be true, but if followUserLocation is true, setCamera can't be used!  Can we reopen?

[2021-01-27 15:32] systemlevel commented on #1079
Right, I believe that is the current status on setCamera. I'm wondering if we can get it consistent with how the iOS version works?

[2021-01-28 00:26] dmlitvinov commented on #530
The same behavior is observed on version 8.1.0 on iOS

[2021-01-28 04:09] developius commented on #1112
@ferdicus think I figured it out 🤓
My images were _massive_ (like 4500x3000px). Once I realised and scaled them down, everything started looking good again 😁

<img src="https://user-images.githubusercontent.com/5836587/106088764-681cd300-618b-11eb-8281-433fec74cd22.png" width="200"/>

This is a screenshot from v2 of [Sandfly Map](https://sandfly.app/) which I'm in the midst of rebuilding with this

[2021-01-28 04:09] #1112 closed

[2021-01-29 06:23] jaysquared commented on #874
I had some crashes like this in production on Android, but not on iOS. Turned out to be related to duplicate keys/ids. I fixed it by assigning unique ids to each annotation.

[code]

[2021-01-29 14:42] SanjanaTailor commented on #1097
after running `pod install` command getting this **error ruby download_file_async': undefined method `encode' for URI:Module (NoMethodError)** due to that pod install not successfull.

Tried this steps and after running commad `bundle exec pod install` getting this error **download_file_async': undefined method `encode' for URI:Module (NoMethodError)** under ruby folder, please help Thanks

[2021-01-29 14:50] ferdicus commented on #1112
Cool, glad I could help - looks like a great product.
Let us know if you find any other issues and contribution are always welcome :)

[2021-01-29 15:54] ferdicus commented on #1079
I'll reopen this - and yes, would be great if someone could take a jab at this.
I could try, however I can't make any promises to when it would be done

[2021-01-29 17:01] #1201 closed

[2021-01-29 17:02] #1199 closed

[2021-01-29 17:09] ferdicus commented on #1193
PR merged - thanks 🙇🏿

[2021-01-29 17:09] #1193 closed

[2021-01-29 17:14] ferdicus commented on #1183
PR is merged - closing

[2021-01-29 17:14] #1183 closed

[2021-01-29 17:23] ferdicus commented on #1166
Seems to work fine in the `/example` project (on Simulator):

https://user-images.githubusercontent.com/26439946/106306904-f746eb00-625e-11eb-850d-8153e79b7da2.mov

Can you try it there as well please - thanks

[2021-01-29 21:37] acaraty commented on #1097
Using COCOAPODS: 1.10.1 and @react-native-mapbox-gl/maps": "8.1.0"

I had the exact same problem (archive succeed but actually malformed) Just open the xcarchive and you'll see there are missing parts (the plist for example).

The trick for me was to remove the copy dsym build phase of the @react-native-mapbox-gl-mapbox-static pod

This phase was causing build failure with some config and malforme

[2021-01-29 21:56] acecilia commented on #1097
This is probably the issue, or related: https://github.com/CocoaPods/CocoaPods/issues/10385

[2021-01-29 22:13] acaraty commented on #1097
thanks @acecilia it really looks like the same problems, I'll give a try to your workaround

[2021-01-30 11:32] VladMatvei commented on #1069
@janweigel

After trying several ways to temporary fix this bug, I came up to the conclusion that the best option is to locally update Mapbox SDK to the latest version for both platforms (Android and iOS).

I'm not sure about consequences, but this solution works perfectly for me. If you decide to make this change in your app, then I recommend to run heavy smoke tests on the Mapbox component (just

[2021-01-30 20:31] natew commented on #1042
Bump

[2021-01-31 10:32] zifahm commented on #807
Any Idea guys?

[2021-01-31 10:56] andria01 opened #1205 "Trouble trying to create a Tileset Source."
Hi, everyone !

I am trying to use the mapbox api to [create source tilesets](https://docs.mapbox.com/api/maps/mapbox-tiling-service/#create-a-tileset-source). But it returns me an error, and I don't know why.

To do this I use react-native-fs which allows me to create a local geojson file and retrieve its path. Path that I come to use in the API call.

Here is the code :

### Create a Tileset Sou

[2021-01-31 11:04] ferdicus commented on #807
There are literally hundreds of devs who are using this lib and are not reporting this issue.
Please follow the instructions in the issue template and open a new ticket if you still encounter this problem.

We can not help you with this little information on the issue.

[2021-01-31 11:09] #1205 closed

[2021-01-31 11:10] ferdicus commented on #1205
I fail to see the problem with our lib in your code.
Please use stackoverflow or the gitter channel for similar questions in the future.

Thanks

[2021-01-31 12:33] JRafiei opened #1206 "Please add the usage of component methods to the docs"
Sorry If it is a simple question but I couldn't find a way to use component methods in my app. For example MapView component has a getZoom method, but it is unclear how to use that method in another component like App component.

[2021-01-31 14:14] #1206 closed

[2021-01-31 14:18] ferdicus commented on #1206
You utilize `ref`  and get a handle of that component instance.
On this `ref` you can call the methods.

Check out the [`ShowPointAnnotation`](https://github.com/react-native-mapbox-gl/maps/blob/master/example/src/examples/Annotations/ShowPointAnnotation.js) example

[2021-01-31 18:46] zifahm commented on #807
Sorry about that, I should Have said something when things started working,

I installed wix react native navigation first then Installed mapbox gl and then things didnt work properly, by inversing the order of installs, things seem to work like a charm.

If your installing it after instlaling react native navigtion by wix then it would be better of starting a project using expo's create react nat

[2021-01-31 18:56] alex83130 commented on #1206
I had the same question, thanks @ferdicus !
Agree with @JRafiei it would be great if these informations could be specified directly within the documention

[2021-01-31 19:23] ferdicus commented on #1206
this isn't specific for this lib though - that's a react(-native) thing

[2021-02-01 04:38] SanjanaTailor commented on #1097
no not able to see facing same issue posted over here

[2021-02-01 07:06] JRafiei commented on #1206
thanks a lot @ferdicus, that solved my problem.
You are right, this is a react feature. But I think it is a little confusing when someone see the below code for the first time:
const pointInView = await this._map.getPointInView([-37.817070, 144.949901]);
It is unclear where does this._map come from, especially when you are working with a functional component.

[2021-02-01 09:16] ferdicus commented on #1206
@JRafiei, feel free to augment the [Getting Started docs](https://github.com/react-native-mapbox-gl/maps/blob/master/docs/GettingStarted.md). PRs always welcome.

[2021-02-01 09:58] andrei-tofan opened #1208 "Updating MapboxGL.ShapeSource clusterMaxZoomLevel not working"
**Describe the bug**
Setting clusterMaxZoomLevel initially works, but if it needs to be updated after  ShapeSource was added to the map, setting clusterMaxZoomLevel is not having any effect on the map layer.

**To Reproduce**
1. Create a ShapeSource with an initial clusterMaxZoomLevel stored in the state.
2. Use a setTimeout to change the clusterMaxZoomLevel in the state, this triggers a render wi

[2021-02-01 14:01] SanjanaTailor commented on #1097
@acaraty - can you explain from where it is resolved - The trick for me was to remove the copy dsym build phase of the @react-native-mapbox-gl-mapbox-static pod ?

[2021-02-01 14:06] AmalMenachery commented on #1097
@SanjanaTailor Fixed the issue in starter project with @react-native-mapbox-gl/maps. Below are configuration and versions used:

- @react-native-mapbox-gl/maps - 8.1.0
- Ruby - 2.7.1
- cocoapods - 1.9.3
- Xcode 12.2

[2021-02-01 14:09] acaraty commented on #1097
@SanjanaTailor

Removing the build phase fixed the malformed archive problem (in my case).

I'm not having errors when doing 'pod install' but I'm using an older ruby version (2.6), you might try to downgrade your ruby.

[2021-02-01 14:34] SanjanaTailor commented on #1097
@acaraty - yes tried to downgrade Ruby version from 3.3.0 to 2.7.1 and without any error IPA generated.

[2021-02-01 14:36] SanjanaTailor commented on #1097
Thank you @AmalMenachery Ruby version downgraded from 3.3.0 to 2.7.1 which resolved an issue of running this command below `bundle exec pod install` and after that IPA generated successfully

[2021-02-01 14:38] SanjanaTailor commented on #1097
@AmalMenachery's answer refer it or @acaraty answer helped to resolved an issue. Now archiving worked succesfully.

[2021-02-02 16:26] #1049 closed

[2021-02-02 19:44] ryderdonahue commented on #1097
This was really helpful unblocking me yesterday!

What is the longer term solution though? I imagine we can't just kick down our ruby/cocoapods version forever.

[2021-02-02 20:13] luskin commented on #1068
@jaltin would you mind providing the community with some more details on how you got this working? We have added `$ReactNativeMapboxGLIOSVersion = '~> 6.3'` before `use_native_modules!` and have tried installing with repo update but cannot seem to get CocoaPods to adhere to the new version.

[2021-02-02 20:15] acecilia commented on #1097
@ryderdonahue Please try to read the full issue before asking. Its a bug in cocoapods: https://github.com/react-native-mapbox-gl/maps/issues/1097#issuecomment-770071623

[2021-02-02 20:56] ryderdonahue commented on #1097
My bad, I should have been clearer. I had seen the reference to the linked cocoapods issues, but my unfamiliarity with the underlying tech caused me to miss the connection between the actual problem vs a related one.

Thanks for filing the issues on cocoapods @acecilia!

[2021-02-03 13:13] JRafiei commented on #1206
@ferdicus, I would be glad to do it, but first I need to learn about creating and submiting pull requests.

[2021-02-03 15:15] VladMatvei commented on #1008
@ferdicus
I have debugged the code on iOS and found out that the if-statement (line 493) returns not only when user stops the animation, therefore, it's not safe to completely comment out the line (this caused some issues on my side).

I have slightly modified the if-statement and now it works perfectly:

`
if (((reason & MGLCameraChangeReasonTransitionCancelled) == MGLCameraChangeReasonTransition

[2021-02-04 10:24] BenjaminWatts commented on #1097
Thanks for various contributions above. Not being a Swift/Ruby expert, I did struggle to follow your example repo @acecilia and integrate into my React Native project.

Downgrading to v1.9.3 cocoapods fixed this issue for me, despite keeping **@react-native-mapbox-gl/maps** at v8.1.0.

Having had Cocoapods installed via Homebrew, I found it initially quite difficult to downgrade it (sudo errors),

[2021-02-04 10:45] RobertSasak commented on #1097
@BenjaminWatts You can use _app-center-post-clone.sh_ to enforce correct cocoapod version. Create a new file in the root of your project directory. Check the pod version in _Podfile.lock_ as this is the one which will be used. It works and I did notice any special extra time on build. Be aware that AppCenter does not recognize _app-center-post-clone.sh_ unless you save new build settings.

This an

[2021-02-04 11:00] BenjaminWatts commented on #1097
Cheers @RobertSasak . That looks super helpful - I will give it a go. Wasn't aware of the `--all --executables` options - suspect anyone trying to clean up local env (using my steps above) might find those helpful. PS - like norgeskart!

[2021-02-04 11:25] acecilia commented on #1097
Just a tip, the standard solution for installing cocoapods in a specific version (and the easier one) is to use a `Gemfile` and using it as explained here: https://github.com/react-native-mapbox-gl/maps/issues/1097#issuecomment-754757611

Installing cocoapods globally in a specific version is more complex and hacky :)

[2021-02-05 11:24] jaltin commented on #1068
@luskin I don't really know what could be going wrong for you. Did you set up .netrc on your machine too?

[2021-02-07 08:18] ansarikhurshid786 commented on #1031
@babeone  yeh #1097 issue. i am facing same issue for archive

[2021-02-07 09:42] ansarikhurshid786 commented on #1097
I have also downgrade. it's work fine thanks

[2021-02-07 10:03] yardenhod opened #1210 "Add support for transformRequest"
transformRequest would be very helpful for passing request params, using credentials,...
It will be nice if this option will be available like in the original mapbox package for react:

[code]

please consider to add this feature :)

[2021-02-08 17:42] mrousavy commented on #1097
Since React Native 0.64 (upcoming release) is not compatible with CocoaPods 1.9.3 anymore (because of Hermes afaik), simply downgrading to 1.9.3 is not, and never was a solution.

Has anyone found any information on what might be causing this?

[2021-02-08 19:01] AmalMenachery commented on #1097
@mrousavy Expo 40 is not compatible with Cocapods 1.9.3. Downgrading to 1.9.3 was a quick patch.

This bug needs to be addressed for sure

[2021-02-09 00:21] zholmes1 opened #1211 "iOS crash when adding a HeatmapLayer"
**Describe the bug**
This library appears to crash on iOS any time there is a HeatmapLayer in a map.

**To Reproduce**
Add any `HeatmapLayer` to a map and `react-native run-ios`. The app will crash

I have created a minimal repository that causes the crash on iOS. https://github.com/zholmes1/MapboxHeatmapExample

Crash report:
https://raw.githubusercontent.com/zholmes1/MapboxHeatmapExample/master/

[2021-02-09 05:12] ferdicus commented on #1211
Hey @zholmes1, thanks for the great bug report.
I could've a look at this on Friday - in the meantime:
* what SDK version are you using right now?
* if you are on `5.8.0` which should be the default pack-in, did you try a newer one?

Cheers 🍻

[2021-02-09 05:32] zholmes1 commented on #1211
@ferdicus Thanks for the quick reply! If there's anything else I can do to help don't hesitate to ask. I really love this library and want to see it in all its glory 😄

I'm on 5.9.0

[code]

FYI I do have a fallback in place for iOS using `RasterSource and RasterLayer`. Luckily my data source (GBIF) provides both .mvt and .png raster

[2021-02-09 09:41] andrei-tofan opened #1213 "[Android] User location heading is not correct"
**Background**
On Android, the heading property reported by `UserLocation.onUpdate` is not correct because it is not the direction in which the phone is pointing (as it is implemented on iOS), but it is in fact the user course (the direction in which the device/user is travelling).

This happens because on android the `Location.getBearing()` is called instead of `LocationComponent.getCompassEngine

[2021-02-09 09:56] jaltin opened #1214 "Heading indicator does not work when map is not facing north"
The blue ‘cone’ that indicates the user’s heading on the map has a bug.

When the map is ‘north-oriented’ (map direction is 0 degrees), then the heading indicator works as expected.

When the map direction is not ‘north-oriented’ (e.g. when having map follow mode course or compass), then the blue ‘cone’ is not pointing in the same direction as the device.

This is a styling bug and we have created

[2021-02-09 10:14] mzu commented on #1214
I think this touches on [issue #1023](https://github.com/react-native-mapbox-gl/maps/issues/1023)

[2021-02-09 10:44] jaltin commented on #1214
@mzu yes, and I think that our PR fixes the issue, right?

[2021-02-09 10:46] jaltin commented on #1023
We have made a PR to fix this: https://github.com/react-native-mapbox-gl/maps/pull/1215

[2021-02-09 12:27] ferdicus commented on #1211
Cool, thanks - that's enough info to debug this issue for sure.
Can you just do me a solid, and verify if this is still happening in the newer version of the SDK please.

`6.3.0` should be fine I think

[2021-02-09 16:50] zholmes1 commented on #1211
@ferdicus

So I updated my iOS SDK to 6.3.0 following this guide: https://github.com/react-native-mapbox-gl/maps/blob/master/ios/install.md

And it seems like this may have solved my issue! I am able to reliably load the heatmap on iOS. Opened and closed the example app 10 times now and no crashes. Unfortunately I'm only working on a simulator right now, so I can't confirm that there are no perfor

[2021-02-09 16:58] ferdicus commented on #1211
Cool 👍🏿

Unfortunately I'm unfamiliar with this warning... looks like some font is missing?

Best to check on the ios sdk repo probably for that.

[2021-02-09 17:17] zholmes1 commented on #1211
Okay great! Thanks for the quick resolution to this. I'll leave it up to you whether this issue should be closed or not. It will take care of itself whenever this repo updates to the 6.3 iOS SDK.

[2021-02-09 18:17] Moonubanna commented on #807
Hello,
I'm facing same problem. anyone suggest what I do.

Thanks

[2021-02-10 00:30] zholmes1 commented on #1097
Same issue here. I was not able to get a successful archive with Cocoapods 1.10. I had to downgrade to 1.9.3 to get a working archive.

[2021-02-10 00:32] acecilia commented on #1097
You can try the workarounds explained in the linked cocoapods issues I posted in https://github.com/react-native-mapbox-gl/maps/issues/1097#issuecomment-770071623 if you want to use cocoapods 1.10

[2021-02-10 05:21] ferdicus commented on #807
On which version of RN are y'all?
The installation guide only applies to version 0.6x and higher.
If you have a version below that, you need to follow the manual installation steps.

[2021-02-10 07:03] luciman commented on #1123
Hi I have the same problem. Is there any solution, or workaround for this? Thanks

[2021-02-10 07:48] systemlevel commented on #1123
We're also having an issue with .unsubscribe() in Android along with the .pause().  Not sure if they broke at the same time or if it's related somehow to a recent update.

[2021-02-10 14:10] borshevsky commented on #807
Have same issue on RN 0.63

[2021-02-11 16:15] andrei-tofan commented on #536
Hi @ferdicus, this is a sample code reproducing the issue: https://github.com/lineinspector/mapbox-performance-issues.
We found out that listening for location updates while the app is in the background creates the issue.
Let me know if I can help somehow.

[2021-02-12 13:35] ferdicus commented on #1213
To add to this with another post, that also takes bearing into account, for the sake of completeness: https://aviation.stackexchange.com/a/8947

[2021-02-12 13:37] #1213 closed

[2021-02-12 13:37] ferdicus commented on #1214
resolved via #1215

[2021-02-12 13:37] #1214 closed

[2021-02-12 13:38] ferdicus commented on #1023
resolved via #1215

[2021-02-12 13:38] #1023 closed

[2021-02-12 21:33] BenjaminWatts commented on #1123
Thanks for these observations -- super helpful. Looks like in general it is a bit more reliable on iOS?

Just wondering if anyone has any recommendations / best practices on managing what to do with multiple downloads, and how to handle App State changes during a download?

I had been thinking of registering a listener to hit pause on downloads, and keep the app state (specifically, which packs ha

[2021-02-13 12:14] #1121 closed

[2021-02-13 13:46] NathanJozef commented on #1114
This is still an issue

[2021-02-15 14:18] tr3v3r commented on #539
As a workaround, it's possible to reduce press feedback time using panResponder and  `queryRenderedFeaturesAtPoint` method. Works much more faster

[code]

Hope this helps ;)

[2021-02-15 19:59] tryrone opened #1220 "android location beacon is not fading when glowing"
---------

🚨🚨🚨
* Please respect and fill out the issue template
* Before you report, please make sure you tested on a physical device
* For build issues: Can you reproduce it on a clean install of the example app? Please include full steps to reproduce from `react-native init`
* Please include a standalone code sample - a single component with one MapView in it. Use [one of our example](https://gi

[2021-02-15 21:00] cbrevik opened #1221 "Support new Mapbox iOS SDK v10"
Ref. https://github.com/mapbox/mapbox-gl-native-ios/commit/ddf8e35970d1a8a46171bd798bcfa8f22d2760e0 - it seems like Mapbox is soft-deprecating the old SDK, and moving their development efforts to a new repository: https://github.com/mapbox/mapbox-maps-ios

I've no idea how much work it would be to migrate to this new version. And it's early days still since it's in beta. But there might be reason

[2021-02-15 23:10] systemlevel commented on #1221
Check out our discussion about this here https://github.com/react-native-mapbox-gl/maps/discussions/1202

[2021-02-15 23:27] therealrooster commented on #560
Hi @mrpmohiburrahman can you provide an example of how you got this to work?  I'm having trouble...

[2021-02-16 04:00] #1220 closed

[2021-02-16 05:15] cbrevik commented on #1221
Ah sorry for the duplicate! Thanks for the heads up.

[2021-02-16 05:15] #1221 closed

[2021-02-16 07:45] #998 closed

[2021-02-16 07:45] #1064 closed

[2021-02-17 01:31] anlai2 commented on #895
Shouldn't be closed. Still an issue.

[2021-02-17 21:45] tryrone opened #1223 "Android Live walk in progress - current location beacon opcaty not faint"
the location pulse is not fading properly on android as it is on IOS even after giving it the following parameters

         .pulseColor(Color.parseColor("#E6E6FA"))
          .pulseEnabled(true)
          .pulseMaxRadius(50f)
          .pulseFadeEnabled(true)

LocationComponentOptions locationComponentOptions = LocationComponentOptions.builder(getContext())
.foregroundDrawable(R.drawable.icon_loc

[2021-02-18 03:45] ebarahona commented on #1097
Spent a good two days on this issue after an accidental computer restart triggered an Xcode update...I have tried everything, thank you!!!

[2021-02-18 10:21] yudiz-vipul opened #1224 "iOS Archive build success, but not able to export"
I have used the following versions react native and map box version:
[code]

For the cocoa pod, I have used the latest cocoa pod version 1.10.1 and it is must be required for react native firebase library.
![Screenshot 2021-02-18 at 3 48 48 PM](https://user-images.githubusercontent.com/45070224/108342584-f7545e00-7200-11eb-8e81-76fafe8139e6.png)

While I am tried to making build and export at that

[2021-02-18 17:02] muxton21 commented on #1224
I have been having this issue for the past 4 days and have been unable to resolve. See this [link](https://github.com/react-native-mapbox-gl/maps/issues/1097) to see if it is any help. I cannot downgrade my cocoa pods version as other pods require a more up to date version than 1.9.3 and have tried downgrading Mapbox to '8.1.0-rc.4' as suggested there with no luck. This is a very frustrating issue

[2021-02-18 18:29] muxton21 commented on #1224
As a follow up to my previous comment, I tried creating a brand new react-native project without Mapbox and the release is created successfully. I then added Mapbox '8.0.0' (thinking a lower version may work) via yarn and .xarchive produces message 'The archive may be corrupt or unreadable.' Cocoapods version '1.10.1'

[2021-02-18 20:03] muxton21 commented on #1224
In the end, I managed to solve this by downgrading Cocoapods to version '1.9.3'

[2021-02-18 21:29] janicduplessis commented on #1097
I was able to workaround this issue by forcing cocapods to use frameworks but only for the MapboxMobileEvents pod. This way I can still use static linking for other pods while fixing this and using cocoapods@1.10.1.

In my app Podfile:

[code]

Then update pods without the static linking fix:

[code]

[2021-02-19 09:05] cbrevik commented on #1097
Awesome! That did the trick for me @janicduplessis. Thanks so much, this has been a thorn in my side.

Added the env-variable in our Podfile too: https://github.com/AtB-AS/mittatb-app/pull/935/files#diff-281ded35b124f5160d0a57e47e521ee6f49f233933e091a0d33f3fd42a74abc8R6 (so my team doesn't have to remember to set it locally / on CI).

Another issue I faced after was that `pod update` also broke ou

[2021-02-19 12:02] ferdicus commented on #1008
thanks @cbrevik, @VladMatvei for looking into this.
@cbrevik, can you verify, that @VladMatvei solution works for you?

Then I'd be grateful if either one could open a PR fixing the issue at hand and we could merge this :)

Thanks in advance

[2021-02-19 12:49] #1210 closed

[2021-02-19 12:55] #1223 closed

[2021-02-19 12:58] ferdicus commented on #1169
resolved via https://github.com/react-native-mapbox-gl/maps/commit/da56973c0f1c477a6354fe7ae3346fc755fb3c42

[2021-02-19 12:58] #1169 closed

[2021-02-19 12:58] cbrevik commented on #1008
Yeah that fixed it for me as well. Thanks for researching further @VladMatvei!

By narrowing it down to checking if it's a user pan-interaction (`MGLCameraChangeReasonGesturePan`) will avoid any issues with programmatic camera interaction. So that's a good idea!

I've taken the liberty to open a PR at #1226

[2021-02-19 13:36] ferdicus commented on #1188
closing as resolved

[2021-02-19 13:36] #1188 closed

[2021-02-19 14:49] ferdicus commented on #1079
as a workaround for not being able to use `setCamera` atm, did you see, that you could simply use there three, they would work for exactly the settings you'd like to edit @nasmuris :

Prop | Type | Default | Required | Description
-- | -- | -- | -- | --
`followZoomLevel` | number | none | false | The zoomLevel on map while followUserLocation is set to true
`followPitch` | number | none | false | T

[2021-02-19 17:27] ferdicus commented on #1208
I've looked into this way longer than I've liked to...
What I could gather is, that updating the `clusterMaxZoomLevel` does in fact call this here:
https://github.com/react-native-mapbox-gl/maps/blob/c048645fd770a393665d5535091a4fdd4d69b6bf/android/rctmgl/src/main/java/com/mapbox/rctmgl/components/styles/sources/RCTMGLShapeSource.java#L108-L110

Unfortunately this doesn't seem to update the underl

[2021-02-19 17:35] luskin commented on #1068
@jaltin Turned out to be the lockfile which was restricting it. If anybody else is having problems upgrading to `6.3.0` remove any instances of `MapBox` in your Podfile.lock and run `pod install --repo-update`

[2021-02-20 08:48] RobertSasak commented on #1068
So far I can confirm that updating Mapbox to 6.2.1 did the trick. I have never experienced the crash myself but the crash has disapear from Crashlytics after updating to 6.2.1.

I use following script to add mapbox downloading crendentials to _.netrc_.
**appcenter-post-clone.sh**
[code]

So far I only updated to 6.2.1 as another bug in pod do not produce properly aligned archives for version 6.3.0

[2021-02-20 10:28] prox2 opened #1227 "zoomLevel not working"
When map loading and opned doesn't zoom even though have set zoom level

[code]

[2021-02-20 14:09] SSead commented on #1227
Try to add the zoomLevel in the defaultSettings property for the camera

[code]

[2021-02-20 23:41] Degn commented on #1211
I'm experiencing the same issue with the same verisons and code as @zholmes1.

However, if I add a few lines of code in the Render-function before the return of the map, it runs as expected. Maybe there is some async-issues somewhere in the SDK?

I hope this helps the investigation 🤓

The exact piece of code that does the difference for me is this:

[code]

[2021-02-21 04:04] prox2 commented on #1227
still same problem

[2021-02-21 07:42] mustafaskyer opened #1230 "Too much time to install pods Mapbox-iOS-SDK (5.9.0)"
**Describe the bug**
installing pods stuck on `Installing Mapbox-iOS-SDK (5.9.0)`, take too long time and it's not done yet
Testing network speed, no issues with my connection

**To Reproduce**
Steps to reproduce the behavior.
run `npx pod-install ios` stuck

Please include a single standalone React Native component.
`No Issues in code`

**Expected behavior**
Success pods install as usual

**Actua

[2021-02-21 07:56] mustafaskyer commented on #1230
Updated
[code]

[2021-02-21 09:58] ferdicus commented on #1227
check `followZoomLevel` in the `Camera` docs

[2021-02-21 09:58] #1227 closed

[2021-02-21 12:23] prox2 commented on #1227
I am still facing the same problem i have checked  the camera doc

[2021-02-21 12:39] ferdicus commented on #1230
Hey there, please do search the issues before opening a new one:
https://github.com/react-native-mapbox-gl/maps/issues/837
https://github.com/react-native-mapbox-gl/maps/issues/750

It's downloading the iOS SDK from mapbox - nothing we can do.

[2021-02-21 12:39] #1230 closed

[2021-02-21 12:41] ferdicus commented on #1227
then please edit the issue description and use the [bug_template](https://github.com/react-native-mapbox-gl/maps/blob/master/.github/ISSUE_TEMPLATE/bug_report.md) precisely in order for us to help you.

Test the issue within the example application in `/example` before you submit

[2021-02-21 13:47] olofho opened #1231 "MapboxGL.setTelemetryEnabled(boolean) crashes on android"
**Describe the bug**
Calling `MapboxGL.setTelemetryEnabled(boolean)` crashes on android.

**To Reproduce**
Call `MapboxGL.setTelemetryEnabled(boolean)` in `componentDidMount()`

Example:
[code]

**Expected behavior**
Telemetry to be set to false and map to function

**Actual behavior**
iOS works fine.
On Android app crashes with following exception:
[code]

**Screenshots**
<img width="311" alt="cr

[2021-02-21 20:30] range-of-motion commented on #539
I'd just like to note that I would also benefit from a solution to this 🙂

[2021-02-21 21:13] naomigrace commented on #693
Would love to see this implemented.

[2021-02-22 15:03] peterborgstedt commented on #943
I have the latest version but the Logger does not seem to be exported? I do not see a PR on this when searching the repo as well. Was this done?

[2021-02-22 16:09] ferdicus commented on #1008
@VladMatvei , you mentioned, that you were able to verify this on Android as well.
Do you still stand by that statement, because neither @cbrevik and myself were able to reproduce it on there.
I'm asking, because #1226 only accounts for an iOS fix.

Cheers 🍻

[2021-02-23 13:04] zaidmunir11s commented on #655
<MapboxGL.Camera

             zoomLevel={16}
             animationMode={'flyTo'}
             animationDuration={6000}

             followUserMode={'normal'}
             followUserLocation={this.state.follow}
  defaultSettings={{
    centerCoordinate: [0, 0],
    zoomLevel: 14
  }}

  centerCoordinate={this.state.markerCoords}
/>

onPress={()=>{
this.setState({follow:true})
this.setState({foll

[2021-02-23 15:39] willorbica commented on #386
If this was documented it would have saved having to dig

[2021-02-23 15:47] ferdicus commented on #386
it is kinda: https://github.com/react-native-mapbox-gl/maps#expo-support

[2021-02-23 21:03] benglass opened #1232 "Can modify of layers/styles of layers added through style.json"
## Problem Statement

We want to be able to dynamically modify the styles of a layer (for example change the opacity of the stroke) when the layer and its styles are being added automatically based on a style.json provided to `<MapView styleURL={...} />`

## Description

We have an application where we want users to be able to dynamically change the styling of features that are rendered through th

[2021-02-23 21:41] mattijsf commented on #1232
Have a look at https://github.com/react-native-mapbox-gl/maps/blob/master/example/src/examples/ShowAndHideLayer.js

[2021-02-23 21:41] #1232 closed

[2021-02-24 09:35] jaltin commented on #1213
@ferdicus,  we have now added an issue in the v.6 native Android about making the heading public.

Do you have any experience in reqeusting changes in the native layers? And if so, do you know if they tend to respond to these types of requests?

Thx!

[2021-02-24 10:14] Moji0098 opened #1233 "how can implement custom marker with text ?"
i want to implement this marker with text but didn't show text on map !
how can show text on map or implement a component instead of icon and text on map ?
[MARKER](https://ibb.co/P6g1XYc)

[code]

[2021-02-24 10:34] ferdicus commented on #1213
Hey @jaltin, no I do not have much experience with requesting upstream requests myself,
however gathering from the recent changes of the mapbox native sdks I wouldn't hold my breath.

especially now, when they're moving to v10

[2021-02-24 10:35] #1233 closed

[2021-02-24 10:41] jaltin commented on #1213
@ferdicus Yes that was my thinking/worry too. Thanks for your feedback!

[2021-02-24 15:05] benglass commented on #1232
@mattijsf Thanks for pointing me at that example, it helped me connect the dots that you can use the declarative `<MapboxGL.LineLayer>` API to change the opacity/styles of layers that are defined in the style.json

It sounds like perhaps there is no imperative alternative when using react native where we can do this in code without using the declarative/JSX API. Is that an accurate conclusion?

Th

[2021-02-24 15:54] mattijsf commented on #1232
Yes apart from some exceptions this is correct

[2021-02-24 19:02] AustinHunt commented on #764
Please re-open this issue. Android does not support symbol layer children?

[2021-02-25 02:57] chuchuva commented on #1167
I can reproduce the crash on Android too. It looks very strange to me - if I want native render mode for UserLocation component I need to set `followUserLocation` to true on the Camera component. Why?

[2021-02-25 04:55] prox2 opened #1235 "use userLocation with react native hooks"
I am using `MapBox `library with function component instead of class component as in examples  and when I use  `<MapboxGL.UserLocation` there is a method called  `onUpdate={() => onUserLocationUpdate()}` and `onUserLocationUpdate()` refer to :
[code]
 so when `onUserLocationUpdate ` called I am getting this error:
[code]

[2021-02-25 05:35] #1235 closed

[2021-02-25 06:02] prox2 opened #1236 "TypeError: undefined is not an object (evaluating 'location.coords') with react native function components"
**Describe the bug**
`OnUpdate` prop in `<MapboxGL.UserLocation` doesn't pass any `coords` when user location updated using react native function components as with react native class components everything working fine

**To Reproduce**
on  `UserLocation` component  `onUpdate` prop pass function onUserLocationUpdate()

Example:
[code]

**Expected behavior**
the current `coords` should be updated a

[2021-02-25 06:04] prox2 commented on #1235
@ferdicus issue updated with template check it here  #1236

[2021-02-25 07:48] mzu commented on #1236
Try this instead:
[code]

[2021-02-25 08:05] prox2 commented on #1236
I tried this way and still getting same error, when i console.log(location) inside function `onUserLocationUpdate(location)` after it passed it give something like this:

`{"coords": {"accuracy": 46.196998596191406, "altitude": 46.768879368492335, "heading": 4.40336799621582, "latitude": 42.649301, "longitude": 12.484028, "speed": 0.9461610317230225}, "timestamp": 1614240076053}`
so if you want to

[2021-02-25 08:05] prox2 commented on #1236
I tried this way and still getting same error, when i console.log(location) inside function `onUserLocationUpdate(location)` after it passed it give something like this:

`{"coords": {"accuracy": 46.196998596191406, "altitude": 46.768879368492335, "heading": 4.40336799621582, "latitude": 42.649301, "longitude": 12.484028, "speed": 0.9461610317230225}, "timestamp": 1614240076053}`
so if you want to

[2021-02-25 08:30] mzu commented on #1236
[code]

is what you want. I don't see a problem with accessing `location.coords.latitude`. `location` should never be empty or `null`. As far as I know you will get the last known location. Maybe add a `null` check for `location.coords` at the top of `onUserLocationUpdate()` and log how often you run into this compared to actually `receiving` the coords?

[2021-02-25 09:17] ferdicus commented on #1236
@prox2, please see this PR #1203

prior to it, `onUpdate` would misfire without an actual location (probably the cause of your issue).

if you can't update to the commit of the PR or the current `master` then you should include some check in your `onUpdate` callback that verifies for `coords` on `location` before processing it

Closing

[2021-02-25 09:17] #1236 closed

[2021-02-25 09:18] ferdicus commented on #1235
thank you - much obliged, I've replied on the other issue

[2021-02-25 10:59] iromjkee opened #1237 "UserLocation not showing on the screen"
**Describe the bug**
User Location blue dot not showing on the screen.

**To Reproduce**
[code]
**Expected behavior**
Show default blue dot accordingly to User Location

**Actual behavior**
Don`t see user location, even zooming not working, just see default map.

**Screenshots**
![image](https://user-images.githubusercontent.com/25479692/109143740-6ab21e80-7771-11eb-9af9-4ceae05228b2.png)

**Versi

[2021-02-25 19:04] schiller-manuel commented on #1237
You need to start the location manager, see this example:

https://github.com/react-native-mapbox-gl/maps/blob/963a77b7ce716d1f5b8b64fd5a45c0fcf90aac61/example/src/examples/Map/ShowMap.tsx#L21-L27

[2021-02-26 09:14] jaltin commented on #1070
Hi all,

I believe that the heading indicator behaving incorrectly in Android is due to the fact that the heading value is incorrectly reporting the course value.

You can see a deeper explanation for this in an issue we created a few weeks back: https://github.com/react-native-mapbox-gl/maps/issues/1213

In short, to fix the incorrect heading a change is needed in the native mapbox Android projec

[2021-02-26 09:16] jaltin commented on #1213
This comment is for anyone stumbling on this issue and want it to be fixed.

In short, to fix the incorrect heading a change is needed in the native mapbox Android project. We have created an issue about this in the native android project (https://github.com/mapbox/mapbox-gl-native-android/issues/652).

It would be great if any of you peeps wanting this to be fixed also comment and/or add positive

[2021-02-26 12:08] iromjkee opened #1242 "Build fail because of MapBox iOS SDK"
**Describe the bug**
React native iOS build fail because of MapBox iOS SDK

**To Reproduce**
Install latest version of  @react-native-mapbox-gl/maps (currently 8.1.0)

**Expected behavior**
MapBox package working

**Actual behavior**
Build fails

**Screenshots**
![image](https://user-images.githubusercontent.com/25479692/109298194-42472480-7844-11eb-9c36-116f971935cc.png)

**Versions (please compl

[2021-02-26 16:43] anicol-weatherbug commented on #1097
While this did fix our issue running the app locally using XCode, we find that during Archiving for the App Store that the MapboxMobileEvents.framework is missing from the .app folder. So the archive is created successfully, but crashes with a runtime error, since it cannot load the framework.

Is anyone else still facing this issue?

[2021-02-26 16:49] naftalibeder commented on #1097
@anicol-weatherbug

In your app target > `Build Phases` tab > `[CP] Embed Pods Frameworks` step, do you have `${BUILT_PRODUCTS_DIR}/MapboxMobileEvents/MapboxMobileEvents.framework` in your `Input Files` list?

[2021-02-26 17:45] AKACC commented on #807
I encounter this problem differently on IOS and Android, please make sure you are able to find the followings in your project:
env:
      "react-native": "^0.60.5",
      "@react-native-mapbox-gl/maps": "^8.1.0",

IOS & Android:
make sure you called `MapboxGL.setAccessToken(yourAccessToken)`

Autolink never works for me on Android, so I have to do manually:
1. in `android/settings.gradle`, add thi

[2021-02-26 17:54] AKACC commented on #923
My comment on another issue for the similar problem: https://github.com/react-native-mapbox-gl/maps/issues/807#issuecomment-786795180

[2021-02-27 20:01] Farhadsaadatpei opened #1244 "(iOS) TypeError: null is not an object (evaluating 'MapboxGL.StyleURL')"
I'm using Expo, and I keep getting the following error when including MapBox GL in the view.

TypeError: null is not an object (evaluating 'MapboxGL.StyleURL')

<img width="428" alt="Screen Shot 2021-02-27 at 3 01 56 PM" src="https://user-images.githubusercontent.com/10551124/109398794-fad89b00-790c-11eb-92cb-d88307ecfbb9.png">

[2021-02-27 23:08] Farhadsaadatpei commented on #560
You guys can just use
`<MapboxGL.Camera followUserLocation={true} />`

[2021-02-28 13:13] VladMatvei commented on #1008
@cbrevik thanks and I'm glad this works for you

@ferdicus Yes, I was able to reproduce this bug on Android, but I can't give you the concrete steps yet (on Android it's more difficult to reproduce). I will investigate further and then will open a new issue with all the necessary information. In the meantime I think we can close this issue and merge #1226

[2021-02-28 13:38] #1244 closed

[2021-02-28 13:39] ferdicus commented on #1244
@Farhadsaadatpei , we do not support Expo.

[2021-02-28 13:42] ferdicus commented on #1242
Can you please retry this in the `/example` project?

Thanks

[2021-02-28 13:44] Farhadsaadatpei commented on #1244
@ferdicus Thank you. I roll back to react-native, and it is working. I had to eject the project. 🙏😊

[2021-02-28 17:39] #1198 closed

[2021-02-28 22:23] muxton21 commented on #1242
In the end, I managed to solve this by downgrading Cocoapods to version '1.9.3'

[2021-03-01 09:26] tr3v3r commented on #895
The same here.

[2021-03-01 14:20] anicol-weatherbug commented on #1097
@naftalibeder
I do not see the inclusion of `MapboxMobileEvents.framework` in the `Embed Pods Frameworks` build step.

Podfile includes:
ENV['REACT_NATIVE_MAPBOX_GL_USE_FRAMEWORKS'] = '1'
$ReactNativeMapboxGLIOSVersion = '~> 6.3.3'

[2021-03-01 18:44] janicduplessis commented on #1097
@anicol-weatherbug If you go in xcode in the Pods project do you see MapboxMobileEvents as a framework? It will have this icon instead.

![image](https://user-images.githubusercontent.com/2677334/109543412-33ef4780-7a94-11eb-85ce-c17075b7f69e.png)

[2021-03-02 10:02] mzu commented on #869
This is still happening as per original issue description. Tested with

- Simulator and Android 10
- @react-native-mapbox-gl/maps": "8.1.0"

`renderMode="native"` on `MapboxGL.UserLocation`

[2021-03-02 13:54] mfazekas commented on #1224
Duplicate of #1097

[2021-03-02 13:54] #1224 closed

[2021-03-02 22:26] lfaz opened #1261 "App crashes after upagrading mapbox 8.0 to 8.1"
x

[2021-03-03 07:57] #1261 closed

[2021-03-03 15:03] anicol-weatherbug commented on #1097
@janicduplessis For some reason it is still building as a static library, as I see` libMapboxMobileEvents.a `.

[2021-03-03 17:18] jayhaluska commented on #590
Hi @fvieira, could you make any progress in this regard?

The easiest way to build this would be to use subsequent onPress events and combine the coordinates to a polygon.

The best case would be to have a kind of a "freehand draw". I just had a glance at the documentation and saw that the PointAnnotation object has a `onDrag` event, I was thinking about misusing that to implement such a behaviour

[2021-03-03 21:32] mfazekas commented on #1097
I've added a fix #1262

Note that it requires `Podfile` modification - see https://github.com/react-native-mapbox-gl/maps/pull/1262#issue-584279625

[2021-03-03 22:28] lfaz opened #1263 "<MapboxGL.Camera /> causes crash in IOS only"
**Describe the bug:**

The app is crashing when opening a view which contains mapbox map component. This only happens on iOS. If I completely remove <MapboxGL.Camera> and re-run it works all good, and once add again <MapboxGL.Camera> the app does not crash anymore. So it always crashes if I build the app on a new device and <MapboxGL.Camera> is present for the first run time!

**Code sample:**

[c

[2021-03-04 11:18] jayhaluska opened #1264 "iOS: Dragging PointAnnotation not working"
**Describe the bug**
A PointAnnotation element is not draggable, the events are not triggered. Bug occurs on a physical iPhone SE, iOS 14.4

**To Reproduce**

Example:
[code]

**Expected behavior**
The PointAnnotation object should move and the events `onDragStart`, `onDrag` and `onDragEnd` should be triggered.

**Actual behavior**
The PointAnnotation element does not move and the drag events are

[2021-03-05 07:30] #1097 closed

[2021-03-05 14:00] #1008 closed

[2021-03-05 14:15] ferdicus commented on #1263
Hi there, can you replicate this in the `/example` project?
Feel free to use the `BugTemplate` within it to replicate your issue.

Thanks in advance

[2021-03-07 08:10] ansarikhurshid786 commented on #1097
[code]

[2021-03-07 10:05] mfazekas commented on #1097
Which version of @react-native-mapbox-gl/maps are you using. This is only fixed on `#master`so you should be using that.

[2021-03-07 10:23] ansarikhurshid786 commented on #1097
react-native-mapbox-gl@8.1.0

[2021-03-07 10:33] mfazekas commented on #1097
Please use `#master` or `8.2.0-beta1` I've just published beta1

[2021-03-07 15:26] ferdicus commented on #1237
@schiller-manuel , that shouldn't be necessary - I think I've added that part, because it wouldn't stop the `locationManager` when unmounting the map...

it works just fine for me within the `/example` app => `ShowMap.tsx` even without starting and stopping locationManager

[2021-03-08 11:54] ansarikhurshid786 commented on #1237
most probably location use description not mentioned in plist in xcode

[2021-03-08 18:47] Alaa-Ben commented on #1097
Same issue as @SebiVPS ! archive builds and available but error when uploading to app store:

[2021-03-08 19:06] mfazekas commented on #1097
@Alaa-Ben, @SebiVPS what is the MPGL version used?!

[2021-03-08 19:14] SebiVPS commented on #1097
The latest version you mentioned above:
`"@react-native-mapbox-gl/maps": "^8.2.0-beta1"`

[2021-03-08 19:25] mfazekas commented on #1097
I meant if you have `$ReactNativeMapboxGLIOSVersion = '~> 6.3'`, or similar in your Podfile. If not please try with that too.

[2021-03-08 20:12] janicduplessis commented on #1097
@SebiVPS One way to verify the fix work is check if MapboxMobileEvents is actually being included as a framework per my comment here https://github.com/react-native-mapbox-gl/maps/issues/1097#issuecomment-788180364.

Maybe it doesn't work with certain cocoapod version? What version are you using?

[2021-03-08 20:18] RobertSasak commented on #1097
I would like to again bring attention to comment by @sampok
https://github.com/react-native-mapbox-gl/maps/issues/1097#issuecomment-722498863
This one line resolved all the issues with corrupted archives while still using "@react-native-mapbox-gl/maps": "8.1.0",
[code]
I can only confirm that 6.2.2 nor 6.3.3 version har still issue with corrupted archive.

[2021-03-08 21:37] SebiVPS commented on #1097
Thank you for your comments, i tried using `gem 'cocoapods', '~> 1.9.3'`
and `$ReactNativeMapboxGLIOSVersion = '~> 6.2.1'` in Podfile

Currently i get an error at `pod install`, looks like a temporarily issue at server side, i'll try again tomorrow:
[code]

[2021-03-08 21:39] Alaa-Ben commented on #1097
Hmm upgrading cocoapods to 1.10.2, upgrading mapboxgl to 8.2.0-beta1 and adding pre and post install methods in podfile solved this for me.

[2021-03-08 21:43] RobertSasak commented on #1097
@SebiVPS In order to use new Mapbox SDK you need to have a special password in .netrc. Please refer to Mapbox iOS SDK fo more info.
[code]

[2021-03-08 21:52] janicduplessis commented on #1097
I tested this patch on cocoapods 1.10.x so maybe it doesn't work on 1.9.x

[2021-03-09 10:06] SebiVPS commented on #1097
Thank you for pointing me in the right direction :)
I got it to work with
cocoapods v1.10.1, and
`"@react-native-mapbox-gl/maps": "^8.2.0-beta1"` and
adding pre and post install methods in Podfile.

[2021-03-09 15:14] airburst commented on #1231
I have the same issue on Android emulator and a couple of physical phones.

We cannot pass Google Play Store review because Mapbox telemetry triggers request for background location - in contravention of Google's location policy - even though we do not use background or foreground location in the app.

[2021-03-09 19:02] felixgourdeau commented on #1264
Can confirm I have the exact same problem.

using the latest ios sdk version `$ReactNativeMapboxGLIOSVersion = '6.3.0'`

same code works well in android

[2021-03-09 21:01] mzu commented on #869
Leaving `followUserLocation={true}` has the side effect of not being able to use `Camera.moveTo(coordinates, duration)` anymore, which I required.

Good new is, it is possible to set `followUserLocation` back to `false` during runtime (I used `MapView.onDidFinishLoadingStyle()` for this). This was safe to do, the error only seemed to happen during initialisation.

@mfazekas Would it be worth reope

[2021-03-10 09:37] miihauu opened #1268 "Adding custom map tiles - Openmaptiles"
**Describe the bug**
Hi all,

If anyone could help I'd be grateful. I have tried to configure custom map tiles by using openmaptiles. I get my style.json from the external server and gets only blank screen.

**To Reproduce**
My example component:

[code]

Part of my style.json file, but it is the same as an example from:
https://github.com/openmaptiles/osm-bright-gl-style/blob/master/style.json

[

[2021-03-10 14:08] ferdicus commented on #1069
I was experiencing the flickering in another project now as well.
project without flickering => raster tiles
project with flickering => vector tiles
Not sure if that is the cause, however I thought it's a relevant enough datapoint.

I can verify @VladMatvei solution - an upgrade to a later Android SDK removes the flickering.

I will update the installation this coming friday.

[2021-03-10 14:10] ferdicus commented on #910
Please make sure to update to the latest iOS/ Android SDKs - this is an upstream issue and was fixed in later versions

[2021-03-11 07:59] manarfalah commented on #1079
Same issue here, as a workaround could you please give an example how to use these attributes ? @ferdicus

[2021-03-11 09:51] mzu commented on #1079
Not sure if this would help in your case, but I currently set `followUserLocation` back to `false` once the map style has been initialised. This way I can carry on setting custom `Camera` coordinates. Something like this:

[code]

[2021-03-12 12:02] ferdicus commented on #1079
This is not an issue - please refer to the gitter chat/ stackoverflow or Discussions for usage advise

[2021-03-12 13:44] ferdicus commented on #1231
@olofho, I was unable to replicate this within our `example` app.
What's the reproduction rate for you? Does it always happen?

What I could imagine, is, that the Mapbox instance isn't initialized yet and this call:
https://github.com/react-native-mapbox-gl/maps/blob/397482d4adc7e34cea30b39151c638e418a66f89/android/rctmgl/src/main/java/com/mapbox/rctmgl/modules/RCTMGLModule.java#L339

returns `nul

[2021-03-12 14:54] tinmar33 opened #1270 "iOS Crash using 8.2.0-beta1"
**Describe the bug**
The app is crashing immediately on launch after build successful on xCode with this error message, any idea ?
The version 8.1.0 was working perfectly

Note: I'm using `$ReactNativeMapboxGLIOSVersion = '~> 6.3'`

[code]

I tried to add `$RNMBGL.pre_install(installer)` and `$RNMBGL.post_install(installer)` even if i'm using `use_frameworks!` on my Podfile and my `pod install` gi

[2021-03-12 16:31] dozGrou opened #1272 "Gradient line does not display properly"
**Describe the bug**
Drawing a gradient line does not display properly.

**To Reproduce**
Take the geojson from [mapbox documentation](https://docs.mapbox.com/mapbox-gl-js/example/line-gradient/) and set it into the MapboxGL.Style component.

here is an example:
[code]

**Expected behavior**
The gradient line should be blue to red on the entire line.

**Actual behavior**
The behavior change with t

[2021-03-12 17:35] bdtren commented on #1097
Dear @mfazekas, I tried this solution. Archive and build success.
But I cannot upload the archived version to App Store, because of the `MapboxMobileEvents`

Error:
[code]

[2021-03-12 19:06] olofho commented on #1231
Hi @ferdicus !

For me it is not intermittent, it happens on every launch. My app has a login screen and once log in is successful I navigate to a map-page that tries to set telemetry in `componentDidMount()` which causes a crash on android. As a workaround I instead set telemetry when map finished loading which seems to work:
`onDidFinishLoadingMap={() => MapboxGL.setTelemetryEnabled(false)}`

Th

[2021-03-12 21:35] airburst commented on #1231
I can corroborate @olofho 's results.

Basically, the MapboxGL object is always null when attempting `MapboxGL.setTelemetry(false)` in Android only; it is fine in iOS.

I have run this method in a useEffect, componentDidMount and `onDidFinishLoading`; in every case MapboxGL is definitely not null, but this is the error reported by react native.

Thanks again for your great work.

[2021-03-13 13:48] maxammann opened #1273 "Switching to MapLibre?"
Hello community!

I recently implemented a maps feature and found out that Mapbox switched to a proprietary license with Mapbox 10. Afaik you are bound to there TOS now and have to pay their cloud fees even if you do not use them.

A lot of famous people grouped and founded the MapLibre project. Their gl-native fork can be found here: https://github.com/maplibre/maplibre-gl-native

I will soon use

[2021-03-13 14:27] mfazekas commented on #1273
Pls open a discussion for this.

[2021-03-13 14:27] #1273 closed

[2021-03-14 13:44] gregogalante commented on #1097
I'm getting the same problem of @bdtren with 8.2.0-beta1 version and the pre_install and post_install tasks on my Podfile

[2021-03-14 14:21] mfazekas commented on #1270
@tinmar33 sorry about post_install issue, pls ignore the post_install hook for now. If you have `use_frameworks!` even `pre_install` hook should not make any difference.

[2021-03-14 14:23] #1270 closed

[2021-03-14 15:21] Stophface opened #1276 "Cannot display Polygon that covers the whole world"
**Describe the bug**
I create a polygon that covers the whole world and 'mask' holes in it in order to highlight certain areas. Basically this:
https://github.com/mapbox/mapbox-gl-js/issues/6267

**To Reproduce**
In order to reproduce, it's easyer to install `truf`, because the creation of geometries is rather easy with it.

    import React, { Component } from "react";
    import { StyleSheet, Vi

[2021-03-14 15:24] #1276 closed

[2021-03-14 18:29] mfazekas commented on #1270
@tinmar33 can you reproduce the issue of not able to launch on a new project created with `react-native init` ?!

[2021-03-15 05:10] dpeters1 commented on #1014
This issue still appears to be in release 8.1.0. Strangely, the image loads sometime but fails to load at other times. Can someone else give this snippet a try on Android?

[code]

[2021-03-15 09:50] tinmar33 commented on #1270
@mfazekas on a new project with `react-native init` I successfully run an app with and without `use_frameworks!` so it's probably something else.. :/

[2021-03-15 13:15] tinmar33 commented on #1270
I found a trick to make it work with my situation by adding this on my pre_install, so it works now :)

[code]

[2021-03-15 19:49] gigby commented on #1230
@mustafaskyer I solved this "issue" by using a VPN service

[2021-03-15 23:22] jordan-tpz commented on #1069
@ferdicus I tried to update to the latest Android SDK by following @VladMatvei solution, but this is still an issue for me. For information I use the latest release 8.1.0

[2021-03-16 05:40] SamuelGuNUAA commented on #1264
The same issue on 8.1.0

[2021-03-16 10:12] krakz999 commented on #895
8.2.0-beta1 still an issue

[2021-03-16 10:16] krakz999 commented on #910
Still an issue with 8.2.0-beta1

[2021-03-16 11:27] maxammann commented on #1268
It could be possible that the minZoom, maxZoom in the tilespec of openmaptiles are encoded as strings instead of plain JSON numbers.

[2021-03-17 09:55] miihauu commented on #1268
I have JSON numbers there, so that's not the case.

[2021-03-17 10:38] krakz999 opened #1282 "[Android] MarkerView does not animate with flyTo, moveTo or setCamera methods."
**Describe the bug**
MarkerView moves with the camera (leaves its coordinates) while the camera is animating when using any of the following methods: `flyTo`, `moveTo`, `setCamera`. However it stays in the correct position when dragging the map manually.

**To Reproduce**
1. Display marker
2. Animate the camera with any of the following methods: `flyTo`, `moveTo`, `setCamera`

**Expected behavior*

[2021-03-17 14:38] Nykolyn opened #1283 "[Android] Map markes change color on zoom in/out"
**Describe the bug**
During zoom in/out at some point markers on the map are turning from their initial color to black.

**To Reproduce**
[code]

Example:
[code]

**Expected behavior**
During zoom in/out, Markers color shouldn't change.

**Actual behavior**
During zoom in/out, Markers color changes from initial to black.

**Screenshots**
![image](https://user-images.githubusercontent.com/47949740/

[2021-03-18 11:16] jungRoit commented on #1014
I'm Having the same issue as @raazatul7 . Image is not getting rendered in PointAnnotation Android. Here's my code snipped.

`<MapboxGL.PointAnnotation
      id={props.id}
      coordinate={props.coordinate}
      onSelected={props.onSelected}>
      <Image
        style={{width: 22, height: 30, backgroundColor: 'green'}}
        source={require('../../assets/marker.png')}
      />
      <View

[2021-03-18 12:47] kabbi commented on #1167
I think that's because of the code in `RCTMGLCamera.java`:

[code]

[2021-03-18 22:26] shahraizali opened #1285 "IOS: Kindly add support for Mapbox-iOS-SDK version 6.0"
is there any plan to update Mapbox-iOS-SDK version soon from 5.9.0 to 6.0.0 ?

[2021-03-19 08:20] krakz999 commented on #1065
Have you found any solution to get a list of the features wrapped by a cluster?

[2021-03-19 12:15] ferdicus commented on #1285
please check the installation guide

[2021-03-19 12:15] #1285 closed

[2021-03-19 16:45] ferdicus commented on #1283
I couldn't deduct it from your description: Do you also experience this on your physical device, or just on the emulator?

[2021-03-19 16:56] ferdicus commented on #1282
I think (correct me if I'm wrong here @mfazekas ), that's because the difference in implementation between Android and iOS.
It's a shortcoming in the Android implementation. Similarly to the fact, that the MarkerView will "jiggle" when you move the map (dragging by hand) on Android.

[2021-03-19 19:23] Merrick17 commented on #1242
@muxton21  can you please show me how you did the downgrade ?

[2021-03-19 20:28] AndresAltomobile opened #1286 "[Android] Crash when opening a screen with map in Android 11"
**Describe the bug**
Every time I open a screen that has a map, the application crashes.
It seems this has to do with the latest version of Android. Android 11.
This crash did not occur before the last update of the operating system.

**To Reproduce**
Open a screen with a map.

**Expected behavior**
The screen should show the content (map).

**Actual behavior**
Crashes the app when we try to open

[2021-03-20 00:10] #1107 closed

[2021-03-22 11:45] Kotpes opened #1288 "MapboxGL.MapView setting height (in style) to over 1365 breaks rendering"
**Describe the bug**
Setting height higher than `1365` on `<MapboxGL.MapView style={{height: 1366}} />` will cause map not rendering properly
**To Reproduce**
Steps to reproduce the behavior.
1. Launch [example app](https://github.com/react-native-mapbox-gl/maps/tree/master/example)
2. Open, e.g., `src/examples/Map/ShowMapLocalStyle.tsx` and change the style to this `<MapboxGL.MapView style={{heig

[2021-03-22 17:13] ferdicus opened #1289 "export Logger in index.d.ts"
As mentioned [here](https://github.com/react-native-mapbox-gl/maps/issues/943#issuecomment-759220852).
When importing `Logger` in TS one will get an error.

Add it to our `index.d.ts`

[2021-03-22 17:14] ferdicus commented on #1289
@ClayC-WeatherBug, maybe you want to jump on this?!

[2021-03-22 21:06] ClayC-WeatherBug commented on #1289
This seems like a great one for me to hop on! Thanks for thinking of me. If someone else wants to pick it up, definitely don't hold up for me, but I'll see if I can fit this into my schedule this week or next week 👍

[2021-03-23 00:41] systemlevel commented on #896
Is this still an issue?  Maybe we can reopen.

[2021-03-23 01:14] dancesWithCycles opened #1290 "README file contains broken link"
**Describe the bug**
The [README](https://github.com/react-native-mapbox-gl/maps/blob/master/example/README.md) file contains the following broken link:

[building blocks](https://www.mapbox.com/products/)

**To Reproduce**
Please go to the above mentioned link and click it.

**Expected behavior**
The link should lead to a dedicated place.

**Actual behavior**
The link is leading to a dead end.

[2021-03-23 19:20] skicson commented on #1286
This[ issue has to do with a deprecated Android call](https://github.com/mapbox/mapbox-gl-native-android/issues/425).  It was fixed in mapbox several months ago but has not been updated in this library.  A workaround is to add this line:
`implementation 'com.mapbox.mapboxsdk:mapbox-android-telemetry:6.1.0'`
to the @react-native-mapbox-gl/maps/android/rctmgl/build.gradle file under the
` implementa

[2021-03-24 09:42] krakz999 commented on #1065
Submitted a PR that addresses this issue https://github.com/react-native-mapbox-gl/maps/pull/1291

[2021-03-24 17:57] miihauu commented on #1268
Does anyone have any idea for a solution? The problem is still actual.

[2021-03-24 19:24] ferdicus commented on #1268
@miihauu, can you please try to replicate this on the `example` app - preferably with no external dependencies (except the style.json obviously).
I'm talking about `import { Screen } from "../../components"` and stuff like that for example.

I'll try to squeeze it in on friday

[2021-03-25 11:32] miihauu commented on #1268
Hi @ferdicus

I have just checked my style.json with an example app and it is still not working. I put my styleURL inside ShowMap component and it looks like this:

`import React, {FC, useState, useEffect} from 'react';
import {Alert} from 'react-native';
import MapboxGL from '@react-native-mapbox-gl/maps';

import sheet from '../../styles/sheet';
import {onSortOptions} from '../../utils';
import

[2021-03-25 12:44] hayden-cl opened #1292 "MapView not respecting coordinates of stylesheet"
Hi,

Sorry if the title is misleading.

I was able to reference a stylesheet I made in Mapbox Studio using the styleURL prop of the MapView component. However, the map doesn't seem to be centered on the starting location I set up for this stylesheet in Studio. I see in the documentation for react-native-mapbox-gl/maps that you can specify the longitude and latitude and zoom of the camera for your

[2021-03-25 14:04] nasmuris commented on #1079
@ferdicus Sorry for being unable to reply for such a long time, but this bug/feature had low prio for my project and I haven't had enought time to dig into this in my free time...
As a quick fix, I'll try to implement the `ignoreFollowUserLocation` param, if it works fine for me, I'll create a PR ASAP :)
I'm still not sure whether this is proper solution though, but better than nothing, right?

[2021-03-26 13:27] ferdicus commented on #1290
thanks, is fixed

[2021-03-26 13:27] #1290 closed

[2021-03-26 14:27] dancesWithCycles commented on #1290
Did you do any changes in the master branch? Nothing came through when I called `git pull origin master`. What was the issue and what have you done to fix it? Cheers

[2021-03-26 14:41] ferdicus commented on #1268
Works fine for me (current `master` within the `example` demo app):

<img width="666" alt="Screenshot 2021-03-26 at 15 29 06" src="https://user-images.githubusercontent.com/26439946/112646745-17062400-8e48-11eb-8d2b-364b67adfd65.png">

I've used the [style.json](https://github.com/openmaptiles/osm-bright-gl-style/blob/master/style.json) you linked to,
created a free account and replaced instances

[2021-03-26 14:45] dancesWithCycles opened #1293 "I do not get the example running"
**Describe the bug**
I am following the documentation for the [example](https://github.com/react-native-mapbox-gl/maps/tree/master/example), but do not get it flying.

**To Reproduce**
[code]

Example:
Please refer to the example directory in this repository.

**Expected behavior**
I expected the example app to start.

**Actual behavior**
The ```yarn android``` call gives me this result:
[code]

*

[2021-03-26 14:50] ferdicus commented on #1290
Feel free to check the commit history of `master`

[2021-03-26 14:53] ferdicus commented on #1293
that's weird, are you within the `example` directory when executing `yarn android`?

[2021-03-26 15:01] dancesWithCycles commented on #1293
Yep. Here you have it crystal clear:
[code]

I am not surprised. There is no script in the `package.json` file that matches the call `android`. See:
[code]

[2021-03-26 15:05] ferdicus commented on #1293
https://github.com/react-native-mapbox-gl/maps/blob/fb36c80975879a4b7afa4e4f5f59deb1f45e5794/example/package.json#L5-L18

[2021-03-26 15:14] ferdicus commented on #1268
@miihauu feel free to post your findings, I'm closing this for now

[2021-03-26 15:14] #1268 closed

[2021-03-26 15:17] dancesWithCycles commented on #1293
Cheers mate! You opened my eyes. I was in the wrong repository. Do you know there is a similar repository from [nitaliano](https://github.com/nitaliano/react-native-mapbox-gl)? This is very confusing.

However, now being in the right repository I am facing another issue. This is what I just did:
[code]
And here is the response:
[code]
I appreciate any advice that is pointing me in the right direct

[2021-03-26 15:57] ferdicus commented on #1293
Looks like a more general `react-native` setup issue than something specific with this repo/ the example app.

Did you previously initialize and run any other react-native app?

[2021-03-26 18:22] dancesWithCycles commented on #1293
My `react-native` setup works fine for my own project. There, I call `npm i` to install dependencies, `react-native start` to start the metro bundler and `react-native run-android` to run the app on my connected Fairphone 2.

Now, I did exactly the same in this repository WITHOUT working on any other repositories. Finally, it works, the app compiles and metro takes care of deploying. This is live

[2021-03-26 18:22] #1293 closed

[2021-03-26 19:12] ferdicus commented on #1293
Yes, JS files are served from a dev server which always runs under `http://localhost:8081/`, if you have another running that will be used.

[2021-03-29 10:43] hannojg commented on #1085
not stale

[2021-03-29 20:06] hexadecy commented on #943
I have to import it that way. (8.1.0)
[code]

[2021-03-30 10:01] longb1997 opened #1296 "warning: The iOS Simulator deployment target 'IPHONEOS_DEPLOYMENT_TARGET' is set to 8.0, but the range of supported deployment target versions is 9.0 to 14.4.99. (in target 'react-native-mapbox-gl' from project 'Pods')"
---------

[code]

---------

Look like this lib not yet supporting for Xcode 12

**Versions (please complete the following information):**
 - Platform:  iOS
 - Emulator/ Simulator: yes
 - Dev OS: MacOS Catalina
 - react-native-mapbox-gl Version 5.8.0
 - React Native Version 0.63.4

[2021-03-30 15:24] NathanNovak commented on #1097
I get a corrupt archive and keep getting this error when trying to upgrade to 8.2.0-beta1:

npm ERR! Could not resolve dependency: npm ERR! peer react@"^16.6.1" from @react-native-mapbox-gl/maps@8.2.0-beta1 npm ERR! node_modules/@react-native-mapbox-gl/maps npm ERR! @react-native-mapbox-gl/maps@"8.2.0-beta1" from the root project
Can someone let me know how to solve this.

[2021-03-30 16:23] abakhtiar commented on #1097
I have the same corrupted archive  problem with "@react-native-mapbox-gl/maps": "^8.1.0-beta.1". Upgrading to latest versions also breaks my build for hooks dependancies.
It is really a big mess in our apps! :(
    "react": "16.8.6",
    "react-native": "0.60.5",
Anybody knows a way please let me know.
Thanks

[2021-03-30 21:38] NathanNovak commented on #1097
@SebiVPS How did you get 8.2.0-beta1 to install on yours?

[2021-03-31 06:39] SebiVPS commented on #1097
@NathanNovak

there is nothing special here, just add the specific version in your package.json and install. (No login needed)
But i still use `"react-native" : "0.63.4"`, maybe there is a problem with `0.64` and react v17 ?

[2021-03-31 12:58] NathanNovak commented on #1097
@SebiVPS Thats is the key difference right there.  React had a rather large changelog with 17.0.0.

Does anyone know if using '--legacy-peer-deps' flag creates havoc?

[2021-03-31 21:17] NathanNovak commented on #482
Why won't you add this feature? It would be very useful.

[2021-04-01 11:16] miihauu commented on #1268
@ferdicus Thank you for your support. I have checked it and you are right. Everything is ok, cause I reproduced your instructions and it works!  I found that is an issue with my JSON, so that is the case that it doesn't work.

[2021-04-01 11:43] noway commented on #1139
@stale don't mark it as stale, this issue is a huge blocker for using RN mapbox on M1 chip. Please remove the wontfix label.

[2021-04-01 11:45] noway commented on #1031
This issue has nothing to do with archiving. This issue is scoped to the linking issue

[2021-04-01 18:03] dorthwein commented on #75
still happening

[2021-04-01 18:04] dorthwein commented on #344
still happening

[2021-04-01 18:34] dorthwein commented on #344
In battling this bug, if you change the style URL, i.e. from a day mode to a night mode style, this race condition can re-occur.  Initially we were only guarding against initial style loads.

[2021-04-02 15:52] ferdicus commented on #1123
So, I've looked into this today.
@systemlevel, was this working previously?
I've never used this myself before :(

@eugeneshe, from what I've investigated, these are my findings:
This method [`setDownloadState`](https://github.com/mapbox/mapbox-gl-native-android/blob/6db4db9fffb7a696feb92438fa4bb6b21b65d117/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/offline/OfflineRegion.java#L332-L347)

[2021-04-02 19:50] gokugen commented on #1117
I face the same issue any updates ?

[2021-04-02 19:57] gokugen commented on #836
Face the same issue, does someone find a solution ?

[2021-04-02 22:47] ako977 commented on #511
Hate to beat a dead horse but...
Is 'custom' renderMode no longer supported? It is no longer in the docs and this recent issue only refers to two modes (nomal/native): https://github.com/react-native-mapbox-gl/maps/issues/869

[2021-04-04 16:01] designervoid commented on #1097
Same issue

[2021-04-04 16:03] designervoid commented on #1097
Fixed by upgrading from `"@react-native-mapbox-gl/maps": "^8.1.0",` to `"@react-native-mapbox-gl/maps": "^8.2.0-beta1",`.
Then `yarn install`, `npx pod-install`. And now I can see archived build in organizer.

[2021-04-04 23:11] gokugen commented on #1264
Same issue, even with the long press

[2021-04-05 18:21] designervoid opened #1304 "Xcode build failed"
**Describe the bug**
I can run my app in debug mode on device and simulator with `npx react-native run-ios`.
I can create archives of my app and send them in Test Flight and AppStore.
I can build with detox-cli my debug and release mode iOS app.
But xCode12 run on device or simulator build failed with that error:
[code]

**To Reproduce**
Build project with `"@react-native-mapbox-gl/maps": "^8.2.0-

[2021-04-05 18:32] hosnyDev commented on #906
Update for 2021

change version to -v8

    implementation('com.mapbox.mapboxsdk:mapbox-android-navigation-ui:0.42.6') {
        exclude group: 'com.mapbox.mapboxsdk', module: 'mapbox-android-plugin-annotation-v8'
    }

[2021-04-05 19:31] ferdicus commented on #1304
Can you please try the `example` project in the repo and report back - thanks

[2021-04-05 19:34] ferdicus commented on #511
What exactly do you mean by "custom" - if you're talking about passing `children` to the `UserLocation` component, that's still supported.

[2021-04-05 19:39] ferdicus commented on #1296
Nope, it does - do it on a regular basis. This is just a warning.
It's defined [here](https://github.com/react-native-mapbox-gl/maps/blob/master/react-native-mapbox-gl.podspec#L37), feel free to open a PR with a change and an explanation why you would want to edit it.

Thanks

[2021-04-05 19:39] #1296 closed

[2021-04-05 20:38] designervoid commented on #1304
@ferdicus
build settings:
![image](https://user-images.githubusercontent.com/43455658/113623911-aa6cff80-9667-11eb-94a3-f4cb0e68f099.png)
my scheme:
![image](https://user-images.githubusercontent.com/43455658/113624200-ffa91100-9667-11eb-91f8-59a5606d5c18.png)

[2021-04-05 20:41] designervoid commented on #1304
my mapbox component:
[code]

[2021-04-06 04:57] mfazekas commented on #1304
@designervoid sounds like duplicate of https://github.com/react-native-mapbox-gl/maps/issues/1031 is this an M1 Mac?!

[2021-04-06 06:30] ako977 commented on #511
Yes, I am referring to an example like this:

[code]

When I try to implement a custom marker in version 8.2.0-beta1, I get no marker appearing (no crash or error thrown either), setting a symbolLayer with sourceLayer wrapping it instead of userLocation shows the image source just fine, also setting 'normal' for UserLocation with no children shows the default user location marker as expected.

The

[2021-04-06 10:00] designervoid commented on #1304
no, i have macbook pro 19 (16 inch) with intel i7

[2021-04-06 11:30] ferdicus commented on #511
The `custom` flag was removed as it's a bit superfluous - as soon as a child is passed it should take precedence over the default icon.
See relevant code:
https://github.com/react-native-mapbox-gl/maps/blob/a1a95722b4a7f3da35ef48e258785fc79a02b39a/javascript/components/UserLocation.js#L263-L275

So this:

[code]

"should" work - I can have a look, however earliest on Friday

[2021-04-06 14:46] ako977 commented on #511
Thanks in advance for verifying, I will take a look at my code again, perhaps it's on my end.

From the source of UserLocation it also looks like I cannot set my own coordinates in situations where I want to override the position (like it being passed via props, I suppose in this case I would need to extend the UserLocation component and overwrite the `_onLocationUpdate` function

[2021-04-06 15:53] systemlevel commented on #511
This works for us to display custom location icons as children:

[code]

[2021-04-06 23:30] natew commented on #1031
I have everything working except for some reason errors on doing react-native Release mode, but that seems to fix with:

[code]

[2021-04-07 02:10] noway commented on #1031
@natew that runs the build in Rosetta2 and would not be as performant as Apple Silicon.

[2021-04-07 10:21] kobagapu opened #1307 "Custom Vector Source is not working"
**Dependencies**
  "react-native": "0.61.5",
"@react-native-mapbox-gl/maps": "^8.1.0",

 **using this its working fine**
const VECTOR_SOURCE_URL = ''mapbox://nickitaliano.cj94go8xl18fl2qp92v8bdivv-4kgl9'
**NOT WORKING**
const VECTOR_SOURCE_URL = "mapbox://mapbox.mapbox-terrain-v2"
const VECTOR_SOURCE_URL = "mapbox://sample.testing
![Simulator Screen Shot - iPhone 11 - 2021-04-07 at 15 42 56](https

[2021-04-07 23:43] Cucak commented on #1139
Am I the only one who is experiencing huge issues while coding react native app. First I had issues with cocoapods, then with react-native-maps package... Seems like m1 CPU was a mistake!

[2021-04-08 16:29] b3hz4d commented on #1097
I did all the above solution with clean installation but I'm getting this error
```Info.plist: No such file or directory```
Any idea how to solve it?
Using cocoapods V1.10.1 & Xcode 12.4

[2021-04-08 16:56] designervoid commented on #1304
answer of @questionsrvdende in thread
[code]

[2021-04-08 17:06] designervoid commented on #1304
Now after changing `Architectures` field to `x86_64` my app working on simulator. Now I can run my app throught xcode on simulator.
![image](https://user-images.githubusercontent.com/43455658/114067647-b940f580-98a5-11eb-8a47-988f1835fab1.png)

[2021-04-09 10:54] #1307 closed

[2021-04-09 11:42] kenjichanhkg opened #1308 "can't run the example in my Mac mini m1"
I can't run the example in my Mac mini m1.
Can anyone help?

### Command

[code]

### Report

* What did you do?

* What did you expect to happen?

* What happened instead?

### Stack

[code]

### Plugins

[code]

### Podfile

[code]

### Error

[code]

[2021-04-09 11:43] ferdicus commented on #1304
so all good, yes? closing this

[2021-04-09 11:43] #1304 closed

[2021-04-09 11:46] ferdicus commented on #1308
we're handling m1 related issues in this one https://github.com/react-native-mapbox-gl/maps/issues/1139

closing as duplicate - let me know if you feel this is unrelated and we can reopen this.

Thanks for understanding

[2021-04-09 11:46] #1308 closed

[2021-04-09 11:58] ferdicus commented on #1286
Additionally a more succinct [reply](https://github.com/mapbox/mapbox-gl-native-android/issues/557) by @tobrun:

Let us know if that helped, will reopen when you encounter additional issues 🙇🏿

[2021-04-09 11:58] #1286 closed

[2021-04-09 12:10] kenjichanhkg commented on #1139
so anyone got any idea? something to do with cocopod in M1, or mapbox in M1?

[2021-04-09 12:12] mfazekas commented on #1308
@kenjichanhkg this actually looks like a ruby/rvm installation issue.  Can you get a simple rn project running?!

[2021-04-09 12:56] ferdicus commented on #1288
hi, thanks for this issue report - can you explain what your use-case is exactly?

[2021-04-09 13:00] #1237 closed

[2021-04-09 16:11] kenjichanhkg commented on #1308
yes, I can generate a hello world rn project and running it

[2021-04-09 17:08] michalpierzchlewicz opened #1309 "iOS: Adding PointAnnotation with custom child causes map performance to drop"
---------

**Describe the bug**
On iOS device, when I add a PointAnnotation component with custom children (works well with default marker - i.e. no children or when using Callout component), when I start moving the map or zooming in and out, the framerate drops down significantly

**To Reproduce**
Create a MapView with a single PointAnnotation component, with children (e.g. View component). Then

[2021-04-09 22:40] natew commented on #1031
@noway of course. It's a temporary solution I found for anyone else searching,

[2021-04-10 02:14] noway commented on #1304
You can encounter this error on both x86 and Apple Silicon. On x86 it's solved with the EXCLUDE_ARCH build setting. On Apple Silicon, there's still no fix.

Let's keep this issue scoped to x86 and close it.

[2021-04-10 02:23] noway commented on #1139
It looks like the issue in upstream is resolved!!

https://github.com/mapbox/mapbox-navigation-ios/issues/2672
https://github.com/mapbox/mapbox-navigation-ios/pull/2770

Can anyone try to get it running with the latest sdk?

[2021-04-10 02:26] noway commented on #1031
Fair enough.

For anyone else: another temporary solution is to build onto a real device, and not to Simulator. (the error only appears to be when you build for simulator)

[2021-04-12 08:34] #1242 closed

[2021-04-12 08:37] mfazekas commented on #1139
@noway we're using `mapbox-gl-native-ios` ATM.  I don't think it's fixed there. It's fixed in the MapboxMaps SDK that replaces MapboxGLNativeIOS, but we're still using the MapboxGLNative libs.

[2021-04-12 10:00] iromjkee commented on #1237
@ansarikhurshid786 , @ferdicus Could you please tell what should be enabled in plist in xcode? For now for location have only this
![image](https://user-images.githubusercontent.com/25479692/114377215-129f7200-9b8f-11eb-8414-6501a41b9de4.png)

[2021-04-13 08:34] Kotpes commented on #1288
@ferdicus We have a map in our app with a calculated height (that depends on other elements on the same screen). So for really big phone (e.g the iPhone Max) height over 1366 breaks the map.

[2021-04-13 21:44] ako977 commented on #511
Just to tie this altogether. I now know why I was not getting the custom icon.
The culprit was including this prop: `renderMode={'custom'}`.

Basically I was following the old docs which expected 'custom'. However in the latest version of the library, this makes the userLocation marker simply disappear.

Changing renderMode to 'normal' or removing the prop completely solves the problem.

Thank you

[2021-04-14 12:24] mfazekas commented on #1139
FWIW #1311 might solve this. I assume MapLibre does not have this M1 issue. Not sure if Mapbox-gl-ios has SPM distribution, in case it does it might work as well

[2021-04-14 16:34] Garamani commented on #155
Upgraded from 7.2.0 to 8.0.0, and now the animated CircleLayer works fine.

[2021-04-15 07:01] ghadeeraqraa1992 opened #1313 "java.lang.NullPointerException: Attempt to invoke virtual method 'android.graphics.drawable.Drawable android.graphics.drawable.Drawable$ConstantState.newDrawable(android.content.res.Resources)' on a null object reference"
**Describe the bug**
in android production app (google store version) , we have NullPointerException Attempt to invoke virtual method 'android.graphics.drawable.Drawable android.graphics.drawable.Drawable$ConstantState.newDrawable(android.content.res.Resources)' on a null object reference
**To Reproduce**
1- get routeshape from the waypoints using the below code :

`  const getDirecction = async (

[2021-04-15 14:46] ferdicus commented on #943
There shouldn't be a need for that, as it's exported within `index.js`:
https://github.com/react-native-mapbox-gl/maps/blob/ddb34e026cee688710ad2f8815f5000eccd0437f/javascript/index.js#L148

[2021-04-16 09:35] Masoud-kamali opened #1314 "Android X & React-native-mapbox-gl/maps"
Hi guys, I have issue with androidx and react native mapbox. On the other hand, I use example folder well and it works for me.
but when I install @react-native-mapbox-gl/maps for my project. It does not works.

I tried jetifier, jshearer/maps, and the other things you said in "Add support for AndroidX #163" , but it makes no sense.

Please Help me with this issue.

This is my error:
[code]
**Versi

[2021-04-16 17:13] Masoud-kamali commented on #1314
Yes I did. but it did not work. for now, I changed react-native version form 0.64.0 to 0.63.4 and it works. but that problem has not been solved.

[2021-04-17 04:08] kenjichanhkg commented on #1139
@mfazekas  so which library / version should I use now?

[2021-04-19 11:53] ghadeeraqraa1992 opened #1315 "EXC_BAD_ACCESS : Attempted to dereference null pointer."
**Describe the bug**
Fatal crash received from Sentry.

**To Reproduce**
OS Version: iOS 12.5.2 (16H30)
Report Version: 104

Exception Type: EXC_BAD_ACCESS (SIGBUS)
Exception Codes: BUS_NOOP
Crashed Thread: 11

Application Specific Information:
Exception 1, Code 0, Subcode 8 >
Attempted to dereference null pointer.

[code]

[2021-04-20 08:45] ghadeeraqraa1992 commented on #1313
any update , it is a production issue

[2021-04-20 09:15] ferdicus commented on #1313
I'm curious: What makes you think that this is related to this repo?
I can't see any mention of mapbox in the call stack.

Not saying, that it isn't related, just want to know what makes you think it is?

[2021-04-20 09:16] ferdicus commented on #1313
For reference: https://github.com/react-native-maps/react-native-maps/issues/2924

[2021-04-20 09:21] ghadeeraqraa1992 commented on #1313
as I see on sentry dashboard the issue appears after draw the route on the mapbox

[2021-04-20 09:31] ferdicus commented on #1313
Could you please try to set up a test-case with the `example/BugReportExample` that is causing this.
That way we could try to reproduce this.

Thanks

[2021-04-20 09:43] #1289 closed

[2021-04-20 15:00] ferdicus commented on #1237
@iromjkee, did you check the `/example` app as I've mentioned in previous comments?
Try to replicate your issue there - come back if you can reproduce it there.
If the issue is not present in the `example` app, check for differences in the plist concerning permissions.

[2021-04-20 15:34] iromjkee opened #1319 "User Location not displaying iOS"
**Describe the bug**
There is no user location dot on the map, can't get what`s wrong already a lot of time, permissions are also set in plist.

**To Reproduce**
![image](https://user-images.githubusercontent.com/25479692/115422579-b7602600-a205-11eb-9f78-063d366cc67c.png)

[code]

**Expected behavior**
See blue dot of user location on the screen and follow it.

**Actual behavior**
If **followZoom

[2021-04-20 16:25] iromjkee commented on #1237
@ferdicus Yes, I did, but nothing has changed. What  differences in the plist concerning permissions? What should permissions be like? I`ve added this for location permissions.
![image](https://user-images.githubusercontent.com/25479692/115431511-145fda00-a20e-11eb-8f0e-fc11bf1e5edb.png)

[2021-04-21 10:53] iromjkee commented on #1319
So the problem was in my iOS simulator, didn`t add custom location(by default simulator can`t handle user location). Issue can be closed.

[2021-04-21 10:53] #1319 closed

[2021-04-21 11:03] ferdicus commented on #1319
Would be very benefitial if you add the problem and the solution as an item in the Discussion section of this repo, so others having a similar issue know what they need to do.

Thanks

[2021-04-21 11:03] ferdicus commented on #1319
Oh, also post it in the Gitter chat please

[2021-04-21 11:55] rastuch commented on #1264
Same here on IOS, android working fine.

[2021-04-21 12:48] mspindelhirn commented on #1111
I got it working for me by adding `sourceLayerID` to the FillLayer with the ID of the layer inside of my custom vector source.
In MapBox Studio open the tileset and see on the left hand side there should a identifier for the layer inside of the source.

[2021-04-22 11:18] drewjaja commented on #296
Had the same code signing issue and adding this run script phase solved the issue for me https://stackoverflow.com/a/53267826

Also note that Run Script must be placed AFTER Embed Frameworks under Build Phases (click and drag the phase to arrange the order in which they run).

![image](https://user-images.githubusercontent.com/13476269/115705667-2b3e3200-a3b0-11eb-9db1-b59fa8d52f10.png)

[2021-04-22 20:09] natew commented on #1111
@mspindelhirn I can see the map is loading the tiles, it requests the pbf's properly.

My endpoint returns:

[code]

And I've set sourceLayerID and sourceID to `publiczcta5` and VectorSource.id to `publiczcta5`. I've tried every combination here of different ID's, but nothing shows. I've made sure the layer is above other ones that work, and generally poked at it a ton. May need to get in touch wi

[2021-04-23 09:46] mspindelhirn commented on #1111
Ok. Had some more trouble and figured something else out. You cannot add VectorSource elements after the map style has loaded. So if you need to load the tileset ID you need to wait for that and then render the map together with the VectorSource and all.
At least thats my guess why sometimes the vector showed up and sometimes it did not. Plus I had a look at the andoid code and that seems logical

[2021-04-23 13:36] nixolas1 opened #1322 "Support Xcode 12.5"
**Describe the bug**
When building our app with Xcode 12.5 RC there are several compilation errors from the `MapBoxMobileEvents` pod.
They are all `'TARGET_OS_MACOS' is not defined` and stem from using that variable, which probably has been renamed?
Removing all the IF-s with that variable solved it for us, as we don't target MacOS.

**To Reproduce**
- Download and install Xcode 12.5 RC
- Try runn

[2021-04-23 15:35] ferdicus commented on #1315
hi there, do you have any steps to reproduce this?
How often does this happen?

Thanks

[2021-04-23 20:18] greifmatthias commented on #806
Any updates on this??

[2021-04-23 21:29] Andarius commented on #1314
I think it's becaused the minSdkVersion is harcoded. I had a similar issue while using Detox with RN 0.64.
Try updating `android/build.gradle`with

[code]

[2021-04-26 12:07] thijs-qv opened #1325 "The localizeLabels prop has no effect on iOS"
**Describe the bug**
The localizeLabels prop has no effect on iOS

**To Reproduce**
Create a MapView and use the localizeLabels prop. When debugging I can see the call being made to `[style localizeLabelsIntoLocale:nil]`, but this seems to have no effect. I have changed the device's language and preferred language.

**Expected behavior**
Localized map labels.

**Actual behavior**
Map labels still

[2021-04-27 07:19] mohammad-chavoshipor opened #1326 "[Android]slow load image on PointAnnotation"
hi.
i'm use below code for show image on point but slow load first time and try reload page load image !!!

`

            <Mapbox.PointAnnotation
              key={i}
              id={i.toString()}
              coordinate={[s.lng, s.lat]}
              title={`station${i}`}>
              {i === 0 ? (
                <>
                  <Image
                    // resizeMode={'cover'}

[2021-04-28 08:44] thijs-qv commented on #1325
Edit: My bad. When using one of the languages listed [here](https://docs.mapbox.com/vector-tiles/reference/mapbox-streets-v8/#overview) the labels do get localized. Since the language I need isn't supported, what I actually want is to display the names used locally. For example, country names and some city names are in English, no matter the localizeLabels setting.

[2021-04-28 08:44] #1325 closed

[2021-04-28 09:03] planthree1 commented on #1282
is there any temporary fix for this behavior?

[2021-04-29 10:24] mtnptrsn opened #1328 "(question) Possible to use AnimatedPoint for MarkerView / PointAnnotation?"
I can see there is class called AnimatedPoint, but it is not documented. Is it somehow possible to animate the position of a MarkerView or a PointAnnotation?

[2021-04-29 11:12] #1328 closed

[2021-04-29 13:20] thijs-qv commented on #1283
I'm also seeing this when using an emulator, but not on a physical device.

[2021-04-29 13:33] ferdicus commented on #1283
Thanks for replying 🙇🏿

This is a known issue from upstream and unfortunately there isn't much we can do.

Still waiting for @Nykolyn reply though

[2021-04-30 07:52] Nykolyn commented on #1283
@ferdicus  Just on the emulator, fixed by switching emulator settings to use software rendering.

[2021-04-30 11:14] #1283 closed

[2021-04-30 21:42] JorgeQuevedoC opened #1331 "Mapbox error Failed to load source composite: HTTP status code 403"
**Describe the bug**
Trying to get the "Getting started" example I started facing the following issue
![image](https://user-images.githubusercontent.com/19591200/116756357-93ed6600-a9d1-11eb-9abf-79a5e49e92d9.png)

**To Reproduce**
Import the component below into a View and run 'yarn run android

Please include a single standalone React Native component.

Example:
[code]

**Expected behavior**
Jus

[2021-05-01 19:47] cladjidane commented on #925
Hi  @matheus-gio , I see the same thing, have you solved the problem since? Thank you!

[2021-05-02 08:41] ferdicus commented on #925
The problem here being, that you use `followUserLocation` which will prevent most camera methods.
Try using the ref methods with the Camera like this:
[code]

should work

[2021-05-02 12:18] cladjidane commented on #925
@ferdicus indeed! Removing the followUserLocation property works great! Thanks :)

[2021-05-04 18:28] matias91 commented on #998
Hi, everyone!
I'm experiencing the same issue when I try to run my tests.
I tried @ferdicus suggestion, but after modifying **setup-jest.js**  I got this error:

[code]

This is a fresh RN project where I added `react-native-mapbox-g`.

[code]

[2021-05-04 20:12] ferdicus commented on #998
@matias91, I believe this is still the same issue.
The underlying issue is `NativeEventEmitter` which is a react-native module.
If you do not mock it, jest will attempt to call it and be like 🤷🏿 .

You have to mock it in order to run the tests properly.

[2021-05-04 20:29] matias91 commented on #998
Thanks for the answer, @ferdicus!
I'll try to mock it

[2021-05-05 04:32] ferdicus commented on #998
Just to be clear, this:
[code]

is supposed to mock it

[2021-05-05 07:17] roncodes commented on #806
+1 will try and use SymbolLayer for now, but would be nice if PointAnnotation could be rendered above LineLayer on android

[2021-05-06 19:25] nstele commented on #836
@tobrun is there any workaround or solution to avoid this issue on Android?

[2021-05-07 06:45] lin-mengxin commented on #559
I have the same problem, have you solved it?

[2021-05-07 14:48] ferdicus commented on #536
@andrei-tofan , @jaltin , sorry for being so late with this...
I've tried your repo and was running it on the device while debugging it with `Instruments` > `Time Profiler`.

Is the issue still relevant?

This is what I've perceived:
<img width="756" alt="Screenshot 2021-05-07 at 16 45 25" src="https://user-images.githubusercontent.com/26439946/117467089-a75d7b80-af53-11eb-8ff6-86c2be8b5736.png">

[2021-05-07 15:20] ferdicus commented on #1309
hey, thanks for opening a ticket - which `mapbox-sdk` version are you using?

[2021-05-07 15:22] #1326 closed

[2021-05-07 17:21] JorgeQuevedoC commented on #1331
Hi, nothing happened. Same error is being displayed

[2021-05-07 18:18] ferdicus commented on #1331
I'm assuming it is an issue with your token then.
Can you try to replicate it within our `/example` project?

Thanks

[2021-05-07 19:12] JorgeQuevedoC commented on #1331
Sure, let me try"

El vie, 7 may 2021 a las 13:19, Kid Commit ***@***.***>)
escribió:

[2021-05-08 13:42] SebSusi opened #1340 "<UserLocation> doesn't display everytime on Android"
**Describe the bug**
The UserLocation component doesn't work properly, it works some times, sometimes not, ONLY on android emulator and android devices.

**To Reproduce**
Call the UserLocation  in MapView

Example :

[code]
 i simplify my code like you asked our program is huge, but we tested exactly these line, and it sill not works

**Expected behavior**
Always see UserLocation on map.

**Actual

[2021-05-08 16:12] #1340 closed

[2021-05-09 13:46] ferdicus commented on #1340
what happened?

[2021-05-10 07:34] ghadeeraqraa1992 commented on #1315
no , I got it on production version using sentry.

[2021-05-10 16:45] perdomofranklin93 opened #1341 "Unit test | _maps.default.setAccessToken is not a function"
**Description**
Greetings, this dependency problem has been presented when running the unit tests, in other libraries the list of transformIgnorePatterns or jest.mock configurations is added. I also have to clarify that I am not testing the library, but that it has affected the rest of my tests.

**Expected behavior**
Run the tests without undefined functions

**Actual behavior**
This problem has

[2021-05-10 18:16] ferdicus commented on #1341
hi, did you follow this: https://github.com/react-native-mapbox-gl/maps#testing-with-jest

[2021-05-11 12:41] matias91 commented on #998
@ferdicus, sorry for my late answer.
I added that and it didn't mock it. I'll take a look later, maybe I did something wrong.
But I did added that to the `setup-jest.js`

[2021-05-12 05:49] gokugen commented on #891
Same behavior here, any solutions ?

[2021-05-12 05:54] NisargTailor commented on #1270
hey, I am facing a similar issue
trying to use all methods but did not work for me.

Platform: iOS
Platform OS: iOS 14.5
Device: iPhone 11 Pro
Emulator/ Simulator: iPhone 12
Dev OS: OSX 11.3.1
@react-native-mapbox-gl/maps : ^8.2.0-beta2
react: 17.0.1
react-native : 0.64.1

dyld: Library not loaded: @rpath/MapboxMobileEvents.framework/MapboxMobileEvents
  Referenced from: /Users/nisarg/Library/Deve

[2021-05-12 13:15] andrei-tofan commented on #536
Hi @ferdicus, thanks for looking into this, yes the issue is still relevant.

To reproduce the issue, you need to:
1. Run the app on a device
2. Simulate a driving session using the locations file mapstogpx20200512_055155.gpx included in the project (Simulate Location).
3. Send the app in the background and monitor the CPU usage in code.

Let me know if I can help with anything in reproducing this

[2021-05-12 20:25] SkySails commented on #1264
For me, it works as soon as I include a child element that is big enough to tap on. Here are two examples:

## Non-working version
Here, no events are fired and the marker does not move.
[code]
## Working version
 Here, events fire and I am able to drag the marker around just like on Android.  Not sure why, since it does output a marker symbol which makes you believe that it is a pressable area bu

[2021-05-13 08:50] bmbknds opened #1344 "React-native-mapbox-gl price?"
Hello guys,
I saw we need access token of mapbox for using library. But I don't know what feature/ service are react-native-mapbox-gl
 using from mapbox. So I dont know when will I have to pay money for mapbox, and how much. Can anyone tell me?
 Thank you.

[2021-05-13 14:32] #1344 closed

[2021-05-14 03:46] franciscohanna92 opened #1346 "Expose dragPan config option from Mapbox"
I have an app with two tabs for navigation where swiping to change tabs is enabled. In of the tabs I have a Mapbox instace.

I want to disabled the drag pan gesture (https://docs.mapbox.com/mapbox-gl-js/api/handlers/#dragpanhandler), and allow the user to use two fingers to pan the map. I don't think it's possible on this library at the moment. Or is it? I couldn't find it.

Any ideas for a workar

[2021-05-14 04:00] FashionCStar commented on #893
@snuuve
I am using markerview, but the markers are still visible during dragging.

[code]
Pointannotiation doesnt visible during dragging.
How could I fix it?

[2021-05-14 10:55] #1346 closed

[2021-05-14 18:47] gokugen commented on #1211
Hi, for your warning you can simply dismiss it like that:

[code]

[2021-05-14 18:53] beisert1 opened #1348 "Heading indicator with native UserLocation iOS"
**Describe the bug**
Heading indicator on UserLocation blue dot does not display if renderMode = "native" on iOS.

**To Reproduce**
Enable showsUserHeadingIndicator and renderMode = "native" in your UserLocation component.

Please include a single standalone React Native component.
Use [our BugReportTemplate](https://github.com/react-native-mapbox-gl/maps/blob/master/example/src/examples/BugReport

[2021-05-15 20:17] ferdicus commented on #1341
@perdomofranklin93, did you try like this:

    "setupFilesAfterEnv": [
      "@react-native-mapbox-gl/maps/setup-jest"
    ]

should work

[2021-05-15 20:27] ferdicus commented on #998
@matias91 , @agabriele-radius , @ElZombieIsra
coming back to this I noticed, that it doesn't seem to work with newer RN setups anymore 😞

However, I was able to mock it successfully by adding an extra setup file for jest like this:

[code]

then simply add this to your jest config in `package.json`:
[code]

Can you try and let me know if that helps?

Thanks

[2021-05-15 22:39] natedx opened #1349 "ShapeSourceRef.current.getClusterExpansionZoom is not a function"
**Describe the bug**
getClusterExpansionZoom method on ShapeSource doesn't seem to exist.

**To Reproduce**
Steps to reproduce the behavior.

- Clone a test project that uses ShapeSource, like this one : https://github.com/react-native-mapbox-gl/maps/blob/master/example/src/examples/SymbolCircleLayer/ShapeSource.tsx
- Enable clustering and test the method using the code given in the #1279 push req

[2021-05-16 07:20] LukeLaScala commented on #1349
Hey I figured this one out. The issue is more of a documentation error. The `getClusterExpansionZoom` method is only on the current beta build, not on 8.0.1. After upgrading to beta it was working fine

[2021-05-16 13:33] ferdicus commented on #1211
@zholmes1 , btw, I've found what's causing the warning - it's based on a change introduced by the upstream SDKs:
[ios](https://github.com/mapbox/mapbox-gl-native-ios/issues/589) / [android](https://github.com/mapbox/mapbox-gl-native-android/issues/649)

It's annoying, however I think it's save to ignore

[2021-05-16 13:34] ferdicus commented on #1349
Closing

[2021-05-16 13:34] #1349 closed

[2021-05-16 14:44] range-of-motion opened #1350 "Locking phone while moving around map causes crash on iOS"
**Describe the bug**
Locking phone while moving around map (before animation has finished) causes crash on iOS. I think it's fairly self-explanatory, but I'm happy to provide additional information if need be.

**Versions**
 - Platform: iOS
 - Platform OS: `14.x`
 - Device: iPhone (any)
 - Emulator/ Simulator: no
 - Dev OS: macOS (any)
 - react-native-mapbox-gl version: `8.2.0-beta1`
 - Mapbox GL

[2021-05-16 20:37] perdomofranklin93 commented on #1341
Yes i do, in the `jest.config.js` and the `package.json` files. look
![Captura de pantalla de 2021-05-16 16-25-11](https://user-images.githubusercontent.com/44304729/118411900-fd71a380-b664-11eb-907f-4885d5ca93b4.png)

[2021-05-16 21:22] perdomofranklin93 commented on #1341
@ferdicus i found the fix, i put this code in my jest `setup.js` to mock some libraries, i remove this code
[code]
it work
![Captura de pantalla de 2021-05-16 17-22-13](https://user-images.githubusercontent.com/44304729/118413042-4c223c00-b66b-11eb-9c53-a92e9771fbb2.png)

[2021-05-17 07:38] srilekhachowdaryananthaneni opened #1351 "Pricing for using mapbox with custom tile servers"
I am working on a commercial product(react native mobile application supporting Android and iOS) where we need to display a map view on a screen. We want to use a custom tile server(eg: OpenStreetMaps) as a data source without using Mapbox servers. It seems we need to anyway set access token even though custom tile servers are used. We would want to know if we will be billed in case we use custom

[2021-05-17 11:01] #1341 closed

[2021-05-17 11:03] #1351 closed

[2021-05-17 12:15] yudiz-vipul opened #1353 "Not able to export iOS build after archiving successfully."
I have following version installed in my project:
```"@react-native-mapbox-gl/maps": "^8.1.0",```
```"react-native": "^0.64.1",```

React Native Version 0.64.1 required cocoa pods version 1.10.1, but when I migrate to cocoa pods version 1.10.1 I am not able to export the archive which is successfully built.

[2021-05-17 12:28] #1353 closed

[2021-05-17 12:57] mfazekas commented on #1353
should be fixed in 8.2 betas

[2021-05-17 15:12] beisert1 commented on #1348
Closing this out as seems to be a trivial issue. Heading indicator is displaying on iOS device but not in simulator.

[2021-05-17 15:12] #1348 closed

[2021-05-17 20:56] naftalibeder opened #1354 "Updating to MBGL iOS SDK 6.3.0 on M1 chipset causes cocoapods linking error"
Has anyone had any success upgrading to 6.3.0 on iOS, e.g.

`$ReactNativeMapboxGLIOSVersion = '6.3.0'`

When I switch this value from 6.2.1, and do a clean cocoapods install, it produces the following compile error:

which ultimately I can trace down to the `Link Binary With Libraries` build phase. The only linked library in the list is titled `libPods-MyProject.a`, which references a file in `Pod

[2021-05-19 02:01] michaelVictoriaDev commented on #1014
Im having the same issue the image is not render

[code]

[2021-05-19 03:17] gokugen commented on #1354
Hi,
I think that you have forgotten to add this in your podfile:
[code]

[2021-05-19 16:05] naftalibeder commented on #1354
@gokugen Thanks for the response. Unfortunately it still produces the same error. I've tested whittling down the Podfile to its essentials, and I still can't get around the error:

[code]

Any other ideas?

[2021-05-19 16:45] ferdicus commented on #1354
can you post a few more specs, that might help others to debug:
* XCode Version
* Cocoapod version
* this repo version
* RN version

[2021-05-19 16:52] naftalibeder commented on #1354
Good call, my bad!

[code]

[2021-05-19 18:29] naftalibeder opened #1355 "Crashes in production with name `EXC_BAD_ACCESS`"
Our app has for a long time experienced frequent crashes in production that display the fairly ambiguous name `EXC_BAD_ACCESS` or similar.

Although the crashing _thread_ almost never references Mapbox, a lot of evidence seems to point to the library being the culprit. Looking at the other threads, there are a lot of references to Mapbox, in particular the `mbgl::resourceURL` calls. This is consis

[2021-05-19 18:40] naftalibeder commented on #1315
I created [a new issue](https://github.com/react-native-mapbox-gl/maps/issues/1355) about what could be the same problem as this, but with hopefully some more specifics and a broader scope, which is why I didn't simply post it as a response here.

[2021-05-20 09:45] thevishnupradeep opened #1356 "Unable to install on RN 0.64.1"
I am unable to install the library due to peer dependency conflict.

<img width="922" alt="Screenshot 2021-05-20 at 1 44 05 PM" src="https://user-images.githubusercontent.com/5638461/118957304-7593de00-b971-11eb-98f1-5636310f1f43.png">

[2021-05-20 10:54] ferdicus commented on #1356
I'm sure you've read the extensive description of how to open a bug ticket - unfortunately I've to close this issue for not following the instructions in said description.

Feel free to open a new ticket, following the instructions.

[2021-05-20 10:54] #1356 closed

[2021-05-20 13:41] Dawqss opened #1358 "Can't re-set absolute path on image source"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `@react-native-mapbox-gl/maps@8.1.0` for the project I'm working on.

When you want to change to new URL with absolute path (RNFetchBlob) after second time it doesn't add `file://` prefix to uri and it crashes

Here is the diff that solved my problem:

[code]

<em>

[2021-05-20 14:48] ferdicus commented on #1358
feel free to open a proper PR :)

[2021-05-21 13:04] ferdicus commented on #536
hey @andrei-tofan , I've taken a jab at this again today.

I've:
* run on device (I'm working with an iPad mini here, but I guess the specs should be on par, if not even worse than a phone)
* I've edited the scheme, allowed Location Simulation and set the `Default Location` => `mapstogpx20200512_055155.gpx`
* I've let it run on the device and can in fact see, that the position is moving around in

[2021-05-21 15:47] ferdicus commented on #536
Additional info: I've also removed the component render by listening to the AppState:
[code]

and then in `render`:
[code]

is this your current setup?

<br>

I didn't see any change compared to the previous test without rendering though.

![Screenshot 2021-05-21 at 17 45 46](https://user-images.githubusercontent.com/26439946/119164223-7eada980-ba5c-11eb-82b3-852c690bcf97.png)

Looking forward to

[2021-05-25 10:46] jaltin commented on #536
Hi @ferdicus, and thanks so much for looking into this!

Yes, the fact that the CPU is that high even when the app is in the background is the issue. Apple will terminate apps that run CPU over 80% in background after about 3 minutes (see for example this explanation on SO https://stackoverflow.com/a/59034393/991694).

In our app we have made a fix to get around this problem. This quote from an ea

[2021-05-25 11:08] ferdicus commented on #536
Thanks for further clarifying @jaltin 👍🏿

It's interesting, that your solution is reducing the CPU usage by unmounting the `UserLocation`, when I didn't see any decrease when not rendering the whole map.... 🤔

I'll invest more time in this in the coming days/ friday - and will update you on my findings.

In general I'm in agreement with you - this should be handled by us.

Thanks

[2021-05-25 11:47] jaltin commented on #536
@ferdicus Without actually checking into how it works in native, this is my guess as to what is going on:

- the map is still existing when you return null instead of the map when app is in bg. And the user location is then still listening for location updates and consuming the cpu, even though it is not rendered.
- In our fix, the user location is removed, and therefore the location update listen

[2021-05-25 13:16] xaiamov commented on #869
I have the same issue on Andorod with `renderMode='native'`.
It should be open unless there is no solution found.

[2021-05-26 08:38] savv commented on #869
Also hit this bug :-|. This issue seems to go away with 8.2

[2021-05-26 09:57] lin-mengxin commented on #806
+1

[2021-05-26 19:52] range-of-motion commented on #1350
I think [this is related](https://github.com/mapbox/mapbox-gl-native-ios/issues/553).

[2021-05-26 19:53] RobertSasak opened #1363 "Keep requesting location even when not in foreground"
**Describe the bug**
When _<MapboxGL.UserLocation/>_ is used app keeps requesting GPS position from location manager and device. This works as intendend. However app keeps requesting position even when not in foreground. This can happen when user press home button or user switch to another app. App keeps requesting location until is killed by system or manually by user.

**To Reproduce**
clone rep

[2021-05-26 20:40] RobertSasak commented on #1363
I managed to make it work. And is seems like that GPS is not used when app leaves foreground when _followUserLocation_ is set to _false_. Below code works.
[code]
GPS is used for two different purposes. One is to draw the blue dot on the map and another to follow users location with camera. Those are two different things. First works fine and register and unregister it's listeners when app enter f

[2021-05-27 09:40] gokugen commented on #1166
Hy you just forgot to put the title props on PointAnnotation.

[2021-05-27 17:11] SethArchambault opened #1364 "EsxFramebufferObject::DetachAll Segfault Crash for Android 9"
So we're seeing this Segfault crash showing up in Google Play Console.

[code]

The crash happens inside libGLESv2_adreno which is a lib that does OpenGL for Embedded Systems running on an Adreno GPU which is a Qualcomm-only GPU.. It primarily affects Android 9 Devices with the Adreno GPU.

I don't know for certain that it's a mapbox issue, but our app primarily deals with mapping, and I also foun

[2021-05-28 09:41] ferdicus commented on #1363
thanks for the write-up @RobertSasak, I'll look into this today.
This very well might also be related to #536

[2021-05-28 13:58] ferdicus commented on #1363
I can't reproduce this with your steps 😭
I'm on a Samsung Tablet with Android 10 - I hope this is not device/ android version specific stuff ....

I'll try to build some failsafe to prevent locationManager to keep running when the app goes into background nevertheless

[2021-05-28 17:20] RobertSasak commented on #1363
@ferdicus Thank you for trying.  Does your phone normaly shows little GPS icon in status bar?

[2021-05-28 19:56] ferdicus commented on #1363
Yes, just as you mentioned.

[2021-05-28 20:41] ferdicus commented on #1363
@RobertSasak, can you try with this PR https://github.com/react-native-mapbox-gl/maps/pull/1365
Caution: known issue, backbutton and return to app crashes it atm - so best to try home button and afterwards get the app back in foreground without using the back button at all

[2021-05-28 20:43] ferdicus commented on #536
@jaltin @andrei-tofan can you please try with PR https://github.com/react-native-mapbox-gl/maps/pull/1365
thanks

[2021-05-30 10:09] RobertSasak commented on #1363
When tesing on actual device make sure that you go to Settings > Apps >Example app > Power managment and disable all the fancy power optimalisation. In my case I can see that app is killed within 10s after is in background.

I tried the same concept as in PR https://github.com/react-native-mapbox-gl/maps/pull/1365 directly in my app and it worked.
I did not try the PR itself.

## Profiling

I play

[2021-05-30 19:36] julioxavierr commented on #1272
@dozGrou hey, did you find a solution for that?

[2021-05-30 21:52] dozGrou commented on #1272
@julioxavierr Nop sorry

[2021-06-01 15:12] naftalibeder commented on #1354
Hi, does anyone have any thoughts?

[2021-06-01 15:28] sweatherall commented on #1282
I'm also wondering if there is any temp fix or if a future solution is possibly in prospect?

[2021-06-01 16:21] badredaha commented on #1309
🙋‍♂️🙋‍♂️🙋‍♂️ same thing Here :/

[2021-06-01 16:42] ferdicus commented on #1354
I can only vouch for:
[code]

And it's building fine for my job.

I can try on friday with the `/example` and let you know more

[2021-06-02 08:59] cmpayc commented on #1363
I also noticed that the LocationManager is started when the `onHostDestroy` method is called, instead of stopping.
https://github.com/react-native-mapbox-gl/maps/blob/e15a1da9012afb967a47f6bca0c61c776dd7ab20/android/rctmgl/src/main/java/com/mapbox/rctmgl/modules/RCTMGLLocationModule.java#L32-L47

[2021-06-02 17:55] #1130 closed

[2021-06-02 17:55] #1137 closed

[2021-06-02 17:55] #1099 closed

[2021-06-03 14:27] zholmes1 commented on #1364
Could you post the JSX of the map that results in this error? My users are experiencing a similar crash sometimes, although I'm not 100% sure mine is caused by Mapbox. I'd like to see if there are any similarities between the ways we're using the component.

[2021-06-03 20:44] SethArchambault commented on #1364
@zholmes1 Sure! This is a deeply complex map, so I've inlined all the components, which strips out a lot of the stuff that makes it work (Added some comments to help out a bit), but should give you and idea for the overall structure:

[code]

There's probably room to simplify this beast!

[2021-06-04 01:19] jun-nguyen-goldenowl commented on #1085
Not stale

[2021-06-04 05:09] range-of-motion commented on #1350
Any word about this, or the upgrade to Mapbox's SDK for iOS v6.3?

[2021-06-04 08:51] inmoHwang opened #1377 "SymbolLayer iconOpacityTransition don't work"
Hi
I want fadein animation when SymbolLayer rendering finish.

1. how can i get SymbolLayer rendering finish event?
2. how use iconOpacityTransition?

this is my code
------------------------------------------------------------------------------
<MapboxGL.ShapeSource
            id="featureSource"
            ref={c => setSource(c)}
            shape={{
              type: 'FeatureCollection',

[2021-06-04 10:37] bobokeke0 commented on #1079
This also seem to affect camera.flyTo as well as changing the centerCoordinate dynamically using a state. When followUserLocation is set to true, both dont work, but if false, it works fine.

[2021-06-04 14:43] NathanJozef commented on #1114
I've just checked this issue and it is still a problem. Bumping this issue but since I seem to be the only person reporting the issue then I am going to jump into the source and have a look at it myself.

[2021-06-04 14:44] ferdicus commented on #1079
@gokugen - did you try `Camera` => `followPitch`
@bobokeke0 - I mean, those two are exclusive, how should the camera follow the user position and at the same time center the coordinate to a specific location? You have to chose one

[2021-06-04 14:49] ferdicus commented on #1114
@NathanJozef, sorry to be such a buzz kill, but yeah - I don't think this will get any love in the near future.
Just keeping this repo clean (issue grooming/ deps updates/ PR checks) is enough for one person, even more so when that person only has one weekday for this repo.

[2021-06-04 14:51] NathanJozef commented on #1114
@ferdicus, that's absolutely fine mate. Thank you for coming out and saying as much. At least it leaves us in little doubt of what is happening. I've forked the repo and will see if I can get a fix for it.

Appreciate all you've done with the repo so far so thank you for that.

[2021-06-04 14:53] ferdicus commented on #1377
hey @inmoHwang, please make sure to follow the issue template or else we can't help you and I'm going to close this issue.
The template is pretty straight forward on what information is required and what is optional.

Thanks

[2021-06-04 15:10] ferdicus commented on #1085
@savv , not sure - you can check the PR for the reasoning behind this addition: https://github.com/react-native-mapbox-gl/maps/pull/639

Maybe that'll give a hint

[2021-06-04 15:19] ferdicus commented on #1364
@SethArchambault, at this point, I don't think that there is much we can do from our side with this.
As you mentioned in your initial description, this seems to be deeply embedded in the native parts of the SDK and as there are no longer any meaningful updates on `mapbox/mapbox-gl-native-android` I think your best bet would be to check if they're tracking this same issue on the MapLibre side and o

[2021-06-04 15:27] ferdicus commented on #1363
Opened PR #1382 to address the issue you mentioned @cmpayc.
@RobertSasak, maybe you want to test that one out as well?

Thanks

[2021-06-04 15:42] range-of-motion commented on #1350
No worries, I know how it is. I appreciate the work you put into this.

I could try MapLibre, but I have to admit I'm unfamiliar with it. Do you mean I should just open up a native iOS project in Xcode, display a map using MapLibre's SDK and see if it suffers from the same bug?

[2021-06-04 15:46] zoolle opened #1383 "Calculate Ditance"
I need to calculate the distance between two points and by using this.

`const time_to_pickup = MapboxGL.geoUtils.calculateDistance(
      [currentLocation.longitude, currentLocation.latitude],
      [order.origin.longitude, order.origin.latitude],
      'meters',
);`

I get this

`TypeError: undefined is not an object (evaluating '_maps.default.geoUtils.calculateDistance')`

Is there a different

[2021-06-04 16:52] SethArchambault commented on #1364
@ferdicus Can you say more about how `mapbox/mapbox-gl-native-android` ties into this? I had just mentioned that as an example of where I was able to find the same issue occurring online, but `react-native-mapbox-gl/maps` doesn't rely on that right?

Also, I did a search for MapLibre in the `react-native-mapbox-gl/maps` repo and found this:
https://github.com/react-native-mapbox-gl/maps/blob/66343

[2021-06-04 18:40] ferdicus commented on #1350
MapLibre is just a fork of Mapbox before they changed their licensing.
It is a drop in replacement for the SDKs that we're currently using in `8.2.0-x`.

Steps on how to use it are explained within our installation guide.

[2021-06-04 18:43] ferdicus commented on #1383
Please use turf instead: https://turfjs.org/docs/#distance
Our geoutils are subject to change and internally they use turf anyways.

[2021-06-04 18:43] #1383 closed

[2021-06-04 18:59] ferdicus commented on #1364
Maybe this helps as a mental model:
[code]

So underneath, **this lib** uses native mobile mapbox SDKs for iOS (mapbox/mapbox-gl-native-ios) and Android (mapbox/mapbox-gl-native-android), which in turn use an even "nativer" core library for all the fancy 3d stuff (mapbox/mapbox-gl-native). The modern world of programming is a world of abstractions....

After some drama with licensing and such, map

[2021-06-04 19:03] SethArchambault commented on #1364
Wow, awesome thanks so much! I'll at least do some testing around this..

[2021-06-04 20:04] range-of-motion commented on #1350
Couldn't figure out how to use MapLibre, but that's probably my stupidity.

I *did* spend the night trying to figure out which iOS SDK versions have this bug, and which do not.

| Mapbox iOS SDK version | Has this bug? |
| - | - |
| 5.9.x | Yes |
| 6.0.x | Yes |
| 6.1.x | Yes |
| 6.2.x | No |
| 6.3.x | No |

TLDR–since 6.2 the bug has disappeared.

[2021-06-04 20:08] range-of-motion commented on #1350
Say you agree with me (and want to upgrade to 6.2), can you shed some light on the ETA for such an upgrade?

*And is there any other way to contact you besides these issues? I highly depend on this.. 🙄*

[2021-06-04 20:14] gokugen commented on #1079
@ferdicus yes even with `followPitch` there was a problem. I've simply resolved this by setting `setFollowUserLocation` to false then change the Pitch then reset it to true.

[2021-06-04 23:20] Nathaniel82166 opened #1385 "Hhhh"
---------

🚨🚨🚨
* Please respect and fill out the issue template
* Before you report, please make sure you tested on a physical device
* For build issues: Can you reproduce it on a clean install of the example app? Please include full steps to reproduce from `react-native init`
* Please include standalone code sample - a single component with one MapView in it. Use [one of our example](https://gith

[2021-06-05 06:35] ferdicus commented on #1350
You can check the [iOS installation guide](https://github.com/react-native-mapbox-gl/maps/blob/master/ios/install.md#mapbox-maps-sdk) - it should be descriptive enough to get you going.

I'd prefer it to be in the issues, as other people may have the same questions - so it's documented.

[2021-06-05 12:53] ferdicus commented on #1385
Are you alright?

[2021-06-05 12:53] #1385 closed

[2021-06-05 14:28] arabold opened #1386 "Update peer dependency to allow React 17"
**Describe the bug**
Currently, the `package.json` in `8.2.0-beta2` requires React 16 as a peer dependency and is not compatible with React 17 (although it actually is of course).

**To Reproduce**
If you're trying to install `@react-native-mapbox-gl/map` together with **React 17** and **npm 7**, you will get a peer dependency error as follows:

[code]

This can be worked around by running `npm in

[2021-06-05 15:44] ferdicus commented on #1386
Sounds reasonable 👍🏿
Would you be willing to open a PR for this - thanks 🙇🏿

[2021-06-05 17:03] range-of-motion commented on #1350
Thanks, didn't know it was that easy. I successfully used 6.2 and was able to get rid of the crash upon locking or entering the background.

I'm a bit skeptical about upgrading like this however, are there any unexpected side-effects or bugs that could appear because I'm a major version up from the library's current iOS SDK version?

[2021-06-05 17:37] ferdicus commented on #1350
I mean, there can always be bugs, right?
Mapbox was confident enough to release `6.2` as production ready, so there's that.

[2021-06-05 17:43] range-of-motion commented on #1350
Right, but I'm guessing there is somewhat of a bridge between this package and the iOS SDK? I was wondering if there would be any differences in that "bridge" between 5.x.x and 6.x.x?

[2021-06-06 06:31] iamir4g commented on #1270
Which part of the podfile should I enter this code?

[2021-06-07 00:58] #1377 closed

[2021-06-07 06:16] killerchip commented on #1014
I had the same issue. PointAnnotation on Android will render only the last element of the `children`. Including them all in `View` does not help. What I effectively did was to render a single SVG image using `react-native-svg`. So having a 'template' XML, and override specific values in it via string interpolation and then render a single `SvgXml` component.

[2021-06-07 13:58] ferdicus commented on #1350
it's a bit complicated - we are not developing in lockstep with the native SDKs.
For example `8.2.0-beta2` can be used with the default packed in iOS SDK `5.9.0` or with the last supported `6.3.0`.
The apis exposed by `5.9.0` shouldn't have changed towards `6.3.0`, however there might have been added some new features/ some bugs might've been fixed.

If it makes you feel better, we've been using `

[2021-06-07 14:13] range-of-motion commented on #1350
Thanks, that's reassuring.

I took `8.2.0-beta2` and `6.3.0` in production since yesterday as well, and so far it seems positive. That'll be it for now, I guess. Thanks for everything! 🙂

[2021-06-07 14:13] #1350 closed

[2021-06-07 17:51] kbaxx commented on #1350
Experiencing the same issue here on our production mobile apps having a major impact on our business.

@ferdicus Is there an ETA on getting the fix also into this package or does this solely depend on the connected mapbox ios sdk issue? Thanks in advance.

@range-of-motion How is the use of a different source resolving the issue on this package though? Gives a bit of a wrong impression of this iss

[2021-06-07 21:51] range-of-motion commented on #1350
There is no bug in this package. The bug is in Mapbox's iOS SDK.

As you can see in the table I posted a few comments above, it's fixed since 6.2. However this package still uses 5.9. Hence why you're experiencing this.

[2021-06-08 06:49] kbaxx commented on #1350
@ferdicus The residing open question is then: Are you planning to switch to 6.2 soon for this package as well?

[2021-06-08 11:17] ferdicus commented on #1350
@kbaxx, please read the whole thread carefully and then see if that answers your question.
I've already taken the time to explain how one can replace the native sdks.

[2021-06-08 20:40] NatRousseau commented on #1272
Hi @dozGrou , i try to make something like you, but when i write MapboxGL.Styles, he does not find .Styles. How did you go about using it ?

[2021-06-08 21:00] dozGrou commented on #1272
@NatRousseau Your IDE does not find it? I'm simply importing MapboxGL nothing more.

[2021-06-08 21:12] NatRousseau commented on #1272
@dozGrou And can we use dynamic latitude and longitude for draw a lineString when location change ?

[2021-06-09 12:52] Ankit-pat opened #1397 "Apple map with mapbox"
It's not a issue, i would like to ask. Is there any feature to show apple map on mapbox?

i have read all documentation and tried different things, but didn't got any way to achieve so.

[2021-06-09 13:09] ferdicus commented on #1397
you wanna go here: https://github.com/react-native-maps/react-native-maps

[2021-06-09 13:09] #1397 closed

[2021-06-09 13:25] Ankit-pat commented on #1397
Thanks dude

[2021-06-09 15:22] spyshower opened #1398 "How to add clusters?"
This is not a bug report.

How to add clusters to the map? I understand that the whole thing is not a responsibility of this package, but rather the ancient mapbox one.

I tried to search the old internet (including in this repo's issues' section) but all I could find is some code that uses `MapboxGL.geoUtils.makeFeatureCollection()` but this function returns undefined error.

[2021-06-10 11:52] jaltin commented on #1398
Check out this example that does clustering: https://github.com/react-native-mapbox-gl/maps/blob/master/example/src/examples/EarthQuakes.js

Also, you an read about it in the documentation: https://github.com/react-native-mapbox-gl/maps/blob/master/docs/ShapeSource.md

In general, issues are supposed to be used for bugs and problem solving. I suggest you post on stack overflow instead when you nee

[2021-06-10 16:48] king28051983 opened #1400 "Mapbox Offline Navigation"
How to use mapbox Offline Navigation? Offline tiles working properly but document not having any reference for how to use turn to turn navigation in offline mode.

[2021-06-10 21:46] NathanNovak commented on #774
We are also having issue #3 and am looking for advice and/or a solution to have map symbols appear when offline.

[2021-06-11 00:38] #1042 closed

[2021-06-11 00:38] #1070 closed

[2021-06-11 00:38] #1263 closed

[2021-06-11 00:38] #1231 closed

[2021-06-11 00:38] #1167 closed

[2021-06-11 00:38] #1292 closed

[2021-06-11 00:38] #539 closed

[2021-06-11 00:38] #344 closed

[2021-06-11 00:38] #1123 closed

[2021-06-11 01:50] noway commented on #1031
This issue is not stale. It's still happening @stale please remove the label.

As a workaround, we have to completely remove Mapbox in Simulator builds which is a huge pain.

[2021-06-11 02:38] HappyCodingLover commented on #707
Did you find any solution? @mosef

[2021-06-11 07:44] #1400 closed

[2021-06-11 08:52] ferdicus commented on #1139
@kenjichanhkg, what #1311 does is adding support for MapLibre iOS SDKs which are actively maintained compared to Mapbox's "old" SDK.
You can try out MapLibre instead of Mapbox as a native dependency (instructions are in our installation guide for iOS) and report back.

The issue itself is mentioned in this ticket: https://github.com/maplibre/maplibre-gl-native/issues/4

[2021-06-11 08:54] ferdicus commented on #1031
@noway, with #1311 we started to support MapLibre as a native SDK solution.
It is actively supported compared to Mapbox's "old" SDKs that are packed into this repo per default.
[This ticket](https://github.com/maplibre/maplibre-gl-native/issues/4) in their repo mentions this issue specifically.
Instruction on how to replace the underlying native SDK is described in out installation guides